.club {
    height: 340px;
    margin: 100px 0;
}
.club__container {
    @extend .container-1170 ;
    padding-top: 60px;
    padding-bottom: 60px;
}
.club--margin-b-50 {
    @extend .subscription--margin-b-50 ;
}
.club__title {
    @extend .subscription__title ;
    width: 100%;
}
.club__text {
    @extend .subscription__text ;
    width: 100%;
}

.club-flex__item--search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}
.club-in_search {
    width: 100%;
    height: 45px;

    form {
        width: 100%;
    }

    .club__input {
        width: 100%;
        height: 45px;
    }

    .club-in_search__span {
        position: absolute;
        background: #fff;
        outline: 0;
        border: none;
        border-left: 1px solid #dcdee1;
        cursor: pointer;
        width: 43px;
        height: 96%;
        padding: 0;
        right: 1px;
        top: 1px;
    }
    .club-in_search__picto {
        width: 100%;
        height: 100%;
        background: #fff url(/images/map.png) no-repeat center;
    }
    .club__input:focus ~ .in_text__label {
        background-color: $light-beige;
    }
    .in_text__label {
        top: 12px;
        left: 15px;
        font-weight: 400;
        font-family: $montserrat;
    }
}

@media (max-width: 1024px) {

}

@media screen and (max-width: 420px){
    .club {
        margin: 0;
    }
    .club-flex__item--search {
        margin-top: 20px;
        flex-direction: column;
    }

    .club-in_search .club-in_search__span {
        right: 1px;
    }
    .club-in_search .club__input {
        width: 100%;
    }
    .club--margin-b-50 {
        margin-bottom: 30px;
    }

}
