.legal-mentions__offer-title {
    color: #8f8e8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
.map-club__info {
  padding: 15px 5px;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 15px #fff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    transform: translateX(-50%);
  }
}

.map-club__image {
  position: absolute;
  top: 200px;
  right: 0;
  left: 406px;
}

.map-club__title {
  color: #636467;
  font-weight: 700;
  font-size: 16px;

}

.map-club__adress {
  color: #8f8e8f;
  font-size: 12px;
  line-height: 18px;
}

.map-club__lnk {
  color: #007ac1;
  font-weight: 500;
  font-size: 12px;
  border-bottom: 1px solid #007ac1;
  text-decoration: none;
}

.container-club-details {
  .presentation--container__lnk {
    text-decoration: none;
    border-bottom: 1px solid #007ac1;
  }

  .container-club-details--bigimage {
    height: 415px;
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }

  .subscribe__image__mobile {
    display: none;
  }

  .container-club-details--item {
    max-width: 100px;
      max-height: 57px;
      cursor: pointer;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .activeImg {
    border: 2px solid #007ac1;
    box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.11);
    position: relative;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    &:after {
      content: '';
      position: absolute;
      top: -8px;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: solid 6px #007ac1;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
    }

  }

  .container-details__yako {
    img.details-yako__backImage {
      object-fit: cover;
    }
    .details-yako__backImage {
      max-width: 100%;
      height: 475px;
      max-height: 475px;
      width: 100%;
    }
  }

  .yako__list__item {
    background-color: rgba(0, 122, 193, 0.1);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    p, h3 {
      color: #1588cb;
      margin-bottom: 0;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 16px;
    }
  }

  .yako__list__item--activeYako {
    box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.11);
    border: 1px solid #007ac1;
    background-color: #fff;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      bottom: 100%;
      left: -13px;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: solid 6px transparent;
      border-left: solid 6px transparent;
      border-right: solid 6px #007ac1;
      border-top: solid 6px transparent;
    }

    .details-yako__mainimage {
      position: relative;
    }

  }

  .js-yako-arrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .details-yako--rounded-blue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #007ac1;
    display: inline-block;
  }

  .rounded-blue--image {
    width: 39px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .advantages__header {
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .advantages__header__text {
    width: 70%;
    margin: 0 auto;
  }

  .advantages__item {
    box-shadow: 7px 12px 32px rgba(13, 9, 8, 0.11);
  }

  .advantages__item__image {
    border-right: 1px solid #bcbec0;
    margin-right: 10px;
    min-height: 60px;
    max-height: 60px;
  }

  .advantages__item__details {
    color: #8f8e8f;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    padding: 10px 5px;
  }

  .no-pad {
    padding-left: 0;
    padding-right: 0;
  }

  .container-subscribe {
    background-color: $light-beige;
    padding: 80px 0;

    img {
      //height: 100%;
      object-fit: cover;
    }

    .subscribe__content__btn {
      padding: 10px 50px;
    }
  }

  .subscribe__content {
    background-color: #fff;
    //height: 100%;
    padding: 30px 50px;
  }

  .subscribe__content__title {
    font-size: 22px;
    line-height: 30px;
  }


  .subscribe__content__text {
    width: 90%;
  }

  .subscribe__content__text--ma {
    @extend .subscribe__content__text;

    font-size: 10px ;
  }

  .container-map-club {
    background: url('/images/mapclub.png') no-repeat center center;
    height: 400px;
    position: relative;
  }

  .presentation-container_content {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .container-club-details__header {
    background: url('/images/salle-equipement-musculation.png') no-repeat center center;
    height: 574px;
    position: relative;
  }

  .container-club-details__header-wellness {
    background: url('/images/salle-equipement-wellness.jpg') no-repeat center center;
    height: 574px;
    position: relative;
    background-size: cover;
  }
  
  #header-map{
    @media (max-width: 576px) {
      display: none;
    }
    
    & .mapboxgl-canvas{
      height: 100% ;
      width: 100% ;
    }
    
    height: 100% ;
    width: 100% ;

    // don't use display:none, or .mapboxgl-canvas will fail
    visibility: hidden;
  }

  .container-club__infos {
    position: absolute;
    top: 5%;
    background-color: #fff;
    padding: 30px 90px 30px 50px;
    right: 5%;
    @media screen and (min-width: 1025px){
      min-width: 600px;
      right: 10%;
    }
    box-shadow: 7px 12px 32px rgba(13, 9, 8, 0.11);
    z-index: 2;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .club__infos__subtitle {
    color: #004589;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    &:before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #bcbec0;
      display: inline-block;
      margin: 15px 0px;
    }
  }

  .club__infos__subtitle--no-before {
    &:before {
      height: 0;
      width: 0;
    }
  }

  .club__adress__title {
    color: #636467;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    max-width: 285px;

  }

  .address-block {
    position: relative;
    height: 35px;
    overflow: hidden;
    i {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }

  .club__infos--opening-hour {
    display: none;
  }

  .club__infos__free-access {
    color: #636467;
    font-size: 14px;
    padding-bottom: 12px;
    font-weight: bold;
  }

  .container-club__hours {
    min-width: 300px;
    z-index: 1;
  }

  .address-block {
    position: relative;
    height: 50px;
    max-width: 95vw;
    overflow: hidden;
    i {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }

  .club__infos--opening-hour {
    font-weight: bold;
  }

  .club__infos__free-access {
    color: #636467;
    font-size: 14px;
    padding-bottom: 12px;
    font-weight: bold;
  }

  .club__infos__text {
    display: flex;
    flex-direction: column;
    color: #8f8e8f;
    font-size: 14px;
    line-height: 18px;
  }

  .address-block--is-hover {
    &:hover {
      cursor: pointer;
    }
  }

  .club__actions {
    .phone_number {
      display: none;
    }
  }


  .club__actions--active {
    .text {
      display: none;
    }

    .phone_number {
      display: inline-block;
    }
  }

  .club__infos--lnk {
    color: #007ac1;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    margin-right: 5px;
    border-bottom: 1px solid #007ac1;
  }

  .club__infos--lnk:not([href]):not([tabindex]) {
    color: #007ac1;
    cursor: pointer;
    text-decoration: none;
  }

  .container-club__contact {
    button, a {
      margin-right: 10px;
    }

    button:last-child, a:last-child {
      margin-right: 0;
    }
  }

  .container-club__filter {
    background-color: #fff;
    color: #8f8e8f;
    padding: 10px 20px;
    max-width: 140px;
    position: absolute;
    top: 89%;
    right: 66%;
    box-shadow: 7px 12px 32px rgba(13, 9, 8, 0.11);
    font-size: 12px;
  }

  .club__filter__span--btn-photo {
    &:after {
      content: '|';
      padding: 0 10px;
      color: #8f8e8f;
    }
  }

  .container-club__filter {
    cursor: pointer;
  }

  .club__filter__span--active-filter {
    color: #007ac1;
  }

  @media (min-width: 481px) {
    .advantage-carousel {
      display: flex;
      flex-wrap:wrap;
    }
  }


  .slider-presentation {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .details-yako__list {
    flex-direction: column;
  }

  .list__actions__btn {
    margin: 0 auto;
    max-width: 350px;
  }

  .legal-mentions__offer-title {
    color: #8f8e8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
  }

  .club__infos__badges {
    display: flex;
    flex-direction: row;
    margin: 12px 0;

    .club__infos__badge {
      width: 70px;
      height: 70px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}

@media (max-width: 1024px) {

  .container-club-details {
    .container-club-details--bigimage, .presentation--container__title {
      text-align: center;
    }

    .presentation--container__desc {
      max-width: inherit;
      padding-top: 20px;
    }

    .slider-presentation {
      justify-content: center;

      .container-club-details--item {
        margin-right: 10px;
      }
    }
  }
}

@media(max-width: 768px) {
    .js-yako-arrow {
        display: none;
    }
  .container-club-details {
    .presentation--container__desc {
      max-width: inherit;
      padding-top: 30px;
    }

    .container-club-details--bigimage {
      text-align: center;
    }

    .subscription__description {
      margin: 0 auto;
    }

    .subscribe__image {
      height: 100%;
    }

    .presentation__title {
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .container-club-details {

    .list__actions__btn {
      font-size: 11px;
    }

    .details-yako-slider {
      .owl-item {
        padding: 20px 0;
      }
    }

    .yako__list__item--activeYako {
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 6px #007ac1;
        border-left: solid 6px transparent;
        border-right: solid 6px transparent;
      }
    }

    .full-w-mobile {
      padding: 0;
    }

    .club__adress__title {
      font-size: 24px;
    }

    .container-subscribe {
      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .map-club__info {
      width: 200px;
      right: -14%;
      top: 50px;
    }

    .map-club__image {
      top: 222px;
      left: 147px;
    }

    .container-club-details__presentation {
      padding-top: 50px;
    }

    .container-map-club {
      padding: 0 15px;
    }

    .pad-mobile {
      padding: 0 15px;
    }

    .presentation-container_content {
      flex-direction: column;
    }

    .container-advantages {
      .owl-carousel {
        .owl-stage-outer {
          padding: 20px 0px;
        }

        .owl-item img {
          width: auto;
        }
      }
    }

    .subscribe__content {
      padding: 30px 15px;

    }

    .subscribe__content__btn {
      width: 100%;
      margin: 0 auto;
    }

    .container-club-details__header {
      background: inherit;
      position: inherit;
    }

    .container-club__infos {
      position: relative;
      padding: 10px;
      top: 0;
      right: 0;
    }

    .presentation--container__desc {
      padding-left: 0;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .container-club-details__presentation {
      .row {
        flex-direction: column-reverse;
      }

      .presentation__title {
        text-align: center;
      }
    }

    .components-list {
      .components-list__content__cards {
        div:nth-child(-n+12) {
          display: block !important;
        }
      }
    }

    .presentation-container_content {
      .row {
        flex-direction: column;
      }
    }

    .components-list__header {
      padding-left: 15px;
      padding-right: 15px;

      p {
        width: 100%;
      }
    }

    .advantages__header {
      padding-right: 15px;
      padding-left: 15px;

      p {
        width: 100%;
      }
    }

    .container-club-details--item {
      &:after {
        border: none;
      }
    }

    .container-club-details--bigimage {
      display: none;
    }

    .activeImg {
      border: none;
    }

    .slider-presentation {
      .container-club-details--item {
        max-width: inherit;
        max-height: inherit;
        margin: 0 10px;

        img {
          height: auto;
        }
      }

      .owl-stage {
        padding-left: 0px !important;
      }

    }

    .container-details__yako {
      .row  {
        flex-direction: column-reverse;
      }
    }

    .container-details__yako {
      flex-direction: row;

      .owl-stage {
        padding-left: 0px !important;
      }

      .yako__list__item {
        margin: 0 15px;
      }
    }

  }
}

.virtual-tour{
  width: 100%;
  height: 600px;
}