#map {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.concept-logo {
    width: 200px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-logo-svg {
    width: 115px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-logo-tunnel {
    height: initial;
}
.logo-svg {
    width: 200px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------ */
/* STEP 1  */
/* ------------ */
.container-find_club__header {
  height: 400px;
  padding-top: 90px;
  margin: 0 auto;
  position: relative;
  min-width: 100%;

  .container-find_club__header__bg {
    position: absolute;
    background-image: url('/images/Korrilis75.jpg');
    background-position: center;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 2.5;
    width: 100%;
    height: 100%;

    .club__header__bg_opacity {
      position: relative;
      background-color: #212121;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }

  .club-in_search {
    .club__input:focus ~ .in_text__label {
      background-color: #f5f5f5;
    }
  }

  .find_club__item {
    background-color: #f5f5f5;
    padding: 20px 30px;
    margin-top: 30px;

  }

  .club-in_search {
    margin-right: 10px;
  }

}

.container-find-club__list {
  img {
    width: 100%;
    max-width: 100%;
    max-height: 150px;
  }

  .find-club__list__parent-picture {
    padding: 10px;

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: 0;
      padding: 0;
      width: 100%;
    }
  }

}

.find_club__content__presentation__title {
  padding-top: 80px;
  margin-bottom: 3rem;
}

.container-find_club__seo {
  padding-left: 0;

  img {
    max-width: 100%;
    height: auto;
    padding-right: 100px;
  }

  .find_club__seo__content {
    max-width: 80%;
  }

}

@media(max-width: 1200px) {
  .container-find_club__seo {
    padding-left:15px;
    img {
      padding-right: 0;
      margin:0 auto;
    }
    .find_club__seo__content {
      text-align: center;
      max-width: 100%;

      h2 {
        padding-top: 80px;
      }
    }
  }
}


@media (max-width: 1024px) {
  .container-find_club__seo {
    padding-right: 15px;
    padding-left: 15px;


    .presentation__title {
      text-align: center;
      padding-top: 80px;
    }

    img {
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 15px;
      object-fit: cover;
      width: 100%;
    }
  }
}

@media(max-width: 768px) {

  .container-find_club__header {
    .find_club__item {
      width: inherit;
    }
  }

  .container-find_club__seo {
    padding-left: 15px;

    img {
      max-width: 100%;
      padding: 0px 15px;
      object-fit: cover;
    }
  }
}

@media (max-width: 575px) {

  .container-find-club__list {
    img {
      max-height: 100px;
    }
  }

  .container-find_club__seo img {
    width: 100%;
    max-height: 150px;
  }

  .find_club__item {
    .club-in_search {
      padding-bottom: 10px;

      .club-in_search__span {
        border-left: 1px solid #dcdee1;
      }
    }
  }

  .presentation__title {
    text-align: center;
  }
}

@media(max-width: 320px) {

  .container-find-club__list {
    img {
      max-height: 85px;
    }
  }
  .container-find_club__header {
    .in_text__label {
      font-size: 12px;
    }
  }

  .container-find-club__list {
    .in_picture__title {
      font-size: 14px;
    }
  }
}

/* ------------ */
/*    STEP 2    */
/* ------------ */
.presentation-container {
  .presentation-container_content {
    .row {
      flex-direction: row !important;
    }
  }
}

.city-container {
  padding: 0 1rem;
}

.container-search-result {
  .search-result__header__content {
    padding: 30px;
    margin: 0 auto;

    button {
      margin: 0 20px;
    }
  }

  .club-in_search {
    width: 100%;

    .club-in_search__span {
      right: -19px;
    }

  }

  .search-result__more_criteria {
    i {
      color: #007ac1;
      margin-right: 5px;
    }

    a {
      color: #007ac1;
      font-size: 12px;
    }
  }

  .search-result__header {
    background-color: rgba(188, 190, 192, 0.3);
  }

}

.container-search-result__content {
  .club__footer__actions {
    outline: 0;

    &:hover {
      box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.39);
    }
  }

  .phone_number {
    display: none;
  }

  .club__footer__actions--active {
    img {
      display: none;
    }

    .phone_number {
      display: inline-block;
    }
  }


  .search__content__left {
    max-height: 800px;
    overflow-y: auto;
  }

  .search__content__map {
    height: 800px;

    img {
      max-width: 100%;
    }
  }

  .card-club {
    position: relative;
    border: 1px solid #bcbec0;
    margin-top: 15px;
    transition: box-shadow 0.3s ease-in;

    &:hover {
      box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
    }

    .btn__subscription {
      margin: 0;
    }

    .card-club__main-image {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    .link-club {
      text-decoration: none;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }

    .button-int {
      z-index: 1;
    }

    .card-club__title {
      margin-bottom: 0;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .postal {
      text-transform: uppercase;
    }

  }

  .club__footer__actions_phone:not(.club__footer__actions--active):hover {
    background-color: inherit;
  }

  .card-club {
    min-height: 485px;

    a:hover {
      text-decoration: none;
    }
  }

  .wellness {
    .card-club__details {
      color: $blue-wellness;
      line-height: 22px;
      font-size: 12px;
      margin-bottom: 0;

      i {
        color: $blue-wellness;
        margin-right: 5px;
      }
    }

    .card-club__title {
      border-top: 2px solid $blue-wellness;
    }

    .btn:not(.card-club__image) {
      &:hover {
        background-color: $blue-wellness;
      }
    }

  }

  .fitness {
    .card-club__details {
      color: #f36c21;
      line-height: 22px;
      font-size: 12px;
      margin-bottom: 0;

      i {
        color: #f36c21;
        margin-right: 5px;
      }
    }

    .card-club__title {
      border-top: 2px solid #f36c21;
    }

  }

  .card-club__content {
    padding-top: 10px;

    .card-club__title {
      padding-top: 20px;
      color: #636467;
      font-weight: 700;
      line-height: 20px;
      font-size: 16px;
    }

    .card-club__adress {
      width: 70%;
      color: #8f8e8f;
      font-size: 12px;
      line-height: 18px;
    }

  }

  .card-club__footer {

    form {
      margin-bottom: 0;
    }

    margin-top: auto;

    .card-club__image:last-child {
      margin-left: 10px;

      &:hover {
        background-color: #fff;
      }

      img {
        max-width: inherit;
      }
    }
  }
}

@media(max-width: 1466px) {
  .result__card__footer {
    width: 100%;
    padding-bottom: 15px;
  }

  .card-club__footer {
    form {
      width: 100%;
      padding-bottom: 15px;

      .club__footer__abo-btn {
        width: 100%;
      }
    }
  }

  .container-search-result__content .card-club {
    min-height: inherit;
  }
}

@media(max-width: 1200px) {
  .result__card__footer {
    width: inherit;
    padding-bottom: inherit;
  }

  .card-club__footer {
    form {
      width: inherit;
      padding-bottom: inherit;

      .club__footer__abo-btn {
        width: inherit;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container-search-result__content .card-club {
    min-height: inherit;
  }
  .container-search-result {
    .container-search-result__header--content {
      form .club-in_search__span {
        right: -20px;
        height: 95%;
        bottom: 1px;
      }

      .fa-plus-circle {
        margin-top: 0px;
      }
    }
  }

}

@media (max-width: 575px) {
  .container-search-result__content {
    .search__content__left {
      overflow-y: initial;
      max-height: inherit;
    }

    .search__content__map {
      display: none;
    }

    .card-club {
      min-height: inherit;
    }
  }

  .container-criteria__mobile {
    padding: 20px 30px;
    color: #8f8e8f;

    a {
      pointer-events: none;
      text-decoration: none;
      color: #8f8e8f;
    }

    i {
      color: #8f8e8f;
      margin-right: 5px;
    }

    .criteria__list {
      border-right: 1px solid #bcbec0;
      padding: 0px 15px;
    }

    .criteria__carte {
      padding-left: 15px;
    }
  }
  .container-search-result {
    .search-result__header__content {
      padding: 30px 5px;

      h2 {
        padding-bottom: 30px;
      }

      form {
        flex-direction: column;

        .club-in_search {
          width: 100%;
        }

        .btn {
          width: 100%;
          max-width: 100%;
          margin: 10px 0 20px 0;
        }
      }
    }
  }
  .container-criteria__mobile {
    .active {
      span, i {
        color: #007ac1;
      }
    }
  }
}

@media(max-width: 320px) {
  .card-club__footer {
    flex-wrap: nowrap !important;
    padding: 0.5rem;

    .club__footer__abo-btn {
      font-size: 11px;
    }
  }
}

