/* ---------- */
/* Containers */
/* ---------- */
figure {
    margin: 0;
}

.link-cards {
    cursor: pointer;
}

.container-970 {
    max-width: 970px;
    margin: 0 auto;
}
.container-1170 {
    max-width: 1170px;
    margin: 0 auto;
}
.container-full-w {
    max-width: 100%;
}

.container--bg-l-grey{
    background: #fafafa;
}

.container--bg-h-grey {
    background-color: #f5f5f5;
}

.container--bg-r-grey{
    background: #edeff2;
}
.container--margin-t-150 {
    margin-top: 150px;
}
.container--margin-t-100 {
    margin-top: 100px;
}

.container--padding-t-50 {
    padding-top: 50px;
}

.container--padding-t-80 {
    padding-top: 80px;
}

.container--padding-t-100 {
    padding-top: 100px;
}

.container--padding-t-150 {
    padding-top: 150px;
}

.container--padding-t-200 {
    padding-top: 200px;
}

.container--padding-t-250 {
    padding-top: 250px;
}

.container--padding-t-80 {
    padding-top: 80px;
}
.container--padding-b-80 {
    padding-bottom: 80px;
}
.container--padding-tb-15 {
    padding: 15px 0;
}
.container--flex {
    display: flex;
    align-items: center;
}
.container--flex-between {
    justify-content: space-between;
}
.container--flex-start {
    justify-content: flex-start;
}
.container--flex-around {
    justify-content: space-around;
}
.container--bg-white {
    background: white;
}

.container--shadow {
    box-shadow: 7px 12px 32px rgba(13, 9, 8, 0.11);
}

.col--no-gutter {
    padding:0;
}

@media screen and (max-width: 768px) {

    .container__tablet--margin-t-250 {
        margin-top: 250px;
    }
}

@media screen and (max-width: 1045px) {

    .container--flex-between {
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .container--padding-xl-t-300{
        padding-top: 300px;
    }

    .container__mobile--padding-b-t-20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container__mobile--padding-b-t-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container--padding-tb-15 {
        padding: 8px 0;
    }
    .container__mobile--margin-t-300 {
        margin-top: 300px;
    }

    /** owl **/
    .owl-item.active {
        .subscription-tiles__item.js-item-carousel {
            border: 1px solid #bcbec0;
            box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.19);
            transform: none;
            padding: 0;
        }
        .subscription-tiles__item.js-item-carousel:hover {
            border: 1px solid #bcbec0;
            box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.19);
            transform: none;
            padding: 0;
        }
    }
    .carousel__owl-item {
        width: 260px;
        margin: 0 7px;
        padding-bottom: 20px;
        .subscription-tiles__item:hover {
            border: 1px solid #ebebeb;
            box-shadow: none;
            transform: none;
        }
    }
    /** fin owl **/
}
