html {
    scroll-behavior: smooth;
}

body {
    font-family: $montserrat;
}
a {
    text-decoration: none;
}
p {
    color: $grey;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.fas--blue {
    color: #007ac1;
} 

.text--uppercase {
    text-transform: uppercase;
}
.text--bold {
    font-family: $montserrat;
    font-weight: bold;
}
.text--t-center {
    text-align: center;
}
.text--t-right {
    text-align: right;
}

.text-left-m-center {
    text-align: left;

    @media screen and (max-width: 575px) {
        text-align: center;
    }
}

.hidden {
    visibility: hidden;
}