.h1 {
    color: $orange-main;
    font-family: $montserrat;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

.h2 {
    color: $blue-main;
    font-family: $montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.subtitle {
    color: $grey-dark;
    font-family: $montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.title--underlined-center--blue {
    position: relative;
    &:after {
        background-color: #007ac1;
        content: '';
        position: absolute;
        display: block;
        height: 6px;
        width: 100px;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.title--underlined-left--blue {
    position: relative;
    &:after {
        position: absolute;
        background-color: #007ac1;
        content: '';
        height: 6px;
        display: block;
        width: 100px;
        bottom: -25px;
        left: 0;
    }
}

.title--underlined-left-m-center--blue {
    position: relative;
    &:after {
        position: absolute;
        background-color: #007ac1;
        content: '';
        height: 6px;
        display: block;
        width: 100px;
        bottom: -25px;
        left: 0;
    }

    @media screen and (max-width: 575px) {
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.title--underlined-right--blue {
    position: relative;
    &:after {
        background-color: #007ac1;
        content: '';
        position: absolute;
        display: block;
        height: 6px;
        width: 100px;
        bottom: -25px;
        right: 0;
    }
}
.title--underlined-center--orange {
    position: relative;
    &:after {
        background-color: #f36c21;
        display: block;
        content: '';
        position: absolute;
        height: 6px;
        width: 100px;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.title--underlined-left--orange {
    position: relative;
    &:after {
        background-color: #f36c21;
        content: '';
        position: absolute;
        display: block;
        height: 6px;
        width: 100px;
        bottom: -25px;
        left: 0;
    }
}
.title--underlined-right--orange {
    position: relative;
    &:after {
        background-color: #f36c21;
        content: '';
        position: absolute;
        display: block;
        height: 6px;
        width: 100px;
        bottom: -25px;
        right: 0;
    }
}
.title--underlined-left--white {
    position: relative;
    &:after {
        position: absolute;
        background-color: $white;
        content: '';
        height: 6px;
        display: block;
        width: 100px;
        bottom: -25px;
        left: 0;
    }
}

@media (max-width: 1200px) {
    .title--underlined-center-md--blue {
        position: relative;
        &:after {
            background-color: #007ac1;
            display: block;
            content: '';
            position: absolute;
            height: 6px;
            width: 100px;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 576px) {
    .h2 {
        font-size: 24px;
        width: 90%;
        margin: 0 auto;
        line-height: 28px;
    }
}
