//Fonts

// Body
$body-bg: #f5f8fa;

$fa-font-path:     "../fonts/webfonts";
$montserrat:     "Montserrat", sans-serif;
$helvetica-neue: "Helvetica Neue Condensed";
$gotham: "Gotham";

$helv-com-bd: "HelveticaNeueLTCom-Bd";
$helv-com-hv: "HelveticaNeueLTCom-Hv";
$helv-com-lt: "HelveticaNeueLTCom-Lt";
$helv-com-ro: "HelveticaNeueLTCom-Roman";


//Colors
$orange-main:      #f36c21;
$orange-light:     #f79e6e;
$orange-fitness:   #F37021;
$purple-wellness:  #812990;
$blue-wellness:    #5BC5F2;
$blue-main:        #004589;
$blue-second:      #007ac1;
$dark-light-blue:  #6eb3dd;
$light-blue:       #b3d7ed;
$red:              #ee3124;
$grey-dark:        #636467;
$grey:             #8f8e8f;
$light-grey:       #dcdee1;
$light-grey-faq:   #f2f2f2;
$light-grey-brdr:  #ebebec;
$light-beige    :  #fafafa;
$white          :  #fff;
$blue-third     :  #005b98;
