.container-list__header {
  background: url('/images/banniere.png') no-repeat;
  width: 100%;
  height: 400px;
}

.list__header_presentation {
  color: $white;
  width: 40%;
  margin: 0 auto;
}

.container-list {
  .main-header__picto {
    bottom: -10px;
  }
}

.btn-more-yako {
  max-width: 350px;
  margin: 0 auto;
}

@media(max-width: 768px) {
  .btn-more-yako {
    max-width: 350px;
    font-size: 11px;
  }

  .list__header_presentation {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .container-list {
    .main-header__picto {
      bottom: -180px;
    }

    .components-list {
      padding-top: 200px;
    }

  }
}


