.container-single-activity {
  .container-single-activity__header {
    img {
      max-width: 100%;
      height: auto;
    }

    background-image: url('/images/banniere.png');
    width: 1919px;
    height: 310px;
    padding-top: 120px;
    margin: 0 auto;
  }

  .container-single-activity--title {
    text-shadow: 2px 4px 8px rgba(13, 9, 8, 0.18);
    color: $white;
    font-size: 50px;
    font-weight: 700;

  }

  .container-single-activity__content {
    img  {
      max-width: 100%;
      height: auto;
    }
  }

  .container-single-activity--name {
    margin-bottom: 50px;

    &:after {
      width: 50px;
    }
  }

}


@media(max-width: 1024px) {
  .container-single-activity {
    .container-single-activity--name {
      text-align: center;
      margin-top: 30px;

      &:after {
        width: 50px;
        left: 50%;
        bottom: -55px;
        margin-bottom: 30px;
      }
    }
  }
}
