/**
 **** Fitness & Wellness big banner V2
 */
// Fitness
.subscription-header--fitness {
  background: #004888 url("/images/subscription_fitness_big_banner.jpg") no-repeat 40% center;

  @media screen and (max-width: 991px) {
    background-position-x: 60%;
  }
}

.subscription-header__title--fitness {
  color: $orange-main;
}

// Wellness
.subscription-header--wellness {
  background: #004989 url("/images/subscription_wellness_big_banner.jpg") no-repeat right center;

  @media screen and (max-width: 1024px) {
    background-position-x: 52%;
  }

  @media screen and (max-width: 767px) {
    background: #004989;
  }
}

.subscription-header__title--wellness {
  color: $dark-light-blue;
}

// Shared
.subscription-header__image {
  @media screen and (max-width: 575px) {
    padding-left: 15px;
  }
}

.subscription-header__title {
  font-family: $montserrat;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  margin: 10px 0 20px;

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

  @media screen and (max-width: 374px) {
    font-size: 35px;
    line-height: 35px;
  }
}

.subscription-header__text {
  font-family: $montserrat;
  font-size: 16px;
  color: $white;
}

/**** End fitness & wellness big banner V2 */

.subscription-single {
  padding-bottom: 50px;

  .in_picture__pastille {
    height: 17%;
    bottom:-3%;
  }

  .subscription-single__header {
    position: relative;
    height: 600px;

    .wellness {
      //color: #812990;
    }
  }

  .subscription-single__header-body {
    width: 50%;
    margin-bottom: 100px;
  }
  .style-wellness {
    //background-color: rgba(255,255,255,.8);
    padding: 10px;
    width:60%;
    border-radius: 4px;
  }

  .components-list__lnk {
    display: inline-block;
    max-width: inherit;
  }

  .testimony__item__quote {
    color: #8f8e8f;
    opacity: 0.4;
  }

  .testimony__item__text {
    line-height: 36px;
    color: #636467;
    font-size: 24px;
    margin-bottom: 0px;
    padding-top: 20px;
  }

  .testimony__item__small  {
    color: $grey;
    display: block;
    padding: 20px 0;
  }

  .testimony__item__lnk {
    color: $blue-third;
    font-size: 14px;
    margin-right: 10px;
  }

  .testimony__item--rounded {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: $blue-third;

    img {
      display: inline-block !important;
      width: 7px !important;
    }
  }

  .owl-next span {
    font-size: 50px;
    color: $blue-second;
  }

  .owl-prev span {
    font-size: 50px;
    color: $blue-second;
    opacity: 0.3;
  }

  .owl-theme {
    .owl-nav [class*=owl-]:hover {
      background-color: $white;
    }
  }

  .container-details__yako {
    .owl-carousel {
      display: inline-block;
    }
  }

  .yako__lnk__discover {
    display: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: right;
    border-bottom: 1px solid #dfdfdf;
  }

  .yako__lnk--active {
    color: $blue-third;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
  }

  .yako__list__item {
    background-color: rgba(0, 122, 193, 0.1);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    p, h3 {
      color: #1588cb;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 16px;
    }
  }

  .yako__list__item--activeYako {
    box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.11);
    border: 1px solid $blue-second;
    background-color: $white;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      bottom: 100%;
      left: -13px;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: solid 6px transparent;
      border-left: solid 6px transparent;
      border-right: solid 6px $blue-second;
      border-top: solid 6px transparent;
    }

  }


  .container-abo {
    padding-top: 200px;
  }

  .container-subscribe {
    margin-top:80px;
  }

  .container-subscribe__container {
    box-shadow: 7px 12px 32px rgba(13, 9, 8, 0.11);
  }

  .subscribe__image__mobile {
    display: none;
  }

  .subscription-single__image--mobile {
    img {
      display: none;
    }
  }

  .subscribe__content {
    background-color: $white;
    padding: 40px 80px;
    height: 100%;

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  .subscribe__content__btn {
    padding: 10px 50px;
  }

  .subscribe__image {
      height: 100%;
      object-fit: cover;
  }
}

@media(max-width: 1024px) {
  .subscription-single {
    //.subscription-single__header {
    //  background-position-x: 100%;
    //}

    .subscription-single__header-body {
      width: 60%;
      //background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      margin: 0 auto;
    }

    .carousel-testimony {
      .item {
        flex-direction: column;
      }
    }
  }
}

@media(max-width: 768px) {
  .subscription-single {
    .container-abo {
      padding-top: 280px;
    }

    .subscribe__content {
      padding: 15px;
    }

    .subscribe__content__title {
      text-align: center;
      font-size: 26px;
    }

    .subscribe__content__btn {
      margin: 0 auto;
    }

    .main-header__picto {
      bottom: -200px
    }

    .presentation-container_content .row {
      flex-direction: column;
    }

  }
}

@media(max-width: 575px) {
  .subscription-single {
    .presentation--container__desc  {
      padding-top:30px;
    }
    .container:first-child {
      padding: 0;
    }
    .contain-wellness {
      top: 0;
      position: absolute;
    }

    .subscription-single__header-body {
      padding: 20px 0;
      margin-top: 80px;
    }

    .components-list__lnk {
      max-width: 100%;
      font-size: 11px;
    }

    .subscription-single__header {
      //background: none;
    }

    .subscription-single__image--mobile {
      position: relative;

      img {
        display: block;
        width: 100%;
      }
    }

    .subscription-single__content-mobile {
      position: absolute;
      top: 0;
      padding: 0 15px;
    }

    .testimony__item__text {
      font-size: 16px;
      line-height: 26px;
    }

    .testimony__item__small  {
      font-size: 14px;
      line-height: 18px;
    }

    .container-details__yako {
      .row {
        flex-direction: column-reverse;
      }
    }

    .subscription-single__header-body {
      width: 100%;
    }
    .style-wellness {
      width: 95%;
      margin-top: 80px !important;
    }

    .details-yako-slider {
      .owl-item {
        padding-right: 20px;
      }

      .owl-stage {
        padding-left: 0 !important;
      }

      .yako__lnk__discover {
        display: none !important;
      }
    }

    .yako__list__item {
      max-width: 200px;
      p {
        display: block;
        text-align: center;

      }
    }

    .yako__list__item--activeYako {
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-top: solid 6px #007ac1;
        border-left: solid 6px transparent;
        border-right: solid 6px transparent;
      }
    }
  }

  .container-subscribe {
    .container-subscribe__container {
      padding: 0 15px;
    }

    .subscribe__content {
      padding: 0;
    }

    .subscribe__content--pad {
      padding: 25px 15px;
    }

    .subscribe__image__mobile {
      display: block;
      padding-top: 20px;
    }

    .col-md-6:first-child {
      display: none;
    }

    .subscribe__content__title {
      text-align: center;
    }

    .subscribe__content__btn {
      width: 100%;
    }
  }
}
