.cms-container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}

.cms-row {
  display: flex;
  flex-wrap: wrap;
}

.cms-header {
  background: url('/images/cmsheader.png') no-repeat center center;
  height: 400px;
  position: relative;
}

.cms-overlay {
  position: absolute;
top:0;
left:0;
  width: 100%;
  background-color: #212121;
  height: 100%;
  opacity: 0.5;
    z-index: 0;
}

.cms-header__content {
    padding: 0;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.cms-title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.cms-description {
  margin: 0 auto;
}

.cms-h2 {
  color: #004589;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  position: relative;
  margin-bottom: 50px;

  &:after {
    background-color: #007ac1;
    content: '';
    position: absolute;
    display: block;
    height: 6px;
    width: 100px;
    bottom: -25px;
    left: 0;
  }
}

.img-under-title{
  margin-bottom: 15px;
}

.cms-content {
  color: #8f8e8f;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.cms-content a.btn {
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: $montserrat;
  font-weight: bold;
  font-size: 14px;
  display: block;
  padding: 11px 15px;
  text-align: center;
  max-height: 42px;
  border-radius: 20px;
  max-width: 249px;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  text-decoration: none;
  color: white;

  background-color: $orange-main;

  &:hover {
    color: white;
    background: #e56520;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
  }
}

.cms-image {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.cms-col-1 {
  width: 8.33%;
}

.cms-col-2 {
  width: 16.66%;
}

.cms-col-3 {
  width: 25%;
}

.cms-col-4 {
  width: 33.33%;
}

.cms-col-5 {
  width: 41.66%;
}

.cms-col-6 {
  width: 50%;
}

.cms-col-7 {
  width: 58.33%;
}

.cms-col-8 {
  width: 66.66%;
}

.cms-col-9 {
  width: 75%;
}

.cms-col-10 {
  width: 83.33%;
}

.cms-col-11 {
  width: 91.66%;
}

.cms-col-12 {
  width: 100%;
}

[class*="cms-col-"] {
  padding: 15px;
}

@media(max-width: 575px) {
  [class*="cms-col-"] {
    width: 100%;
  }

  .cms-title {
    font-size: 24px;
  }

  .cms-header__content {
    padding-top:20px;
  }

  .cms-description {
    font-size:14px;
    padding:15px;
    width: 100%;
  }

}
