.subscription-single {
  .components-list__cards {
    div:nth-child(-n+12) {
      display: block;
    }
  }
}

.components-list {
  background: $white;
}

.in_picture{
  transition: box-shadow 0.3s ease-in;
}

.list__cards__item {
  .in_picture:hover {
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
  }
}

.components-list__header {
  margin: 0 auto;
  padding-bottom:20px;
}

.components-list__title {
  margin-bottom: 50px;
}

.components-list__text {
  width: 70%;
  margin: 0 auto;
}

.components-list__cards {
  margin-bottom:30px;

  .col-6 {
    padding:5px;
  }
  img {
    width: 100%;
    max-width: 100%;
  }
}

.list__cards__item {
  display: none;
}

.list__cards__item:nth-child(-n+8) {
  display: block;
}


.components-list__actions {
  button {
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  .list__cards__item {
    display: none;
  }
  .list__cards__item:nth-child(-n+8) {
    display: none;
  }
  .list__cards__item:nth-child(-n+2) {
    display: block;
  }

  .components-list__cards{
    padding:5px;
    margin-bottom:0px;
  }

  .components-list__text {
    width: 100%;
  }

  .list__cards__item {
    margin-bottom: 0px;
  }

}
