.container-breadcrumbs {
  background-color: #fff;

  ol {
    background-color: #fff;
    color: #636467;
    font-size: 12px;
    padding-bottom: 0;
    padding-left: 0px;

    a {
      color: #636467;
    }

  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
  }

  .breadcrumb-item:not(:first-child):before {
    content: '';
    background: url('/images/chevron.png') no-repeat center center;
    display: inline-block;
    width: 7px;
    height: 11px;
    margin-right: 5px;

  }
}

@media(max-width: 575px) {
  .container-breadcrumbs {
    ol {
      padding-left: 15px;
    }
  }

}
