.btn-offer-round {
position: relative;
width: 40px;
height: 40px;
margin: 0 auto 0 auto;
}
.btn-offer-round-tiny {
    position: relative;
    min-width: 30px;
    width: 30px;
    height: 30px;
    margin: 10px 25px 10px 15px;
}

.btn-offer-round label, .btn-offer-round-tiny label {
background-color: #fff;
border-radius: 50%;
cursor: pointer;
left: 0;
position: absolute;
top: 0;
width: 40px;
height: 40px;
border: 3px solid #9a9a9a;
}
.btn-offer-round-tiny label {
    width: 30px;
    height: 30px;
}

.btn-offer-round input[type="radio"], .btn-offer-round-tiny input[type="radio"] {
visibility: hidden;
}

.btn-offer-round input[type="radio"]:checked + label, .btn-offer-round-tiny input[type="radio"]:checked + label {
border-color: #f36c21;
width: 40px;
height: 40px;
border-radius: 50%;
background: #f36c21 url(/images/whitecheck.png) no-repeat center center;
border: none;
margin: 0 auto 0 auto;
}

.btn-offer-round-tiny input[type="radio"]:checked + label {
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.btn-offer-round input[type="radio"]:checked + label:after, .btn-offer-round-tiny input[type="radio"]:checked + label:after {
opacity: 1;
}