/* ------- */
/* BUTTONS */
/* ------- */

//----- Base

.btn {
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: $montserrat;
  font-weight: bold;
  font-size: 14px;
  display: block;
  padding: 11px 15px;
  text-align: center;
  max-height: 42px;
  border-radius: 20px;
  max-width: 249px;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  text-decoration: none;
}

.btn--flex {
  @extend .container--flex ;
}

//----- Background
.btn--bg-orange {
  background-color: $orange-main;

  &:hover {
    color: white;
    background: #e56520;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
  }
}

.btn--bg-transparent {
  background: none;

  &:hover {
    background: $orange-main;
  }
}

.btn--bg-white {
  background: white;

  &:hover {
    background: $orange-main;
  }
}

.btn--bg-transparent {
  background: transparent;

  &:hover {
    background: $orange-main;
  }
}

.btn--bg-blue {
  background: $blue-main;

  &:hover {
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
    background: #004589;
  }
}

.btn--bg-purple {
  background: $blue-wellness;

  &:hover {
    background: white;
  }
}

.btn--bg-purple-2 {
  background: $blue-wellness;
  border: 1px solid $blue-wellness;

  &:hover {
    background: transparent;
    border: 1px solid $blue-wellness;
    color: $blue-wellness;
  }
}

//----- Text
.btn--t-orange {
  color: $orange-main;

  &:hover {
    color: white;
    border: 1px solid $orange-main;
  }
}

.btn--t-white {
  color: white;
}

//----- Border
.btn--bd-orange {
  border: 1px solid $orange-main;
}

.btn--bd-white {
  border: 1px solid $white;
}

btn--bd-purple {
  border: 1px solid $blue-wellness;
}

//----- Form modifier
.btn--full-height {

}

.btn--lg {
  width: 249px;
}

.btn_icone {
  font-size: 20px;
}

.btn__subscription {
  margin: 15px auto 0 auto;
}

.btn__subscription_mobile {
  display: none;
}

.btn__header {
  margin-right: 30px;
  padding: 11px 40px;
}

.btn__price {
  @extend .btn__header ;
}

.btn__faq {
  box-sizing: content-box;
  border-radius: 60px;
  font-size: 24px;
  padding: 26px 29px 24px 32px;
  margin: 24px auto 60px auto;
}

.btn--margin-t-0 {
  margin-top: 0;
}

.btn--margin-right {
  margin-right: 15px;
}


/* ------- */
/*  LINKS  */
/* ------- */

//----- Base
.lnk {
  font-size: 12px;
  text-decoration: none;
  display: block;
  font-family: $montserrat;
  font-weight: bold;
  letter-spacing: 0.12px;

  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

    &--weight-normal{
        font-weight: normal;
    }
}

//----- Background

//----- Text
.lnk--blue {
  color: $blue-main;
}

.lnk--orange {
  color: $orange-main;
}

.lnk--grey {
  color: $grey-dark
}

.lnk--white {
  color: white;
}

.lnk--t-light {
  font-weight: 300;

  &:hover {
    font-weight: 400;
  }
}

.lnk--t-regular {
  font-weight: 400;
}

//----- Form modifier
.lnk--hv-blue {
  &:hover {
    color: $blue-main;
  }
}

.lnk--hv-orange {
  &:hover {
    color: $orange-main;
  }
}

.lnk--hv-white {
  &:hover {
    color: $white;
  }
}

.lnk--underline {
  &:hover {
    text-decoration: underline;
  }
}

.lnk__underline-transition--orange {
  &:after {
    border: 1px solid $orange-main;
  }
}

.lnk__underline-transition--blue {
  &:after {
    border: 1px solid $blue-second;
  }
}

.lnk__underline-transition--white {
  &:after {
    border: 1px solid $white;
  }
}


.lnk__underline-transition {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 15%;
    width: 70%;
    height: 1px;
    transition: 0.5s all ease-out;
  }
}

.lnk__underline-transition:hover {
  text-decoration: none;
  &:after {
    width: 100%;
    left:0;
  }
}


/* --------------- */
/*  LINKS (icons)  */
/* --------------- */

//----- Base
.lnk__icone {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  padding: 9px 6px 3px 6px;
  line-height: 18px;

  &:hover {
    text-decoration: none;
  }
}

//----- Background
.lnk__icone--bg-white {
  background: white;
  border: 1px solid $orange-main;

  &:hover {
    background: $orange-main;
  }
}

.lnk__icone--bg-orange {
  background-color: $orange-main;

  &:hover {
    border: 1px solid $orange-main;
    background: white;
  }
}

//----- Text
.lnk__icone--t-orange {
  color: $orange-main;

  &:hover {
    color: white;
  }
}

.lnk__icone--t-white {
  color: white;

  &:hover {
    color: $orange-main;
  }
}

.lnk__icone--t-grey {
  color: $grey-dark;
}

.lnk__icone--sm {
  font-size: 17px;
}

//----- Form modifier
.lnk__icone--round {
  border-radius: 20px;
}

.lnk_padding--side {
  padding: 0 6px;
}


/* ------------- */
/*  BREADCRUMBS  */
/* ------------- */

.brdcrumbs__active {

}

.brdcrumbs__inactive {

}

.navicon {
  border: none;
  background-color: transparent;
  outline: none;
  display: none;
  font-size: 11px;
  line-height: 22px;
  color: #8f8e8f;
  text-align: center;
  text-transform: uppercase;
  font-family: $montserrat;
  font-weight: bold;
  padding-top:10px;

  &:focus {
    border: none;
    outline: none;
  }

  &__holder {
    display: block;
    cursor: pointer;
  }

  &__line {
    position: relative;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    border-radius: 5px;
    background-color: #8f8e8f;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.25s cubic-bezier(0.57, 0.28, 0.25, 0.69);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--toggle &__line:first-of-type {
    transform: rotate(45deg) translateY(4px) translateX(4px);
  }

  &--toggle &__line:nth-of-type(2) {
    opacity: 0.0;
    transform: scale(0);
  }

  &--toggle &__line:last-of-type {
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
  }

}

@media screen and (max-width: 1045px) {

  .container--flex, .btn--flex, .nav--flex, .list--flex {
    order: 3;
    flex-wrap: wrap;
  }
}

@media(max-width: 1024px) {
  .navicon {
    display: block;
  }

  .btn__pulp {
    display: none;
  }

  .bottom__header-container {
    justify-content: space-evenly;
  }
}

@media(max-width: 736px) {
    .btn__faq {
      font-size: 20px;
      padding: 16px 0px;
    }
}

@media screen and (max-width: 565px) {

  .bottom__header .container--flex {
    flex-direction: column;
  }
  .bottom__header .list--flex {
    flex-direction: column;
  }
  .bottom__header .btn--flex {
    flex-direction: row;
  }
}

@media screen and (max-width: 420px) {
  .bottom__header .container--flex {
    flex-direction: row;
  }

  .btn__subscription {
    display: none;
  }
  .btn__subscription_mobile {
    display: block;
  }
  .btn--lg {
    width: 225px;
  }
}
