/* ------------- */
/*     Header    */
/* ------------- */

.logo {
    width: 170px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 420px) {
        width: 100px;
    }
}
.js-logo-bar {
    width: 65px;
    height: initial;
}
.logo-concept-home {
    width: 225px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__desktop {
    width: 170px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top__header {
  @extend .container--bg-r-grey ;
  padding: 3px 0;
}

.baseline__title {
  @extend .lnk ;
}

.bottom__header-scroll {
  .menu_item--active {
    a {
      position: relative;

      &:after {
        bottom: 0%;
      }
    }
  }
}

.menu_item--active {
  position: initial;
  margin-top: 16px;
  > a {
    position: initial;

    &:after {
        content: '';
        width: 50%;
        margin-left: 25%;
        height: 1px;
        margin-top: 0px;
        margin-bottom: 8px;
        display: inline-block;
        border-bottom: 3px solid #007ac1;
    }
  }

  .dropdown > a {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      right: 26%;
      bottom: -30%;
      border-bottom: 3px solid #007ac1;
    }
  }
}
.menu_item--active:last-of-type, .menu_item--active:first-of-type {
    position: initial;
    margin-top: 0;
}

.baseline--t-regular {
  font-family: $montserrat;
  font-weight: 400;
  color: #8f8e8f;
  font-size: 12px;
  letter-spacing: 0.18px;
}

.bottom__header {
  border-bottom: 1px solid #bcbec0;
  background-color: #fff;
  transition: all 0.3s;

  .nav--flex {
    justify-content: space-around;
      ul li .dropdown {
          position: initial;
      }
  }
}

.bottom__header-container-scroll {
  transition: all 0.3s;
  padding: 9px 0 9px 0;
  justify-content: inherit;

  nav {
    padding-left: 10px;
  }

  .btn--flex__desktop {
    margin-left: auto;
  }

  .list__menu {
    li {
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }
} 

.bottom__header-scroll {
  transition: all 0.3s;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.nav--flex {
  @extend .container--flex ;
}

.logo__mobile {
  display: none;
}

.main-header {
  width: 100%;
  height: 450px;
  position: relative;

  @media (min-width: 576px) {
    height: 678px;
  }
  //background-position-x: 115% !important; //TODO to refactor waiting for BO admin image
}

.main-header__sub-btn {
  border: 1px solid $white;
}

.main-header--home {
  background: #004585 url('/images/home_big_banner_v2.jpg') no-repeat;
  background-size: cover;
  background-position-x: 45%;

  @media screen and (max-width: 991px) {
    background-position-x: 60%;
  }

  @media screen and (max-width: 767px) {
    background-image: url('/images/home_big_banner_mobile.jpg');
    background-size: inherit;
  }

  @media screen and (max-width: 420px) {
    height: 460px;
  }
}

.main-header__title {
  line-height: 45px;
}

.main-header__description {
  color: $white !important;
}

@media screen and (max-width: 420px) {
  .main-header__presentation--home {
    .main-header__title {
      color: $orange-main;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.main-header__orange {
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  position: absolute;
}

.main-header__orange .container-1170 {
  height: 100%;
}

.main-header__blue {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
}

.main-header__presentation {
  width: 55%;
  margin-bottom: 100px;

  .main-header__description {
    font-size: 17px;
    color: #8f8e8f;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 25px;
  }
}

.main-header__title {
  margin-bottom: 25px;
}

.home-lnk {
  font-size: 13px;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 6px;
    width: 13px;
    background: url("/images/arrow-white.png") no-repeat center center;
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-header__picto {
  position: absolute;
  bottom: -85px;
  left: 0;
  z-index: 3;
  width: 100%;

  @media screen and (max-width: 991px) {
    bottom: -250px;
  }
}

.btn--flex__desktop {
  display: flex;
}

.main-header__discover {
  margin-top: 35px;
  padding-top: 30px;
  border-top: 1px solid rgba($white, 0.5);
}

.main-header__discover-label {
  color: $white;
  font-family: $montserrat;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 1620px) {
  .main-header {
    //background-position-x: 0 !important; //TODO to refactor waiting for BO admin image
  }
  .main-header__orange .container-1170 {
    justify-content: center;
  }
  .main-header__presentation {
    width: 60%;
    //background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
}

@media(max-width: 1024px) {
  .bottom__header .container--flex .nav--flex {
    display: none;
    order: 3;
    width: 100%;
    border-top: 1px solid #bcbec0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    //background: url('/images/ORANGE_BLEU_HEADER_MOBILE.png') no-repeat !important; //TODO to refactor waiting for BO admin image
    //background-size: cover !important; //TODO to refactor waiting for BO admin image
  }
  .main-header__picto {
    bottom: -85%;
  }
  .main-header__presentation {
    width: 75%;
  }
  .main-header__title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 580px) {
  .main-header__presentation {
    width: 95%;
  }
  .main-header__title {
    font-size: 28px;
    line-height: 34px;
  }

  .bottom__header-container-scroll {

    .list__menu li {
      padding: 20px 10px;
    }

    .btn--flex__desktop {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 420px) {

  header {
    display: flex;
    flex-direction: column;

    .btn__subscription_mobile {
      margin-right: 5px;
    }

    .btn--flex__desktop {
      display: inherit;
    }

  }
  .top__header {
    display: none;
    order: 3;
  }
  .top__header .container--flex {
    flex-direction: column;
  }
  .top__header .container--flex div {
    padding: 5px;
  }
  .top__header .container--flex .nav--flex {
    flex-direction: column;
  }
  .top__header .container--flex .nav--flex .list--flex {
    flex-direction: row;
    padding: 5px;

    li {
      &::before {
        content: none;
      }
    }
  }
  .bottom__header .container--flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .bottom__header .container--flex .nav--flex .list--flex {
    flex-direction: column;

    li {
      width: 100%;
      text-align: center;
    }
  }
  .logo__mobile {
    display: block;
  }
  .logo__desktop {
    display: none;
  }
  .bottom__header-scroll-mobile {
    padding: 5px 0;
  }
  .bottom__header-container-scroll-mobile {
    justify-content: space-between !important;

  }

  .btn__subscription_mobile-scroll {
    color: white;
    background-color: $orange-main;
    padding: 6px 10px;

    &:hover {
      box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
    }
  }

  .main-header {
    width: 100%;
  }
  .main-header__blue {
    background: url('/images/degrade_bleu_mobile.png') no-repeat right top !important; //TODO to refactor waiting for BO admin image
  }
  .main-header__orange .container-1170 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-header__title {
    width: 80%;
  }
  .h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .main-header__presentation {
    width: 95%;
    margin-bottom: 0;
    margin-top: 30px;
    background-color: transparent;
    padding: 0;

    p {
      font-size: 14px;
      text-align: left;
      color: #636467;
    }
  }
  .main-header__buttons {
    flex-direction: column;
  }
  .main-header__buttons .btn__header {
    max-width: 100%;
    margin: 10px 0 20px 0;
    width: 100%;
  }

}
