/* ------ */
/* INPUTS */
/* ------ */

//----- Base

.in_text, .in_radio {
  position: relative;
  max-width: 260px;
}

.in_text__label {
  left: 5px;
  top: 10px;
  position: absolute;
  font-size: 14px;
  pointer-events: none;
  color: #8f8e8f;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.in_text__input {
  display: block;
  height: 40px;
  border: 1px solid #dcdee1;
  font-size: 16px;
  padding: 0 5px;
  color: #636467;
  background-color: white;
}

.in_text__input--valid {
  border: 1px solid #005b98;
  outline: none;
}

.in_text__input--invalid {
  border: 1px solid #ee3124;
  outline: none;
}


.in_text__validmark {
  content: '';
  display: none;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 10px;
  height: 16px;
  border: solid #005b98;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.in_text__input--invalid {
  @extend .in_text__input;

  &:focus {
    border: 1px solid #ee3124;
  }

}

.in_popover__error {
  display:none;
}

.in_text_error {
  display: none;
}

.js-in_text__invalid {

  .in_popover__span {
    display:none;
  }
  .in_popover__error {
    display: block;
    position: relative;
    left: 90%;
    top: -32px;
  }

  .in_popover__span {
    bottom: 23px !important;
  }

  .in_text_error {
    display: block;
    color: #ee3124;
    font-size: 11px;
    font-weight: 400;
  }
}

//----- Material design animation
.in_text__input:focus ~ .in_text__label,
.in_text__input:valid:not(.is-empty) ~ .in_text__label {
  top: -9px;
  font-size: 12px;
  color: #005b98;
  background-color: white;
  padding: 0px 5px;
}


.js-in_text__valid {
  .in_text__input:valid:not(.is-empty) ~ .in_text__validmark {
    display: block;
  }
}


//----- Checkbox type 1
.in_checkbox__input--1{
  opacity: 0;
  position: absolute;
  top:34%;
  left:18.5%;
}

.in_checkbox__input--2{
  position: absolute;
  top: 5px;
  left: 5px;
}

.in_checkbox__radio {
  position: relative;
  width: 580px;
}

@media(max-width: 768px) {
  .in_checkbox__radio {
    width: auto;
  }
}

.in_checkbox__label--1 {
  position: relative;
  color: #8f8e8f;
  font-family: $montserrat;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  width: 110px;
  line-height: 35px;
  border-radius: 40px;
  display: block;
  cursor: pointer;
  border: 1px solid #dcdee1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
}

.in_checkbox__label--1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.in_checkbox__input--1:checked + label {
  background-color: #dee7ed;
  color: #005b98;
  border: 1px solid #005b98;
  padding-left: 15px;

  .in_text__validmark {
    display: block;
    right: 0px;
    left: 18px;
    width: 8px;
    height: 14px;
  }
}

//----- Checkbox type 2
.in_checkbox__input--2 {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 3px;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #005b98;
  }

  // Checkmark.
  &:checked + label:after {
    content: '';
    position: absolute;
    background-color: #005b98;
    left: 7px;
    top: 4px;
    color: #fff;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    opacity: 0.5;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:after {
    background-color: inherit;
  }
}

//----- Radio type 1.
.in_radio--1 {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
  width: 260px;
  height: 50px;

  .in_radio__input--1 {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }

  .in_radio__label--1 {
    padding: 12px 30px;
    width: 260px;
    height: 50px;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      content: '';
      display: none;
      position: absolute;
      left: 16px;
      top: 15px;
      width: 8px;
      height: 14px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      left: 9px;
      top: 13px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #9a9a9a;
      z-index: 1;
    }

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .in_radio__span--1 {
      margin-left: 15px;
    }
  }

  .in_radio__input--1:checked ~ label {
    border: 2px solid #f36c21;

    &:before {
      display: block;
    }

    &:after {
      border: inherit;
      background-color: #f36c21;
      display: block;
    }
  }

}

//----- Radio type 2.
.in_radio--2 {
  position: relative;

  .in_radio__input--2 {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;

    // Disabled box.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:after {
      box-shadow: none;
      opacity: 0.5;
    }
  }

  .in_radio__span--2 {
    margin-left: 5px;
  }

  .in_radio__label--2 {
    padding: 12px 30px;
    width: 260px;
    height: 50px;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      content: '';
      display: none;
      position: absolute;
      left: 15px;
      top: 14px;
      width: 7px;
      height: 13px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      left: 9px;
      top: 13px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #9a9a9a;
      z-index: 1;
    }

  }


  .in_radio__input--2:checked ~ label {
    &:before {
      display: block;
    }

    &:after {
      border: inherit;
      background-color: #f36c21;
      display: block;
    }
  }

}

//----- Select.
.in_select {
}

.select2-dropdown{
  z-index: 1040 !important;
}

.select2-dropdown--below {
  border: 1px solid #005b98;
  border-radius: 0px;
}

.select2-container{
  width: 100% !important;
}

.select2-selection{
  height: 100%;
  width: 100% !important;

  height: 45px !important;

  border: 1px solid #dcdee1 !important;

  border-radius: 0 !important;
}

.select2-results__message,
.select2-results__options > .loading-results{
  display: none !important;
}

.select2-selection__rendered{
  margin-top: 8px !important;
}


//----- Input popover
.in_popover {
  position: relative;

  .in_popover__input {
    @extend .in_text__input;

    &:active, &:focus, &:valid {
      border: inherit;
    }
  }

  .in_popover__label {
    @extend .in_text__label;

  }

  .in_popover__input::placeholder {
    padding: 10px;
  }

  .in_popover__span {
    position: absolute;
    left: 195px;
    bottom: 8px;
  }
}

//----- Input search
.in_search {
  position: relative;

  .in_search__input {
    @extend .in_text__input;

    &:active, &:focus, &:valid {
      border: 1px solid;
    }
  }

  .in_search__span {
    position: absolute;
    background: #fff url('/images/map.png') no-repeat center;
    border-left: 1px solid #bcbec0;
    width: 30px;
    height: 35px;
    left: 185px;
    bottom: 1px;
  }
}
