.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list--flex {
  @extend .container--flex ;
}

.list__icon li {
  line-height: 0.5;
}

.list__lnk {

}

.list__lnk li {

  position: relative;
  padding: 0 10px;

  &:before {
    content: '';
    position: absolute;
    border-left: 1px solid #bcbec0;
    left: 0;
    width: 1%;
    height: 55%;
    top: 20%;
  }
}
.list__menu li {
  padding: 4px 10px;
}

.list__menu li:nth-child(-n+2){
  font-family: $montserrat;
  font-weight: 700;
}

.list__menu {
  .dropdown-menu {
    padding:10px;
  }

  .dropdown-menu a {
    padding-bottom:10px;
  }
}



.container-list__content {
  padding: 200px 0px 100px 0px;
  background-color: #fafafa;

  .container-list__content--item__header {
    .in_picture {
      text-align: left;
      padding-bottom: 1rem;

      img {
        width: 100%;
      }
    }
  }

  .container-list__content--item__footer {
    padding-bottom: 30px;

  }

}

@media (max-width: 768px) {
  .container-list__content {
    .row {
      text-align: center;

      .container-list__content--item__header {
        .in_picture {
          text-align: center;
        }

        img {
          width: inherit;
        }
      }

      .container-list__content--item__footer {
        p {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container-list__content {
    .presentation__text {
      width: 100%;
    }
    .row {
      text-align: center;

      .container-list__content--item__footer {
        p {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}
