@media(max-width: 396px){
    .mapboxgl-map[data-context~="find-club"],
    .search__content__map{
        height: 300px !important;
    }
}

.map__styler{
    z-index: 5;
    position: absolute;

    background-color: white;
    padding: 6px 10px 0;
    border-radius: 0 0 5px;
}

.header-map__controls--hide{
    visibility: hidden;
}