.modal-content  {
  width: 570px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 0 3rem 3rem;

  .in_text__input {
    width: 100%;

  }
}

.blocks .block-sample .in_text .padding-pastille{
  padding: 0 27px 0 5px;
}

.mt-modal {
  margin-top: 20px;
}

.in_popover__span_modal {
  position: absolute;
  top: 25%;
  left: 85%
}

.in_textarea {
  .in_text__label {
    left: 20px;
  }

  .in_text__input {
    height: inherit;
  }
}

.modal_text {
  font-size: 11px;
}

.in_checkbox__label--modal {
  font-size: 12px;
}

.modal-title {
  font-size: 22px;
}

.modal_btn {
  margin: 0 auto;
}

.modal_in_checkbox {
  display: flex;
  position: relative;
}

.in_checkbox__label--modal {
  padding-left: 15px;
}

.modal_in_checkbox {
  font-size: 12px;

  label:before {
    border: 1px solid #bcbec0;
  }
}

.modal-body {
  .in_text, .in_textarea {
    max-width: inherit;
  }
}

.modal_btn {
  max-width: inherit;
}

.cross_button {
  .navicon__line:first-of-type {
    transform: rotate(45deg) translateY(4px) translateX(4px);
  }

  .navicon__line:nth-of-type(2) {
    opacity: 0.0;
    transform: scale(0);
  }

  .navicon__line:last-of-type {
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
  }
}

.tunnel-modal_content {
  width: 100%;
}

.tunnel-modal_body {
  background: white;
  padding: 2rem;
  border: 6px solid $orange-main;

  .tunnel-modal__closeBtn {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 8px;
    top: 10px;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;

    span {
      width: 25px;
      height: 25px;
      display: block;

      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 20px;
        background: $blue-main;
        transform: rotate(45deg) translate(0, 15px);
      }

      &:before {
        content: "";
        position: absolute;
        height: 3px;
        width: 20px;
        background: $blue-main;
        transform: rotate(-45deg) translate(-15px, 0);
      }
    }
  }
}

.tunnel-modal_form {
  input, select {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .w-49 {
    width: 49%;
  }

  .with-arrow {
    background: #ffffff url("/images/arrow_down.svg") 98% no-repeat;
    appearance: none;
  }

  .row {
    margin: 12px 0;
  }

}

// Loader on modal contact
.form-loader {
    margin: 10px auto;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid #C0C0C0;
    border-bottom: 5px solid #C0C0C0;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width: 1200px) {
  .modal-body {
    .in_text, .in_textarea {
      margin-top: 20px;
      max-width: inherit;
    }

    .in_popover__span_modal {
      left: 90%;
    }

    .in_textarea {
      .in_text__label {
        top: 10%;
      }

      .in_text__input:focus ~ .in_text__label {
        top: 10px;
      }
    }


  }

  .mt-modal {
    margin-top: 0;
  }

}

@media(max-width: 768px) {
  .modal-body {
    padding: 0 1rem 1rem;
  }

  .modal-content  {
    width: inherit;
  }
}

.modal-open {
    overflow: hidden;
}
.modal-backdrop.show {
    opacity: 0.5 !important;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal_row{
  display: flex;
}

.modal_row--center{
  @extend .modal_row ;

  justify-content: center;
}