.in_picture__pastille {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 10px;
}

.in_picture__pastille-fitness {
  position: absolute;
  top: 10px;
  right: 110px;
  color: $white;
  background: $orange-fitness;
  padding: 0 10px;
  border-radius: 4px;
}

.in_picture__pastille-wellness {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $white;
  background: $blue-wellness;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fitness {
  .in_picture__pastille {
    background: $orange-fitness;
  }
}

.wellness {
  .in_picture__pastille {
    background: $blue-wellness;
  }
}


@media(max-width: 575px) {
  .in_picture__pastille {
    top: 5px;
    right: 5px;
    padding: 0 5px;
    font-size: 12px;
  }

  .in_picture__pastille-fitness {
    top: 5px;
    right: 75px;
    padding: 0 5px;
    font-size: 12px;
  }

  .in_picture__pastille-wellness {
    top: 5px;
    right: 5px;
    padding: 0 5px;
    font-size: 12px;
  }
}

