.parent-popup-error {
    position: relative;
}
.popup-error {
    display: none;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.6s;
    position: absolute;
    bottom: -160%;
    width: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .43);
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: #333;
}