.css-popover-container{
    position: relative;
    &:hover {
        .css-popover {
            display: block;
            -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
            -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
            -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
            animation: fade-in .3s linear 1, move-up .3s linear 1;
        }
    }
}
.css-popover {
    background-color: #fff;
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    display: none;
    font-size: 12px;
    left: -90px;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;

    &:before {
        border-top: 7px solid rgba(0,0,0,0.10);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
    }
}



@-webkit-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-moz-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-ms-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
