.in_state {
  .in_state__link--active {
    color: #007ac1;
    text-decoration: none;
  }

  .in_state__link--inactive {
    color: #8f8e8f;
    text-decoration: none;
  }
}

.in_tabs {
  .in_tabs__link--open {
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: #1588cb;
    border: 1px solid #007ac1;
    box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.11);
    border-radius: 4px;
    background-color: #fff;
    font-weight: bold;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: solid 8px #007ac1;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
    }
  }

  .in_tabs__link--closed {
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 122, 193, 0.1);
    border-radius: 4px;
    color: #1b64a0;
  }
}

.in_picture {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;

  &:hover{
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
  }
  .in_picture__title {
    font-size: 18px;
    font-family: $montserrat;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;

  }

  .in_picture__blue {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #004589;
    opacity: 0.2;
    top: 0;
    display: block;
  }
}

@media(max-width: 575px) {
  .in_picture {
    .in_picture__title {
      font-size: 14px;
    }
  }
}
