/************** MAIN **************/
$size: 2em;
$bgColor: #bcbec0;
$mainColor: $blue-second;
$shadowColor: rgba(black, 0.1);
$sliderColor: $blue-second;
// For demostration purpose
// $sliderColor2:$sliderColor;
$sliderColor2: $orange-main;
$duration: .4s;
$curve: cubic-bezier(0.25, 0.8, 0.25, 1);
@mixin transition($props...) {
  transition: #{$duration} #{$curve};
  @if length($props) <1 {
    $props: (all);
  }
  transition-property: $props;
}
// Keyframe animation is not working as expected, please let me know if there is any solution;
// @keyframes slide {
//   0% {
//     transform: translateX(0) scale(1);
//   }
//   50% {
//     transform: translateX($size/2) scale(0.9);
//   }
//   100% {
//     transform: translateX($size) scale(1);
//   }
// }
// @mixin animation-slide($backwards:false) {
//   $animation: slide $time $cubic-bezier 0s 1;
//   @if $backwards {
//     $animation:$animation reverse;
//   }
//   animation:$animation forwards;
// }
.switch {
  $size: 2.5em;
  position: relative; // For absolute child
  width: 45%;
  display: flex;
  align-items: center;
  > input[type="checkbox"] {
    // For debugging purpose
    // opacity: 0.5;
    display: none;
    & + label {
      content: "";
      position: relative; // For absolute child
      display: block;
      width: 40px;
      height: 16px;
      margin: 0;
      margin-left: 20px;
    }
    & + label::before {
      content: "";
      position: absolute;
      cursor: pointer;
      width: 40px;
      height: 16px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: $size;
      background: $bgColor;
      box-shadow: inset 1px 1px 0 $shadowColor;
      @include transition(background-color);
    }
    & + label::after {
      $gap: $size/5;
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      left: -0.7em;
      bottom: -0.25em;
      //background-color: $sliderColor;
      background-image: url('/images/switch-orange-bleue-grey.png');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
      @include transition(transform,background-color);
      border-radius: 50%;
      // @include animation-slide(true);
    }
    &:checked + label::before {
      background-color: $mainColor;
    }
    &:checked + label::after {
      transform: translatex($size);
      background-image: url('/images/switch-orange-bleue.png');
      //background-color: $sliderColor2;
      cursor: pointer;
      // @include animation-slide();
    }
  }
  p {
    margin: 0;
    font-weight: bold;
  }
}