/* ------------- */
/* Tile concepts */
/* ------------- */
.container-concept {
  padding: 80px;

  .presentation__text {
    width: 50%;
    margin: 30px auto;
  }
  .owl-carousel {
    display: flex;
  }

}

.container-concept-cms {
  margin: 100px 0 200px 0;
  .cms-picto {
    padding: 50px 0;
    img {
      max-width: 100%;
      object-fit: cover;
      min-height: 70px;
      max-height: 70px;
      padding-bottom: 20px;
    }

    p {
      color: #004589;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 26px;
    }
  }
}

.container-concept__title {
  margin-bottom: 50px;
}

.container-concept__presentation {
  margin: 0 auto;
  width: 50%;
}

.concepts-tiles__item-container {
  border: 1px solid #bcbec0;
  padding: 0;
}

.concepts-tiles__header-image {
  height: 230px;
  .concepts-tiles__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.concepts-tiles__image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.concepts-tiles__figcaption {
  padding: 40px;
}

.concepts-tiles__header {
  padding-bottom: 22px;
  img {
    object-fit: contain;
    width: inherit !important;
    max-width: 100%;
    height: auto;
  }
}

.concepts-tiles__header--bd-btm-orange {
  border-bottom: 1px solid $orange-fitness;
}

.concepts-tiles__header--bd-btm-purple {
  border-bottom: 1px solid $blue-wellness;
}

.concepts-tiles__body {
  margin: 21px 0 18px 0;
  p {
    font-family: $montserrat;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    line-height: 20px;
  }
}

.concepts-tiles__footer {
  display: flex;
  flex-direction: row;
  .btn {
    margin-right: 20px;
  }
}

@media(max-width: 1024px){
  .container-concept {
    padding: 80px 0;
  }
}

@media(max-width: 991px) {

  .concepts-tiles__footer {
    flex-direction: column;

    .btn {
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}

@media(max-width: 768px) {

  .container-concept__presentation {
    width: 100%;
  }
  .concepts-tiles__footer {
    flex-direction: column;

    .btn {
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}

@media (max-width: 576px) {
  .container-concept {
    padding: 80px 20px;

    .presentation__text {
      width: 100%;
    }
  }
  .concepts-tiles__footer {
    flex-direction: column;
    .btn {
      display:inline-block;
      width:100%;
      margin: 0px auto 10px auto;
    }
  }

}

/* ------------ */
/* Tile picto */
/* ------------ */

.picto-tiles {
  display: flex;
  flex-wrap: wrap;
}

.picto-tiles__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 0;
  height: 170px;
}

.picto-tiles__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  object-fit: scale-down;
}

.picto-tiles__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #8f8e8f;
  min-height: 50px;
  padding-top:10px;
}

@media (max-width: 768px) {
  .main-header__picto {
    bottom: -100px;
  }
  .main-header__picto .picto-tiles__item-container {
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 70px;
  }
  .main-header__picto .container--bg-white {
    background: white;
    width: 90%;
    padding: 10px 0;
  }
  .main-header__picto .picto-tiles__item {
    padding: 0 5px;
  }
  .main-header__picto .picto-tiles__item-container .picto-tiles__text {
    text-align: left;
    width: 69%;
  }
}

@media (max-width: 575px) {
  .main-header__picto {
    bottom: -250px;
  }
  .picto-tiles__image {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
    padding: 0 5px;
  }
}

/* ------------ */
/* Tile picto-single */
/* ------------ */

.container-components__picto {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px;
  img {
    min-height: 80px;
    object-fit: scale-down;
    margin-bottom: 20px;

  }
}

.container-components--picto_desc {
  font-size: 13px;
  line-height: 13px;

}

.container-components--picto_title {
  font-weight: 700;
  font-size: 15px;
  color: #115291;
  display: flex;
  justify-content: center;

}

.components__dots {
  display: flex;
  margin-left: 15px;
  align-items: center;
}

.components__dots__item {
  width: 12px;
  height: 12px;
  border-radius: 25px;
  margin: 0px 3px;
  background-color: #c4c4c4;
}

.components__dots--1 {
  .components__dots__item:nth-child(-n+1) {
    background-color: #007ac1;
  }
}

.components__dots--2 {
  .components__dots__item:nth-child(-n+2) {
    background-color: #007ac1;
  }
}

.components__dots--3 {
  .components__dots__item:nth-child(-n+3) {
    background-color: #007ac1;
  }
}

.components__dots--4 {
  .components__dots__item:nth-child(-n+4) {
    background-color: #007ac1;
  }
}

.components__dots--5 {
  .components__dots__item:nth-child(-n+5) {
    background-color: #007ac1;
  }
}

.components__dots--6 {
  .components__dots__item:nth-child(-n+6) {
    background-color: #007ac1;
  }
}

