/* ------------- */
/*     Footer    */
/* ------------- */
footer {
  .container-border {
    border-bottom: 1px solid #ebebec;
    border-top: 1px solid #ebebec;
  }
  .container--shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .footer-flex {
    padding-top: 30px;

    .in_text__label {
      font-size:12px;
    }

    .club-in_search .club__input {
      max-height: 40px;
    }

    .club-in_search {
      margin-right:5px;
      width: 210px;

      .in_text__label {
        left:5px;
        top:10px;
      }
      .in_text__input:focus ~ .in_text__label {
        top: -8px;
        background-color:#fff;
      }

      .club-in_search__span{
        height: 85%
      }

    }
    .footer-flex__bottom {
      padding: 0px 20px;
    }

    .btn-responsive {
      i {
        display: none;
      }
    }

    .footer-flex__item--subscribe {
      .in_search {
        margin-right: 5px;

        input {
          min-height: 40px;
        }
      }
    }

    .footer-flex__item--search, .footer-flex__interaction, .footer-flex__item--subscribe, .footer-flex__item--social {
      display: flex;
    }

    .footer-flex__item:nth-child(1), .footer-flex__item:nth-child(2) {
      border-right: 1px solid #ebebec;
    }

    .footer-flex__interaction {
      flex-wrap: wrap;

      button[type="submit"] {
        max-height: 37px;
        padding: 8px 15px;
      }
    }

    .footer-flex__item--search, .footer-flex__item--subscribe {
      justify-content: center;
    }

    .footer-flex__item--title {
      padding: 5px 0px;
    }

    .mobile_toggle {
      pointer-events: none;
    }

    .in_search__span {
      bottom: 1px;
    }

    .in_text__validmark {
      right: 25px;
    }

    .footer-flex__item--social {
      width: 80%;
      margin: 0 auto;
      justify-content: space-around;
    }

    .footer-flex__interaction, .footer-flex__bottom {
      text-align: center;

      p {
        color: #636467;
      }
    }
    .footer-flex__bottom {
      color: #a3a6a8;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }

    .footer-flex__categ {
      padding: 0px 10px;
      flex-wrap: wrap;
    }

    .footer-flex__categ, .footer-flex__bottom {
      .footer-flex__item--title {
        padding: 10px;
      }

      p {
        margin: 5px;
      }
    }

    .footer-flex__headlist {
      padding: 50px 0px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      li {
        p {
          color: #636467;
          font-size: 14px;
        }
      }
      ul {
        list-style: none;
        padding: 0;

        li {

          a {
            text-decoration: none;
            pointer-events: visible;
            color: #a3a6a8;
            font-size: 12px;

            &:hover {
              border-bottom: 1px solid #a3a6a8;
            }
          }
        }
      }

      i {
        display: none;
      }
    }

    .footer-flex__bottom {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        flex-wrap: wrap;

        li {
          padding: 0 5px;

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    .footer-flex {
      .footer-flex__interaction {
        .footer-flex__item {
          border-right: 0px;
        }
      }
      .footer-flex__item--title {
        padding: 15px 0px;
      }
      .footer-flex__headlist:nth-child(1) {
        border-top: 1px solid #ebebec;
      }
      .footer-flex__item, .footer-flex__item {
        border-right: 0px;
        position: relative;
        padding-bottom: 25px;
      }

      .footer-flex__item--search, .footer-flex__item--subscribe {
        position: relative;
      }

      .footer-flex__item--search:after, .footer-flex__item--subscribe:after {
        content: '';
        width: 20%;
        border: 1px solid #ebebec;
        position: absolute;
        top: 60px;
      }

      .text--bold {
        margin: 0;
      }

      .in_text {
        width: inherit;
      }

      .footer-flex__item--social {
        width: 60%;
        padding-top: 0px;
      }
    }

  }
}

@media (max-width: 768px) {
  footer {
    .footer-flex {
      .btn-responsive {
        position: relative;
        bottom: 0px;
        color: #fff;
        width: 40px;
        font-size: 0px;
        border-radius: 5px;
        margin-left: 5px;

        i {
          display: block;
          position: relative;
          right: 1px;
          bottom: 4px;
          font-size: 27px;
        }
      }

      .footer-flex__headlist {

        ul {
          display: none;
        }

        i {
          display: inline-block;
          color: #004589;
          padding: 5px;
        }

        .fa-angle-up {
          display: none;
        }
      }

      .mobile_toggle {
        pointer-events: inherit;
        padding: 5px;
        border-bottom: 1px solid #ebebec;
      }

      .ul_toggle {
        display: none;
      }

    }
  }
}

@media (max-width: 576px) {
  footer {
    .footer-flex__categ {
      .footer-flex__headlist {
        text-align: left;
      }
    }
    .footer-flex__bottom {
      font-size: 10px;
    }
    .in_text__input {
      width: 280px;
    }
    .in_search, .in_text {
      input {
        width: 260px;
      }
      .in_search__span {
        left: 228px;
      }
    }

  }
}

@media screen and (max-width: 420px) {

  footer {
    .in_search, .in_text {
      input {
        width: 210px;
      }
      .in_search__span {
        bottom: 1px;
        left: 179px;
      }
    }
  }

  footer .footer-flex__categ {
    .footer-flex__headlist {

      padding: 20px 0px;
    }
  }

  footer .footer-flex__bottom {
    ul {
      padding-left:0;
    }
  }

  footer .picto-tiles__item {
    width: 50%;
    .picto-tiles__text {
      font-size: 12px;
    }
  }
  footer .picto-tiles__item-container {
    justify-content: center;
    padding: 0;
    height: 150px;
  }
  footer .picto-tiles__item:first-of-type {
    order: 3;
    img {
      width: 50%;
    }
  }
  footer .picto-tiles__item:last-of-type {
    order: 4;
  }

  footer {
    .footer-flex {
      .footer-flex__item--social {
        width: 100%;
      }
    }
  }

  footer .footer-flex__categ {
    .footer-flex__headlist {
      li {
        ul {
          padding-left: 10px;
        }
      }
    }
  }

}

.footer-flex__bottom{
  margin-bottom: 90px;
}