.blog__header {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
  background-image: url('/images/banniere.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-size: auto 100%;
}

.blog__header_center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.in_picture__blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #004589;
  opacity: 0.2;
  top: 0;
  display: block;
}

.blog__filtre_btn {
  margin-left: 15px;
  font-weight: 400;
  max-width: inherit;
}

@media (max-width: 1024px) {
  .blog__filtre_btn {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .blog__header_center {
    position: inherit;
    text-align: center;
    padding: 0 15px;
  }

  .blog__filtre_btn {
    margin-left: 0px;
  }

  .blog {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .blog__filtre_btn {
    width: 100%;
  }
}
