.article__header_categorie {
  color: #8f8e8f;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}

.article__header_title {
  &:after {
    bottom: -50px;
  }
}

.article__header__social_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;

  p {
    width: 100%;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      text-decoration: none;
    }
  }

  @media (min-width: 575px) {
    flex-direction: row;

    p {
      width: 70%;
      text-align: left;
    }

    ul {
      width: 30%;
    }
  }
}

.article__content_body {
  div, p, strong, h3, h2 {
    color: $blue-third;
  }
  h3, h2 {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 16px;
  }
  ul {
    list-style: inherit;
    padding-left: 20px;
    li {
      color: $blue-third;
    }
  }
}

.aside__month_lnk {
  display: block;
  color: #8f8e8f;
  text-decoration: underline;
  line-height: 30px;
}

.aside__month_title {
  color: #636467;
  font-weight: 700;
  line-height: 33.92px;
  font-size: 16px;
}

.article__aside_title-form {
  font-size: 20px;
}

.article__aside {
  padding: 30px 15px;

  .aside_categ_btn {
    margin-top: 10px;
    margin-left: 10px;
  }

  .subscription--flex {
    order: 3;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subscription--flex-between {
    justify-content: center;
  }

  .footer-flex__item--social {
    display: flex;
    justify-content: space-evenly;
  }

  .subscription__title {
    font-size: 24px;
  }
  .subscription__title:after {
    content: '';
    width: 70px;
    height: 6px;
    bottom: -15px;
    background-color: #007ac1;
  }
  .subscription__text {
    width: 95%;
    p {
      font-size: 14px;
      text-align: left;
    }
  }
  .subscription__band {
    background: url('/images/ORANGE_BLEU_BAND_MOBILE.png') no-repeat top center !important;
    width: 100%;
    height: 419px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .subscription__band__title {
    width: 222px;
    font-family: $helvetica-neue;
    font-size: 30px;
    line-height: 39.29px;
    padding-left: 0;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .subscription__band__infos {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0;
    width: 100%;
  }
  .subscription__band__infos .subscription__price {
    margin-bottom: 25px;
  }
  .subscription__band__infos .subscription__price .subscription__euros {
    font-size: 26px;
    height: 58px;
  }
  .subscription__band__infos .subscription__price .subscription__euros .subscription__euro {
    font-size: 80px;
  }
  .btn__price {
    padding: 11px 25px;
    margin-top: 20px;
  }
  .subscription__start {
    font-size: 16px;
  }
  .subscription__month {
    font-size: 23px;
  }
  .subscription__offer {
    margin-right: 35px;
    margin-bottom: 15px;
  }

  .subscription__switch {
    margin: 25px auto;
    width: 90%;
  }
  .switch {
    width: initial;
    justify-content: center;
  }

  .subscription-tiles__metadatas {
    padding: 20px 15px 30px 15px;
  }
  .subscription-tiles__title {
    font-size: 22px;
    line-height: 31.76px;
    margin-bottom: 20px;
  }
  .subscription-tiles__pricing {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .subscription-tiles__month {
    font-size: 13px;
  }
  .subscription-tiles__sub-price {
    font-size: 18px;
  }
  .subscription-tiles__sub-pricing p {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .word-mobile {
    display: none;
  }
  .subscription__description {
    padding: 20px 0 0 0;
    width: 93%;
    margin: 0 auto;
  }
  .subscription__description p {
    font-size: 16px;
  }
  .subscription__description ul li {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .subscription__mention {
    padding: 20px 0 0 0;
    width: 93%;
    margin: 0 auto;
  }
}

@media(max-width: 768px) {
  .article__aside_form {
    flex-direction: column;
    button {
      margin-top: 10px;
    }
  }
}

@media (max-width: 575px) {
  .article__header_title {
    width: 100%;
  }

  .article__aside {
    .in_text {
      max-width: inherit;
    }
  }

  .article__aside_form {
    button {
      margin-top: 10px;
      margin-left: 0px;
      max-width: 100%;
    }
  }
}
