.tunnel__confirm {
  .tunnel__confirm__content {
    background-color: $light-beige;
    padding: 50px 0;
  }

  .confirm__content__recap {
    background-color: #fff;
    border: 1px solid #bcbec0;
  }

  .content__recap_title {
    color: #636467;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    border-bottom: 1px solid #bcbec0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .recap_details_title {
    color: #005b98;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }

  .recap_details_title--border {
    border-top: 1px solid #bcbec0;
    width: 80%;
    padding-top: 20px;
  }

  .recap_details--minHei {
    min-height: 210px;
    margin-bottom: 20px;
  }

  .confirm__card__img {
    position: relative;

    &:hover {
      button {
        background-color: #fff;
        color: #005b98;
        font-weight: 700;
      }
    }
  }

  .card__img--opacity {
    button {
      font-size: 12px;
    }
  }

  .confirm__card {
    padding: 50px 0 50px 15px;
  }

  .card__img--opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 69, 137, 0.7);
    top: 0;

    img {
      margin: 0 auto;
      width: 100%;
      object-fit: scale-down;
      max-height: 70px;
    }

    p {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      margin: 20px 0;
    }

    button {
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }

  .content__recap_details {
    padding: 30px 80px;

    .recap__club__name {
      width: 50%;
      padding: 10px 0;
    }

    .recap__club___adress {
      width: 80%;
    }

    .recap_details_list {
      padding: 0;
      list-style: none;
      margin: 0;
      width: 80%;
      li {
        color: #8f8e8f;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  .btn__home_redirect {
    margin: 0 auto;
  }

  .js-carousel-tunnel {
    display: flex;

    .item {
      width: 280px;
      padding-right: 0px;
    }
  }
}

.tunnel__confirm .card__img--opacity .btn-a {
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 85%;
}
.tunnel__confirm .card__img--opacity .btn-a {
  font-size: 12px;
}
.tunnel__confirm .confirm__card__img:hover .btn-a {
  background-color: #fff;
  color: #005b98;
  font-weight: 400;
}

.tunnel__pre-confirm__headDesc {
  padding:0;
  margin:0;
}

.pre-confirm__block {
  border: 1px solid #bcbec0;
  background-color: $white;
  margin-top: 50px;
}

.pre-confirm__card {
  padding:50px 20px;
}

.pre-confirm__block__img {
  height: 100%;
}

.pre-confirm__block__img img {
  width: auto;
  height: 100%;
}

.pre-confirm__card__title {
  color: $grey-dark;
  font-weight: 700;
  padding-top:15px;
  border-top:2px solid #f36c21;
  margin-bottom:0;
}

.pre-confirm__card__img {
  padding-bottom: 15px;
}


@media(max-width: 1024px) {
  .js-carousel-tunnel {
    .item {
      margin-bottom: 10px;
    }
    .confirm__card__img {
      .slideImg {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}

@media(max-width: 575px) {
  .tunnel__confirm {

    .confirm__card {
      padding-left: 0px;
    }
    .h1-abo {
      line-height: 22px;
    }

    .content__recap_details {
      padding: 10px 20px;
    }

    .recap__border_mobile {
      padding-bottom:20px;
      p {
        margin:0;
        padding:0;
      }

      border-bottom: 1px solid #bcbec0;
      margin-bottom:20px;
    }

    .recap_details--minHei {
      min-height: inherit;
    }
  }

  .btn__home_redirect {
    max-width: inherit;
    width: 100%;
  }
}

.club__actions {
  .phone_number {
    display: none;
  }
}

.club__actions--active {
  .text {
    display: none;
  }

  .phone_number {
    display: inline-block;
  }
}