.container__tunnel__header {
  position: relative;
}

.container__tunnel__content {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
}

.h1-abo {
  color: #636467;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin: 50px;
}

.cta-cash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    color: #004589;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.in_text__input:indeterminate {
  background-color: red !important;
}

.tunnel__step {
  border: 1px solid #ebebec;
  background-color: #fff;
}

.tunnel__step__item {
  position: relative;
  width: 308px;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;

  p {
    margin: 0;
    padding: 0;
  }

}

.recap__club__title {
  font-weight: 700;
}

.tunnel__step__lnk {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.tunnel__lnk__back {
  display: inline-block;

  a {
    color: #005b98;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #005b98;
    font-weight: 700;
  }
}

.tunnel__step__item:not(.tunnel__step__item--active):not(.tunnel__step__item--validate):nth-child(-n+3) {
  &:after {
    content: '';
    width: 30px;
    height: 30px;
    top: 6px;
    left: 87%;
    border-right: 1px solid #ebebec;
    border-top: 1px solid #ebebec;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.tunnel__step__item--active {
  background-color: #007ac1;

  p {
    color: #fff;
    font-weight: 700;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 100%;
    left: 100%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 21px transparent;
    border-bottom: solid 21px transparent;
    border-left: solid 21px #007ac1;
    border-right: solid 21px transparent;
    z-index: 100;
  }
}

.tunnel__step__item--validate {
  background-color: #b3d7ed;

  p {
    color: #007ac1;
    display: flex;
    font-weight: 700;
    opacity: 0.6;

    &:before {
      content: '';
      background: url('/images/check.png') no-repeat center center;
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  &:after {
    content: '';
    width: 30px;
    height: 30px;
    top: 6px;
    left: 95%;
    background-color: #b3d7ed;
    border-right: 1px solid #b3d7ed;
    border-top: 1px solid #b3d7ed;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 99;
  }
}

@media(max-width: 1024px) {
  .container__tunnel__content {
    top: 0%;
  }

  .tunnel__step__item:not(.tunnel__step__item--active):nth-child(-n+3):after {
    left: 86%;
  }

  .tunnel__step__item:not(.tunnel__step__item--validate) {
    margin-right: 10px;
  }

  .tunnel__step__item--validate:after {
    left: 94% !important;
  }
}

@media (max-width: 768px) {
  .tunnel__step__item--validate:after {
    left: 92% !important;
  }

  .tunnel__step__item:last-child {
    width: 200px;
  }
}

@media(max-width: 575px) {

  .tunnel__content .club__footer__abo-btn {
    width: 100%;
  }
  .tunnel__step__item {
    margin-right: 0px;
  }
  .container__tunnel__content {
    padding: 0 15px;
  }

  .tunnel__step__item:not(.tunnel__step__item--active) {
    width: 60px;

    .item--hide-mobile {
      display: none;
    }
  }

  .h1-abo {
    font-size: 24px;
    margin: 20px;
  }

  .tunnel__step__item--active {
    width: 180px;
    margin-right: 20px;

    p {
      font-size: 14px;
    }

  }

  .tunnel__step__item:not(.tunnel__step__item--active):not(.tunnel__step__item--validate):nth-child(-n+2)   {
    margin-left: 20px;
  }

  .tunnel__step__item:not(.tunnel__step__item--active):not(.tunnel__step__item--validate):nth-child(-n+3) {
    p {
      width: 100%;
      text-align: left;
      margin-left: 5px;
    }

    &:after {
      left: 10% !important;
    }
  }

  .tunnel__step__item--validate {
    margin-left: 0 !important;

    p {
      z-index: 110;

      &:before {
        margin-right: 2px;
      }
    }

    &:after {
      left: 53% !important;
    }
  }
}

@media(max-width: 414px) {
  .tunnel__step__item--validate {
    &:after {
      left: 69% !important;
    }
  }
}

@media(max-width: 320px) {
  .tunnel__step__item--validate {
    &:after {
      left: 57% !important;
    }
  }

  .tunnel__step__item:not(.tunnel__step__item--active) {
    width: 40px;
  }
}
