.tunnel__step3 {
  .in_text__label {
    font-weight: 700;
  }

  @media(min-width: 575px) {
    .tunnel__step__item__custom {
      padding-left: 30px;
    }
  }

  @media(max-width: 1024px) {
    .tunnel__step__item {
      width: 230px;
    }
  }
  @media(max-width: 575px) {
    .tunnel__step__item--custom {
      &:after {
        left: 71% !important;
      }

      p {
        padding-left: 10px;
      }
    }
  }

  .js-date-parent {
    span:hover {
      cursor: pointer;
    }
  }

  .tunnel__step__item--validate:first-child {
    &:after {
      border-top: 1px solid $blue-second;
      border-right: 1px solid $blue-second;
    }
  }

  .tunnel__step__item--validate:nth-child(2) {
    &:after {
      border-top: 1px solid $blue-second;
      border-right: 1px solid $blue-second;
    }
  }

  .container__tunnel__content {
    top: -2%;
  }

  .civility__label {
    margin: 0;
    padding: 0;
  }

  .tunnel__step3__form {
    padding: 50px 80px;
    background-color: #fff;
    border: 1px solid #bcbec0;
    position: relative;
  }

  .step3__form__mention {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  .tunnel__step3__recap {
    background-color: #fff;
    border: 1px solid #bcbec0;
    padding: 20px 20px 0 20px;
  }

  .in_text, .in_checkbox__label--1, .in_popover {
    margin-right: 10px;
  }

  .in_checkbox {
    margin-bottom: 30px;
  }

  .in_checkbox__label--2:before {
    border: 1px solid #dcdee1;
  }

  .in_popover__span {
    left: 85%;
  }

  .in_text {
    max-width: inherit;

    .in_text__input {
      width: 100%;
    }
  }

  .not-empty ~ .in_popover__span {
    display: none;
  }

  .block-sample--max-width {
    width: 100%;

    .in_text {
      max-width: 444px;
    }

    input[type="text"] {
      width: 100%;
    }
  }

  .step3__recap__title {
    color: #636467;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }

  .tunnel__step3__recap {
    h3 {
      color: $blue-third;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
    }
  }

  .recap__club__name {
    color: #636467;
    font-weight: 700;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  .recap__club___adress {
    color: $grey;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbec0;
  }

  .recap__formule__title {
    color: #636467;
    font-size: 16px;
    font-weight: 700;
    line-height: 31.76px;
    padding: 0;
    &-mb-20{
        padding-bottom: 20px;
        border-bottom: 1px solid #bcbec0;
        margin: 0 0 20px;
    }
    .recap__formule__span {
        font-size: 14px;
        line-height: 26px;
        margin: 0;
        padding: 0;
        text-transform: initial;
    }
  }

  .recap__formule__detail, .step3__recap__totalMonth {
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbec0;
  }

  .recap__totalMonth__detail {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }

  .recap__totalInscription__pack {
    color: #8f8e8f;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }

  .recap__totalInscription__price--promo {
    color: #8f8e8f;
    font-size: 14px;
    text-decoration: line-through;
  }

  .recap__totalInscription__price, .recap__totalMonth__price {
    color: #636467;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }

  .step3__recap__totalInscription {
    padding-top: 20px;
  }

  .step3__recap__total {
    background-color: #f1f3f6;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;

  }

  .recap__total__title {
    color: #636467;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
  }

  .recap__total__price {
    color: #f36c21;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
  }

  .in_checkbox {
    margin-bottom: 1.5rem;
  }

  .step3__recap__img {
    display: none;
  }
}

@media(max-width: 1024px) {
  .tunnel__step3 {
    .tunnel__step3__form {
      margin-bottom: 20px;
    }

    .in_text__input {
      width: 100%;
    }

    .block-sample--max-width .in_text {
      max-width: inherit;
    }
  }
}

@media(max-width: 768px) {
  .tunnel__step3 {
    .tunnel__step3__form {
      padding: 50px 30px;
    }

    .step2__action {
      flex-direction: column-reverse;
    }

    .tunnel__lnk__back {
      margin-top: 10px;
    }

    .item--hide-mobile {
      font-size: 12px;
    }

    .in_text {
      max-width: inherit;
      width: 100%;
    }

    .block-sample--max-width {
      input[type="text"] {
        width: inherit;
      }
    }

  }
}

@media (max-width: 575px) {
  .tunnel__step3 {

    .in_checkbox__label--2 {
      a {
        line-height: 30px !important;
      }
    }

    .tunnel__step3__form {
      padding: 50px 15px;
    }

    .step3__recap__img {
      display: block;
    }

    .tunnel__step3__recap {
      padding: 20px;

      .step3__recap__title {
        margin: 0;
        padding: 0;
      }

      .step3__recap__img {
        width: 23px;
        height: 15px;
      }
    }

    .js-toggle-dropdown--item {
      display: none;
    }

    .toggle-dropdown {
      padding-bottom: 0;

      .step3__recap__img {
        display: none;
      }
    }

    .tunnel__content__mobile {
      padding: 20px 15px;
    }

    .tunnel__content {
      padding-bottom: 50px;
    }

    .h1-abo {
      font-size: 20px;
    }

    .tunnel__step__item--active p {
      padding-left: 20px;
    }

    .tunnel__step__item:not(.tunnel__step__item--validate):not(.tunnel__step__item--active) {
      margin-right: 0;
    }

    .tunnel__step__item:not(.tunnel__step__item--active) {
      width: 55px;
    }

    .tunnel__step__item--active {
      width: 250px;
    }

    .tunnel__step__item--validate:nth-child(2) {
      padding-left: 25px;

      &:after {
        left: 72% !important;
      }
    }

  }
}

@media(max-width: 320px) {
  .tunnel__step3 {
    .tunnel__step__item--active {

      p {
        padding-left: 20px;
      }

      .item--hide-mobile, p {
        font-size: 10px;
      }

      width: 180px;
    }

    .tunnel__step__item--validate:nth-child(2) {
      padding-left: 19px;

      &:after {
        left: 72% !important;
      }
    }

  }
}
