.tunnel__step2 {
  .tunnel__step2___content {
    background-color: $light-beige;
    padding: 50px 0px;

    .step2__description {
      margin: 0 auto;
      width: 60%;
    }
  }

  .item {
    padding-right: 30px;
  }

  .subscription__btn {
    display: none;
  }

  .subscription-tiles__tunnel {
    margin-top: auto;
  }

  .subscription-tiles__item {
    .subscription-tiles__tunnel__rounded {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 50%;
      border: 3px solid #9a9a9a;
      margin: 10px auto 0 auto;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .subscription-tiles__item--active {
    border: 1px solid $orange-main;
    .subscription-tiles__tunnel__rounded {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $orange-main url('/images/whitecheck.png') no-repeat center center;
      border: none;
      margin: 10px auto 0 auto;
    }
  }

  .tunnel__lnk__back {
    padding-top: 30px;
    width: 150px;
    @media(min-width: 1201px) {
      width: 178px;
    }
    @media(min-width: 1467px) {
      width: 150px;
    }
  }

}

@media(max-width: 575px) {
  .tunnel__step2 {
    .tunnel__step2___content {
      .step2__description {
        width: 100%;
      }
    }

    .tunnel__step__item:nth-child(3) {
      padding-left: 20px;
    }

    .tunnel__step__item:not(.tunnel__step__item--active):not(.tunnel__step__item--validate):nth-child(3):after {
      left: 52% !important;
    }

    .subscription__mention {
      padding-bottom: 30px;
    }

    .subscription-tiles__item {
      -webkit-transform: none;
      transform: none;
    }

    .step2__action {
      flex-direction: column-reverse;

      button {
        max-width: inherit;
        width: 100%;
      }
    }

    .item {
      padding-right: 0px;
    }

    .tunnel__content__mobile  {
      padding: 0;
    }
  }
}

@media(max-width: 320px) {
  .tunnel__step2 {
    .tunnel__step__item:nth-child(3) {
      padding-left: 10px;
    }

    .tunnel__step__item:not(.tunnel__step__item--active):not(.tunnel__step__item--validate):nth-child(3):after {
      left: 28% !important;
    }
  }
}
