.tunnel__content {
  background-color: $light-beige;
  padding: 80px;
  position: relative;
  .club-in_search {
    width: 550px;
    margin-right: 20px;
  }
  .subtitle-h2{
    color: $grey;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  button[type="submit"] {
    padding: 11px 30px;
  }

  .form__result__text {
    color: $blue-main;
  }

  .search__result__tunnel {
    img {
      max-width: 100%;
      height: auto;
      object-fit: scale-down;
    }

    i {
      margin-right: 5px;
    }
  }

  .search-result__card {
    padding: 10px 30px 20px 30px;
    border: 1px solid #bcbec0;
    margin-bottom: 30px;
    background-color:#fff;
  }

  .search-result__club-title {
    color: #636467;
    font-weight: 700;
    line-height: 20px;
    border-top: 2px solid $orange-main;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .search-result__club-adress {
    font-size: 12px;
    line-height: 18px;
  }

  .search-result__distance {
    color: $grey;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
  }

  .club__footer__abo-btn {
    margin: 0 auto;
  }

}

.result__card__conditions {
    color: $grey;
    font-size: 11px;
    text-align: left;
    padding-top: 15px;
    line-height: 13px;
    margin-bottom: 0;
}

@media(max-width: 768px) {
  .tunnel__content {
    .club-in_search {
      margin-bottom: 10px;
    }

    button[type="submit"] {
      padding: 11px 15px;
    }
  }
}

@media(max-width: 575px) {
  .tunnel__content {
    padding: 0;

    .club-in_search {
      margin-right: 0;
    }
  }

  .tunnel__content__mobile {
    padding: 60px 15px;
  }

  button[type="submit"] {
    max-width: inherit;
    width: 100%;
  }

}
