.tunnel__step4 {

  .tunnel__step__item--active {
    margin-right: 0 !important;
    &:after {
      display: none;
    }
  }
  .in_checkbox__container {
    border-top: 1px solid $light-grey-brdr;
    padding-top: 30px;
  }

  .in_checkbox {
    padding-left: 15px;
  }
  .in_checkbox__label--2 {
    color: #636467;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid $grey;
    }
  }

  .step4__paiement {
    background: #fff;
    padding: 50px;
    margin-bottom: 50px;
  }

  .step4__paiment__pres {
    padding-bottom: 30px;
  }

  .step4__action__responsive {
    display: none !important;
  }

  .step4__paiement__choice {
    border: 1px solid #c5c5c5;
    padding: 20px 10px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
  .paiement__choice_title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .paiement__choice__text {
    width: 50%;
  }

  .step4__action {
    small {
      min-width: 220px;
    }
  }

  .paiement__choice_desc {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 18px;
  }

  .paiement__choice__rounded {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #9a9a9a;
    margin: 10px 25px 10px 15px;
  }

  .paiement__choice__rounded--active {
    border: 2px solid $orange-main;
    .paiement__choice__rounded {
      min-width: 30px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #f36c21 url('/images/whitecheck.png') no-repeat center center;
      border: none;
      margin: 10px 25px 10px 15px;

    }
  }

  .paiement__choice_price {
    color: $orange-main;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .paiement__choice_nopad {
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .step4__paiement__choice__second {
    margin-bottom: 30px;
  }

}

@media (max-width: 1024px) {
  .tunnel__step4 {
    .step4__action {
      display: none !important;
    }
    .step4__action__responsive {
      display: flex !important;
    }
  }

}

@media (max-width: 575px) {
  .step4__paiement__choice--columnMobile {
    flex-direction: column;
  }

  .tunnel__step4 {
    .tunnel__step__lnk:not(:first-child){
      p {
        padding-left:20px;
      }
    }

    .tunnel__step__item--validate {
      &:after {
        left:75% !important;
      }
    }

    .tunnel__step__item--validate:nth-child(2) {
      &:after {
        border-top: 1px solid $blue-second;
        border-right: 1px solid $blue-second;
      }
    }

    .tunnel__step__item--active p {
      font-size:14px;
      .item--hide-mobile {
        font-size:14px;
      }
    }

    .tunnel__step__item--validate:nth-child(3) {
     padding-left:25px;

      &:after {
        left:74% !important;
      }
    }
    .step4__paiement {
      padding: 20px 10px;
    }

    .paiement__choice__text {
      width: 100%;
    }

    .paiement__choice__rounded {
      margin: 10px 10px 10px 5px;
    }

    .paiement__choice__rounded--active {
      .paiement__choice__rounded {
        margin: 10px 10px 10px 5px;

      }
    }

    .step4__price__mobile {
      margin-top: 10px;
      align-self: self-start;
    }

    .paiement__choice_title {
      font-size: 12px;
    }

    .paiement__choice_desc {
      font-size: 10px;
    }

    .tunnel__lnk__back {
      margin-top: 20px;
    }
  }

  .step4__action__responsive {
    flex-direction: column-reverse;
  }

  .step4__action__responsive {
    .max-width-flex {
      width: 100%;
      align-items: start !important;

      small {
        margin: 0 auto;
        min-width: inherit;
      }

      button {
        width: 100%;
        max-width: inherit;
      }
    }
  }
}
