$orange-main: #f36c21;
$orange-light: #f79e6e;
$orange-fitness: #F37021;
$purple-wellness: #812990;
$blue-main: #004589;
$blue-second: #007ac1;
$dark-light-blue:  #6eb3dd;
$light-blue: #b3d7ed;
$grey: #656565;
$logo: #fafafa;

.bg-logo{
    background-color: $logo;
}
.text-orange-main {
    color:$orange-main;
}
.bg-grad-sidebar {
    .text-white {
        color:$grey;
    }
}
.bg-grad-sidebar {
    .tracking-wide {
        color: $dark-light-blue;
    }
}

.bg-grad-sidebar {
    background-image: linear-gradient(0deg, #d6eaf5 0%, #d6eaf5 100%);
}

.aside-logo {
    text-align: center;
    width: 100%;
}
.aside-logo img {
    max-width: 60%;
}

a.dim.router-link-active {
    color:$orange-light;
}

.w-search {
    width: 32rem;
}

.flex.items-center.relative.shadow.h-header.bg-white.z-50.px-6 .v-popover {
    .trigger {
        width: 200px;
        height: 100%;
    }

    .rounded {
        width: 100%;
        height: 100%;
        position: relative;

      &:before {
          content: "";
          background: url("https://lorangebleue.fr/images/favicon/apple-icon-dk-180x180.png") no-repeat;
          width: 30px;
          height: 30px;
          margin: 0 0 0 40px;
          background-size: 30px 30px;
          float: left;
      }

      &:after {
          content: "Menu";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
      }
    }
}

.whitespace-no-wrap {
    white-space: normal;
}
