<p>Titre : Salle de sport et fitness à Aix-en-Provence - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Aix-en-Provence : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Inscrivez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Aix-en-Provence</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 612 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>50</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Aix en Provence (centre) est <strong>climatisée</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Jérôme</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 3 coachs : Elise, Romuald et Nicolas.</p>

<p>Elise, titulaire du BE Métiers de la forme, pratique le triathlon depuis ses 25 ans. Elise adore cuisiner. Sa citation préférée : "Nager, pédaler, courir le triathlon n'est pas ma drogue, c'est mon oxygène".</p>
<p>Romuald, titulaire du BPJEPS Forme et force, pratique la course à pied depuis ses 16 ans. Romuald est fan de Kill Bill. Sa citation préférée : "Plus dur est le combat, plus belle est la victoire".</p>
<p>Nicolas, titulaire du BPJEPS Mention force, pratique la natation depuis ses 12 ans. Nicolas est fan de moto. Sa citation préférée : "L'impossible ne connaît que le manque de volonté".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Jérôme</p>

