<p>Titre : Salle de sport et fitness à Biganos - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Biganos : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Inscrivez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Biganos</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 800 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>47</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> (en option) de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Biganos est <strong>climatisée</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Richard</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 4 coachs : Anthony, Benjamin, Damien et Romain.</p>

<p>Anthony, titulaire du BPJEPS, pratique la musculation depuis ses 20 ans. Anthony est fan de moto. Sa citation préférée : "On n'arrête pas quand on est fatigué mais quand c'est fini".</p>
<p>Benjamin, titulaire du BPJEPS, pratique le football depuis ses 6 ans. Benjamin est fan de danse. Sa citation préférée : "Never say never".</p>
<p>Damien, titulaire du BPJEPS, pratique la pelote basque à main nue depuis ses 6 ans. Damien est fan de sport au sens large. Sa citation préférée : "Il est inutile de fuir ses faiblesses, il faut les affronter ou périr et quitte à les affronter autant le faire tout de suite et aussi directement que possible".</p>
<p>Romain, titulaire du BPJEPS, pratique le cross training depuis ses 5 ans. Romain est fan de sport au sens large. Sa citation préférée : "Vous ne pouvez pas choisir comment mourir ni quand mais vous pouvez choisir comment vous allez vivre maintenant".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Richard</p>

