<p>Titre : Salle de sport et fitness à Bischheim - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Bischheim : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Inscrivez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Bischheim</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 850 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>50</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> (en option) de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Bischheim est <strong>climatisée</strong> et équipée d’un <strong>défibrillateur</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot de la gérante : Nathalie</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 4 coachs : Pierre, Ludovic, Marine et Victoria.</p>

<p>Pierre, titulaire du BPJEPS, pratique la musculation depuis ses 16 ans. Pierre est fan de musculation et de pâtisserie. Sa citation préférée : "L'esprit est tout, si vous ne croyez pas que vous pouvez faire quelque chose, alors vous ne le pourrez pas".</p>
<p>Ludovic, titulaire du BPJEPS, pratique le football et la natation depuis ses 8 ans. Ludovicest fan de voyages et de football. Sa citation préférée : "Le sport va chercher la peur pour la dominer, la fatigue pour en triompher, la difficulté pour la vaincre".</p>
<p>Marine, titulaire du BPJEPS, pratique la danse depuis ses 8 ans. Marine est fan de fitness, de musculation et de musique. Sa citation préférée : "Ta seule limite, c'est toi-même".</p>
<p>Victoria, titulaire du BPJEPS, pratique la gymnastique depuis ses 9 ans. Victoria est fan de musique et de cuisine. Sa citation préférée : "Lève toi avec détermination, couche toi avec satisfaction".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Nathalie</p>

