<p>Titre : Salle de sport et fitness à Dax - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Dax : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Inscrivez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Dax</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 600 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>50</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> (en option) de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Dax est <strong>climatisée</strong> et équipée d’un <strong>défibrillateur</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Adrien</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 3 coachs : Adrien, Roxane et Nicolas.</p>

<p>Adrien, titulaire du BPJEPS AGFF Mention C et D, pratique le rugby depuis ses 7 ans. Adrien est fan de fitness. Sa citation préférée : "J'échangerais tout ce que je sais contre la moitié que j'ignore".</p>
<p>Roxane, titulaire d’une licence STAPS Entrainement sportif et d’un BPJEPS AGFF Mention C et D, pratique la gymnastique depuis ses 10 ans. Roxane adore se retrouver entre amis autour d'un bon repas. Sa citation préférée : "Lève toi avec détermination, couche toi avec satisfaction".</p>
<p>Nicolas, titulaire du BPJEPS AF mention CC et HM, pratique le breakdance depuis ses 11 ans. Nicolas est fan de jujitsu. Sa citation préférée : "La vie ce n'est pas attendre que l'orange passe. C'est apprendre à danser sous la pluie".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Adrien</p>

