<p>Titre : Salle de sport et fitness à Eaubonne - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Eaubonne : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Inscrivez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Eaubonne</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 563 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>50</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> de 6h à 23h</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Eaubonne est équipée d’un <strong>défibrillateur</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot des gérants : Kévin et Sébastien.</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs”.</strong></p>

<p>Notre équipe est composée de 4 coachs : Julia, Camille, Lucille et Swanny.</p>

<p>Julia, titulaire du BPJEPS AGFF, pratique la pole dance depuis ses 23 ans. Julia est fan de cuisine. Sa citation préférée : "Quand on veut, on peut".</p>
<p>Camille, titulaire du BPJEPS AGFF, pratique la boxe depuis ses 11 ans. Camille est fan de shopping. Sa citation préférée : "N’en rêve pas, fais-le".</p>
<p>Lucille, titulaire du BPJEPS AGFF, pratique le karaté depuis ses 8 ans. Lucille est fan de voyages. Sa citation préférée : "Petit à petit, l'oiseau fait son nid".</p>
<p>Swanny, titulaire du BPJEPS AGFF, pratique la danse depuis ses 10 ans. Swanny est fan de musique. Sa citation préférée : "Le seul mauvais entraînement est celui que tu ne fais pas".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Kévin, Sébastien</p>

