<p>Titre : Salle de sport et fitness à Guilherand-Granges - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Guilherand-Granges : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Inscrivez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue L'Orange Bleue Guilherand-Granges</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 1000 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>42</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue L'Orange Bleue Guilherand-Granges est <strong>climatisée</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : François</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs”.</strong></p>

<p>Notre équipe est composée de 3 coachs : François, Romain et Tiffany.</p>

<p>François, titulaire du BPJEPS AGFF mention C et d’un master Staps, pratique le football depuis ses 26 ans. François est fan de nourriture. Sa citation préférée : "Ne me jugez pas sur mes succès. Jugez moi sur le nombre de fois où je suis tombé et où je me suis relevé à nouveau".</p>
<p>Romain, titulaire du BP AGFF Mention C et D, pratique le crossfit depuis ses 18 ans. Romain est fan de Playstation. Sa citation préférée : "Dans la vie, rien n'est impossible. Croyez en ce que vous faîtes".</p>
<p>Tiffany, titulaire du BP AGFF Mention C et D, pratique le crossfit depuis ses 23 ans. Tiffany est fan de nourriture. Sa citation préférée : "Ta douleur d'hier est ta force d'aujourd'hui".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>
<p>François</p>

