<p>Titre : Salle de sport et fitness à Provins - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Provins : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Abonnez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Provins</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 687 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>45</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue provins est <strong>climatisée</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Philippe Barbiat</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 4 coachs : Laurent, Tiffany, Julien et Anthony.</p>

<p>Laurent, titulaire du BPJEPS AGFF et APT, pratique le ski depuis ses 6 ans. Laurent est fan de cinéma. Sa citation préférée : "soyez le changement que vous voulez voir dans le monde. Gandhi".</p>
<p>Tiffany, titulaire du AGFF, pratique la gymnastique depuis ses 5 ans. Tiffany est fan de série. Sa citation préférée : "Ce n'est que par la répétition que l'on peut obtenir la réussite".</p>
<p>Julien , titulaire du BPJEPS AGFF, pratique la musculation depuis ses 21 ans. Julien est fan de moto. Sa citation préférée : "Tomber sept fois, se relever huit".</p>
<p>Anthony, titulaire du BPJEPS AGFF, pratique le BMX depuis ses 6 ans. Anthony est fan de resto. Sa citation préférée : "les gagnants trouvent des moyen, les perdants trouvent des excuses".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Philippe Barbiat</p>

