<p>Titre : Salle de sport et fitness à Trégueux - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Trégueux : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Abonnez-vous en ligne !</p>


<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Trégueux</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 580 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>42</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Trégueux est équipée d’un <strong>défibrillateur</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Tanguy</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 4 coachs : Gwennan, Benoît, Nicolas et Tanguy.</p>

<p>Gwennan, titulaire du BPAGFF, pratique la danse depuis ses 10 ans. Gwennan est fan de séries TV. Sa citation préférée : "carpe diem".</p>
<p>Benoît, titulaire du BPAGFF, pratique le football depuis ses 7 ans. Benoît est fan de sport. Sa citation préférée : "tu n'as pas besoin d'être au top pour commencer, mais tu dois commencer pour être au top".</p>
<p>Nicolas, titulaire du BPAF, pratique le judo depuis ses 6 ans. Nicolas est fan de cuisine. Sa citation préférée : "ce qui ne tue pas te rend plus fort".</p>
<p>Tanguy, titulaire du BPAGFF, pratique le canicross depuis ses 30 ans. Tanguy est fan de bricolage. Sa citation préférée : "ne rien lâcher, toujours rebondir".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Tanguy</p>

