<p>Titre : Salle de sport et fitness à Tulle - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Tulle : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Abonnez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Tulle</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 900 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>40</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Tulle est <strong>climatisée</strong> et équipée d’un <strong>défibrillateur</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Aurélian</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 4 coachs : Amandine, Mathias, Baptiste et Michel.</p>

<p>Amandine, titulaire du BPJEPS, pratique la course à pied depuis ses 20 ans. Amandine adore le chocolat. Sa citation préférée : "La douleur n'est qu'une information, ne cédez pas".</p>
<p>Mathias, titulaire du BPJEPS, pratique le crossfit depuis ses 25 ans. Mathias est fan de basket. Sa citation préférée : "Faut que tu pousses comme aux cabinets".</p>
<p>Baptiste, titulaire du CQP, pratique le bodyboard depuis ses 12 ans. Baptiste adore l cheescake. Sa citation préférée : "Constance et patience sont les maîtres mots".</p>
<p>Michel, titulaire du CQP, pratique le football américain depuis ses 16 ans. Michel est fan de crumble aux pommes. Sa citation préférée : "Toujours visualiser ces objectifs".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Aurélian</p>

