<p>Titre : Salle de sport et fitness à Voiron - L’Orange Bleue</p>
<p>Description : Découvrez votre salle de sport L’Orange Bleue à Voiron : cours collectifs, coachs, et activités en illimité dès 19,90€/mois. Abonnez-vous en ligne !</p>

<p>Toute l’équipe du club de fitness <strong>l’Orange Bleue Voiron</strong> vous accueille dans <strong>une salle de sport conviviale</strong> de 800 m2, riche en équipements de fitness et de musculation.</p>

<p>Quels que soient vos objectifs, vous êtes accompagnés <strong>par des</strong> <strong>coachs sportifs diplômés d’Etat</strong> qui vous guident dans votre progression.</p>
<p>Optez pour nos cours collectifs de fitness exclusifs : les Yako. Ces cours de 30 à 45 minutes sont renouvelés tous les deux mois et conçus par des presenters internationaux. Nous vous proposons <strong>50</strong> <strong>cours collectifs par semaine.</strong> Parmi eux : renforcement musculaire (Yako Pump), cardio fun (Yako Jump), bien-être (Yako Attitude).</p>

<p>Un <strong>plateau cardio complet</strong> vous attend. Rameur, elliptique, vélo, tapis de course... Cet espace vous permet de vous dépenser à votre rythme. Nous disposons également de machines de musculation (charges libres et guidés) pour travailler chaque partie de votre corps. Vous bénéficierez de programmes personnalisés pour atteindre vos objectifs (perte de poids, tonification musculaire, prise de masse).</p>

<p>Besoin de détente ? Le <strong>sauna</strong> saura éliminer les dernières tensions pour vous aider à retrouver votre équilibre.</p>
<p>Poursuivez vos entraînements où que vous soyez avec 380 salles en France et à l’International.</p>
<p>Pour les couche-tard ou lève-tôt, votre club vous propose <strong>l’accès libre</strong> (en option) de 6h à 23h.</p>
<p>Vous pouvez découvrir le fonctionnement de votre salle de sport grâce à une séance d’essai gratuite. N'hésitez pas à en faire la demande.</p>
<p>Découvrez et retrouvez les meilleurs moments du club sur les réseaux sociaux. <strong>Convivialité garantie !</strong></p>

<p>Votre salle l'Orange Bleue Voiron est équipée d’un <strong>défibrillateur</strong>.</p>

<p>-----------------------------------------</p>
<p>Le mot du gérant : Christophe</p>

<p><strong>"Un coach diplômé d’Etat, c’est l’assurance d’un suivi rigoureux, humain et bienveillant. Ses conseils et encouragements vous aideront à tenir vos objectifs.”</strong></p>

<p>Notre équipe est composée de 4 coachs : Nicolas, Céline et Harmonie et Palmyre</p>

<p>Nicolas, responsable de salle, est titulaire du brevet d'Etat des métiers de la forme, pratique le cyclisme depuis ses 15 ans. Nicolas est fan de Cinéma. Sa citation préférée : "Le bonheur n'est pas d'avoir ce qu'on désire et d'apprécier ce que l'on a".</p>
<p>Céline, titulaire du BPJEPS C et D, pratique la musculation depuis ses 16 ans. Céline est fan de David Guetta. Sa citation préférée : "Deviens plus fort que ta plus forte excuse".</p>
<p>Harmonie, titulaire du BPJEPS C, pratique le triathlon depuis ses 18 ans. Harmonie est fan de diététique. Sa citation préférée : "On n'a rien sans rien".</p>
<p>Palmyre, titulaire du BPJEPS C, pratique le football depuis ses 13 ans. Palmyre est fan de musique . Sa citation préférée : "Le dire ça fait rire, mais le faire ça fait taire".</p>

<p>Toute l’équipe vous attend pour démarrer votre programme dans la bonne humeur. A bientôt !</p>

<p>Christophe,</p>

