.container-single-yako {
  @extend .container-single-activity;

  .container-single-yako__header {
    @extend .container-single-activity__header;
  }

  .single-yako__header__title {
    @extend .container-single-activity--title;
  }

  .container-single-yako__content {
    @extend .container-single-activity__content;
  }

  .container-single-yako--name,components-list__title {
    @extend .container-single-activity--name;
    color: #ed9c41;

    &:after {
      background-color: var(--tooltip-color);
    }
  }

  .container-single-yako__description {
    padding-bottom: 50px;
  }

  .container-single-yako__description--header {
    padding: 80px;
  }

  .container-single-yako--title_description {
    color: #ed9c41;
    font-size: 20px;
    line-height: 25px;
    width: 70%;
    font-weight: 400;
    margin: 0 auto;

    &:after {
      background-color: var(--tooltip-color);
      width: 50px;
    }
  }

  .container-single-yako__description--leftside {
    height: 100%;

    ol {
      padding-top: 20px;
      -webkit-padding-start: 15px;
      li {
        padding-bottom: 35px;
      }
    }
  }

  .container-single-yako__description--leftside,
  .container-single-yako__description--rightside--up,
  .container-single-yako__description--rightside--down,
  .container-single-yako__description--rightside {
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(13, 9, 8, 0.04);
    padding: 30px 50px;

  }

  .container-single-yako__description--rightside--up {
    margin-bottom: 50px;
  }

  .container-single-yako__description--rightside--up, .container-single-yako__description--rightside--down, .container-single-yako__description--rightside {
    ul {
      list-style-image: url('/images/check.png');
      -webkit-padding-start: 15px;

      li {
        margin-left: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
      }
    }
  }

  .container-single-yako__description--title {
    color: #8f8e8f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .container-single-yako__description--text {
    color: #8f8e8f;
    font-size: 16px;
    font-weight: 400;
  }

  .container-single-yako__description--list {
    padding-left: 15px;
  }

  .components-list--title {
    color: #ed9c41;
    &:after {
      background-color: #ed9c41;
      width: 50px;
    }
  }
  .single-yako.components-list--title {
    &:after {
      background-color: var(--tooltip-color);
    }
  }

  .btn-more-yako {
    max-width: 350px;
    margin: 20px auto;

  }

  .mb-mob {
   padding-right:40px;
  }
}

@media(max-width: 768px) {
  .container-single-yako {
    .container-yakos__content {
      padding-top:100px;
    }
  }

}

@media(max-width: 575px) {
  .container-single-yako {
    .single-yako__header__title {
      font-size: 40px;
    }

    .container-single-yako__description--header {
      padding: 80px 0;
    }
    .container-single-yako--title_description {
      width: 100%;
    }

    .btn-more-yako {
      max-width: 250px;
      font-size: 9px;
    }

    .components-list {
      padding-top: 10px;
      padding-bottom:50px;
    }

    .container-yakos__content {
      .js-parent-show-more {
        div {
          display:none;
        }

        div:nth-child(-n+2) {
          display: block;
        }
      }
      padding-top: 50px;
    }
    .mb-mob {
      margin-bottom:50px;
      padding-right:15px;
    }

    .container-single-yako__description--leftside, .container-single-yako__description--rightside--up, .container-single-yako__description--rightside--down {
      padding: 30px 20px;

    }
  }
}
