//Vidéo yako components
.details-yako__mainimage {
  position:relative;

  .yako__mainimage-presentation {
    max-width: 100%;
    height: 475px;
    max-height: 475px;
    width: 100%;
  }
    img.yako__mainimage-presentation{
        object-fit: cover;
    }
}

.details-yako--rounded-blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: $blue-second;
  display: inline-block;
}

.rounded-blue--image {
  width: 39px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}


.container__list__yakos {
  .list__yakos__header {
    img {
      max-width: 100%;
      height: auto;
    }
    background-image: url('/images/banniere.png');
    width: 100%;
    height: 310px;
    margin: 0 auto 100px auto;
  }

  .yakos__header__text {
    color: #fff;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .picto-tiles__text {
    color: #004589;
    font-size: 12px;
    font-weight: 700;
    line-height: 29.54px;
    text-transform: uppercase;
  }

  .yakos__header__presentation {
    width: 60%;
    padding-bottom: 100px;
  }

  .main-header__picto {
    bottom: -120px;
    img  {
      min-height: 80px;
      object-fit: scale-down;
    }
  }

}

.container__yakos__card {
  border: 1px solid #bcbec0;
  box-shadow: 7px 12px 32px rgba(13, 9, 8, 0.11);
  background-color: #f7f7f7;
}

.container__yakos__image {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 110px;
    bottom: 100%;
    left: -1px;
    right: 0;
    margin: 0 auto;
    border-bottom: solid 20px #f7f7f7;
    border-left: solid 358px transparent;
    border-right: solid 0px transparent;
  }
}

.yakos__card__image {
  width: 100%;
  height: auto;
  max-height: 130px;
  object-fit: cover;
}

.yakos_card__item {
  img {
    min-width: 36px;
    height: 35px;
    object-fit: scale-down;
  }
}

.yakos_card__item {
  padding: 10px;
}

.yakos__card__item__content {
  padding: 0px 10px;
}

.components-list__button {
  margin: 0 auto;
  max-width: 300px;
}

.yakos__card__item__content__title {
  color: #115291;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;

}

.yakos__card__item__content__desc {
  color: #8f8e8f;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}

.yako__content__static {
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
  text-align: center;

}

.container-yakos__content {
  a {
    text-decoration: none;
  }
  .figure-hover-effet--1 {
    overflow: hidden;
    height: 363px;
    margin-bottom: 15px;
    position: relative;
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
  }
  .figcaption-hover-effet--1 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.8s, opacity 0.1s 0.3s;
  }

  .figure-hover-effet--1:hover {
    .figcaption-hover-effet--1 {
      opacity: 1;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
    }
  }


  .figure-hover-effet--2 {
    margin-bottom:30px;
    padding:0;
    position:relative;
    cursor:pointer;
    height: 363px;
  }

  .figcaption-hover-effet--2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .8s;
    -moz-transition:all .8s;
    transition:all .8s;

    .yakos__card__item__content {
      text-align: left;
    }
  }

  .figure-hover-effet--2:hover {
    .figcaption-hover-effet--2 {
      -webkit-transform:rotateY(0);
      -moz-transform:rotateY(0);
      transform:rotateY(0)
    }

    .container-yakos__static {
      opacity: 0;
      -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      transform:rotateY(180deg)
    }
  }

  .figcaption-hover-effet--2 {
    .container-yakos__static {
      display:block;
      position:relative;
      z-index:10;
      margin:-15px 0;
      backface-visibility:hidden;
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s
    }
  }
}

.content__static__title {
  font-size: 36px;
  padding: 100px 20px 0px 20px;
  text-transform: uppercase;
  position: relative;

  &:after {
    background-color: #ffffff;
    content: '';
    position: absolute;
    display: block;
    height: 7px;
    width: 60px;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.content-static__title--hidden {
  visibility: hidden;
}

.content__static__picto {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 50px;
    padding-bottom: 20px;
}

.content__static__picto--after {
    position: relative;
    height: 0px;
    width: 0px;
    margin: 0 auto;
    &:after {
        background-color: #ffffff;
        content: '';
        position: absolute;
        display: block;
        height: 7px;
        width: 60px;
        bottom: -25px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.content__static__text {
  margin-top: 50px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  padding: 10px;

}

@media(max-width: 1200px) {
  .container__yakos__image {
    &:after {
      content: '';
      position: absolute;
      top: 110px;
      bottom: 100%;
      left: -1px;
      right: 0;
      margin: 0 auto;
      border-bottom: solid 20px #f7f7f7;
      border-left: solid 325px transparent;
      border-right: solid 0px transparent;
    }
  }
}

@media(max-width: 1024px){
  .container__yakos__image {
    &:after {
      border:none;

    }
  }
}

@media (max-width: 768px) {
  .container__list__yakos {
    .container-yakos__content {
      padding-top: 200px;
    }
    .main-header__picto {
      bottom: -175px;
    }

    .list__yakos__header {
      padding-top: 50px;
    }

    .components-list {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 575px) {
  .container__list__yakos {
    .container-yakos__content {
      padding-bottom: 50px;
      .btn {
        margin: 0 auto;
      }
      .parent-figure {
        display: none;
      }
    }

    .container-yakos__content {
      div {
        display: none;
      }

      div:nth-child(-n+2) {
        display: block;
      }
    }
    .container-list__header {
      padding-top: 30px;
    }

    .yakos__header__text {
      width: 85%;
    }

    .main-header__picto {
      bottom: -170px;
    }

  }
}

@media (max-width: 320px) {
  .container__list__yakos {

    .list__yakos__header {
      padding-top: 20px;
    }
    .main-header__picto {
      bottom: -210px;
    }

    .container-yakos__content {
      padding-top: 250px;
    }

    .content__static__title {
      font-size: 26px;
      padding-top: 95px;
    }

    .content__static__text {
      font-size: 16px;
    }

    .container-yakos__content figure {
      height: 320px;
    }

    .container-yakos__content figure figcaption {
      height: 320px;
    }
  }
}

