/* ----------------- */
/* Tile blog article */
/* ----------------- */

.blog-tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px;
}

.blog-tiles__desc {
  margin-bottom: 50px;
}

.bloc-tiles__descp--text {
  width: 50%;
  margin: 0 auto;
}

.blog {
  .owl-carousel {
    display: flex;
    justify-content: center;
  }
}

.blog-tiles__main_lnk {
  text-decoration: none !important;

}

.blog-tiles__item-container {
  border: 1px solid #bcbec0;
  padding: 0;
  min-height: 400px;
  transition: box-shadow 0.3s ease-in;

  &:hover {
    box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.19);

    .blog-tiles__title {
      color: #005b98;
      text-decoration: none;
    }

    //.blog-tiles__lnk {
    //  display: inline-block;
    //  visibility: visible;
    //  text-decoration: none;
    //  border-bottom: 1px solid #005b98;;
    //}
    .blog-tiles__metadatas {
      padding: 20px 20px 0 30px;
    }
  }
}

.blog-tiles__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.blog-tiles__metadatas-header {
  height: 230px;
  overflow-y: hidden;

  a {
    display: block;
    height: 100%;
    object-fit: cover;

    .blog-tiles__image {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.blog-tiles__metadatas {
  padding: 20px 30px 0 30px;
}

.blog-tiles__metadatas-footer {
  padding: 0 30px 20px 30px;
  margin-top: auto;
}

.blog-tiles__category {
  margin: 0;
  color: #bcbec0;
  font-size: 12px;
}

.blog-tiles__title {
  margin: 0;
  display: block;
  color: #636467;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-underline: none;

}

.blog-tiles__date {
  margin: 0;
  color: #bcbec0;
  font-size: 13px;
}

.blog-tiles__lnk {
  @extend .lnk ;
  display: none;
  margin-top: 20px;
  text-decoration: underline;

  i {
    margin-left:10px;
  }
}

.blog-tiles__button {
  padding-top: 40px;
  text-align: center;

  a {
    width: auto;
    max-width: 100%;
    display: inline-block;
  }
}


.blog__title {
  @extend .subscription__title ;
}

.blog__text {
  @extend .subscription__text ;
}

.blog__outer-title {
  @extend .plan__outer-title ;
}

@media(max-width: 1024px) {

    .blog-tiles__item-container {
      &:hover {
        box-shadow: none;

        .blog-tiles__title {
          color: #636467;
          text-decoration: none;
        }
        .blog-tiles__metadatas {
          padding: 20px 30px 0 30px;
        }
      }
    }

  .js-carousel-blog {
    .col-xl-4 {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 420px) {

  .blog-tiles__item-container {
    min-height: inherit;
    &:hover {
      .blog-tiles__metadatas {
        padding: 0 15px;
      }
    }
  }
  .blog {
    margin-bottom: 75px;
    padding-top: 75px;

    .blog-tiles__button {
      margin: 20px auto 40px auto;

      a {
        width: 249px;
        margin: 0 auto;
      }
    }
  }
  .blog-tiles__title {
    font-size: 16px;
    line-height: 20px;

    &:hover {
      margin: 0;
    }
  }
  .blog-tiles__metadatas {
    padding: 0 15px;
    margin: 30px 0;
  }
  .blog__text {
    width: 100%;
    margin: 0;
  }

  .blog-tiles__desc {
    padding: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 390px) {

    .blog-tiles__item-container {
      &:hover {
        .blog-tiles__metadatas {
          padding: 15px;
        }
      }
    }

    .blog-tiles__metadatas {
      padding: 15px;
      margin: 0;
    }
}
