.skin-orangebleu {
    color: #333;
    text-decoration: none;
    .main-sidebar {
        background-color: #fafafa;
    }
    .main-sidebar a {
        color: #000;
        text-decoration: none;
    }

    .main-sidebar a:hover {
        color: $orange-main;
    }

    .main-sidebar li {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-size: 0.9rem;
        a {
            padding: 12px 5px 12px 15px;
        }
    }

    .main-sidebar li:hover {
        background-color: $light-grey;
    }

    .top-header {
        background-color: #007ac1;
        opacity: 0.5;
        margin-left: -15px;
        margin-right: -15px;
         p{
             padding:10px;
             color: #fff;
             margin-bottom: 0px;
         }
    }

    /* ------------ */
    /*     Liste    */
    /* ------------ */

    table {
        border-collapse: collapse;
        border-spacing: 15px;
        margin-top:20px;

        a {
            text-decoration: none;
            color: #000;
            margin-right: 10px;
        }

        .see-link {
            color: green;
            margin-right:5px;
        }
        .update-link {
            color: blue;
            margin-right:5px;
        }
        .delete-link {
            color:red;
            margin-right: 5px;
        }
      .btn-delete {
        border: 0px;
        background-color: #fff;
      }

        .btn-moche {
            background: #fff;
        }

        tbody {

        }
    }
}