.cookie-consent {
    padding: 20px 30px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 10px #888888;
    width: 100%;
    z-index: 100;
    background-color: #fff;

    .cookie-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            margin: 0;
        }
    }
}