.sitemap-content{
  padding: 50px;
}

.sitemap__header {
  position: relative;
  background-image: url(/images/banniere.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.sitemap__header_center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sitemap-list{
  list-style: none;
  padding: 0;
}

.sitemap-home{
  text-transform: uppercase;
  color: $grey-dark;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  font-family:$montserrat;
  font-weight: bold;
  letter-spacing: 0.12px;
  &:hover{
    text-decoration: none;
  }
}

.lnk-sitemap{
  color: $grey-dark;
  font-size: 15px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 40px;
  &:hover{
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .sitemap-content{
    text-align: center;
  }
}
