.container-list-equipment {
  .components-list__cards {
    div {
      display: none;
    }

    div:nth-child(-n+8) {
      display: block;
    }
  }
}

@media (max-width: 420px) {
  .container-list-equipment {
    .components-list__cards {
      div {
        display: none;
      }
      div:nth-child(-n+12) {
        display: none;
      }
      div:nth-child(-n+2) {
        display: block;
      }

    }
  }
}