.container-single-equipment {
  @extend .container-single-activity;

  .single-equipment__header {
    @extend .container-single-activity__header;
    padding-top: 80px;
  }

  .single-equipment__title {
    @extend .container-single-activity--title;
  }


  .single-equipment__presentation {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 0px auto;
  }

  .components-list__content {
    .in_picture {
      .in_picture__blue {
        width: 100%;
        height: 100%;
      }
    }

    .components-list__cards {
      div {
        display: none;
      }
    }

    .components-list__cards {
      .list__cards__item:nth-child(-n+8) {
        height: 195px;
        .in_picture {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
      div:nth-child(-n+8) {
        display: block;
      }
    }
  }
}

@media(max-width: 1024px) {
  .equipment__content__title {
    text-align: center;
    padding-top: 20px;
  }
}

@media(max-width: 768px) {

  .container-single-equipment {
    .single-equipment__header {
      padding-top: 40px;
    }
  }
}

@media(max-width: 575px) {
  .container-single-equipment {

    .list__cards__item {
      margin-bottom: 0;
    }

    .list__cards__item:nth-child(-n+8) {
      height: 115px;
    }

    .single-equipment__title {
      font-size: 28px;
    }

    .single-equipment__presentation {
      width: 80%;
    }

    .components-list {
      padding-top: 50px;

      .components-list__content {
        .components-list__cards {
          div {
            display: none;
          }

          div:nth-child(-n+2) {
            display: block;
          }
        }
      }
    }

    .container-list__content--item__header {
      width: 50%;
    }
  }
}
