.container-offer {
    .main-header__presentation {
        margin-bottom: 0;
    }

    .subscription__mention_body{
        font-size: 12px;
    }

  .main-header__presentation h2 {
    margin:0;
  }
  .main-header__description {
    color: #636467;
    width: 80%;
  }

  .main-header {
    height: 500px;
    background-position-x: 80% !important;
  }

  .container-offer__search-form {
    background-color: rgba(188, 190, 192, 0.3);
    padding: 20px 0;
  }

  .container-offer__list {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .offer__list__item {
    padding: 20px;
    border: 1px solid #bcbec0;
    margin-bottom: 30px;

    &:hover {
      box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.39);
    }
  }

  .offer__list__title {
    font-weight: 700;
    color: #636467;
    line-height: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f36c21;
  }

  .offer__list__text {
    color: #8f8e8f;
    line-height: 18px;
    padding-top: 10px;
  }

  .offer__list__btn {
    font-weight: 600;
    font-size: 12px;
  }

  .container-offer__band {
    background-color: $light-beige;
  }

  .offer__band__desc {
    width: 30%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .offer__band__btn {
    width: 200px;
  }

  .container-offer__footer {
    padding-bottom: 30px;

    p {
      font-size: 12px;
      color: #636467;
    }

    a {
      text-decoration: none;
      color: #636467;
    }
  }

  .offer__footer__content {
    text-align: center;
    img {
      max-width: 300px;
      height: auto;
    }
  }

  .center-btn {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 768px) {
  .container-offer {
    .main-header {
      background: url('/images/oferta-especial.png') no-repeat center right cover !important;
    }
  }
}

@media (max-width: 575px) {
  .container-offer {
    .main-header {
      height: 750px;
      background: url('/images/oferta-especial.png') no-repeat !important;
      background-position: center right 20% !important;
      background-size: cover !important;
    }

    .main-header__orange {
      background: url(/images/degrade_orange_mobile.png) no-repeat left 125% !important;
    }

    .club-in_search {
      margin: 10px 0 0 0;
    }

    .container-offer__list {
      padding-bottom: 30px;
    }

    .container-offer__band {
      padding: 50px 10px;
    }

    .offer__band__content {
      text-align: inherit;

    }

    .offer__band__desc {
      width: 100%;
    }

    .offer__band__btn {
      width: 100%;
      max-width: inherit;
    }
  }
}

@media (max-width: 320px) {
  .container-offer {
    .main-header {
      height: 660px;
    }
  }
}
