<template>
    <div class="switch">
        <input id="is_student" name="is_student" v-model="isStudent" type="checkbox" />
        <label for="is_student"></label>
    </div>
</template>

<script>
export default {
    props: {
        initIsStudent: {},
    },
    computed: {
        isStudent: {
            get() {
                return this.$store.state.user.isStudent;
            },
            set(value) {
                this.$store.dispatch('setIsStudent', value);
            },
        },
    },
    created() {
        this.$store.dispatch('setIsStudent', this.initIsStudent == 1);
    },
};
</script>
