<template>
    <div
        class="js-child single-offer"
        v-if="offers && offers[this.id] && !!isStudent == offers[this.id].is_student"
    >
        <div
            @click="select"
            class="subscription-tiles__item"
            :class="{
                'subscription-tiles__item--active': this.id == selectedId,
                'subscription-tiles__item-hover': offers[this.id].is_highlighted,
            }"
        >
            <div class="subscription-tiles__item-container">
                <div class="subscription-tiles__metadatas">
                    <img
                        class="logo-offer"
                        src="/images/logo-ob-mcf-fondblanc.svg"
                        alt="logo mon coach fitness"
                    />
                    <h3 class="subscription-tiles__title text-uppercase">
                        {{ offers[this.id].title.substring(0, 12) }}
                    </h3>
                    <div class="subscription-tiles__pricing" :class="{'subscription-tiles__pricing-devise':($t('devise') != '€')}">
                        <span>{{ mainPrice | toEUR }}<sub>{{ $t('devise') }}</sub></span
                        ><span class="subscription-tiles__month"
                            >{{ $t('during') }}
                            <strong>
                                {{ minCommitment }}
                                <span v-if="minCommitment > 1">{{ $t('months') }}</span>
                                <span v-else>{{ $t('month') }}</span>
                            </strong>
                        </span>
                    </div>
                    <div class="subscription-tiles__sub-pricing">
                        <div v-if="offers[this.id].reduced_commitment">
                            {{ $t('then') }}
                            <span class="subscription-tiles__sub-price"
                                >{{ price | toEUR }}<sub>{{ $t('devise') }}</sub></span
                            >
                            <span class="subscription-tiles__sub-month">
                                {{ $t('during') }}
                                <strong
                                    >{{ commitmentLeft }}
                                    <span v-if="commitmentLeft > 1">{{ $t('months') }}</span>
                                    <span v-else>{{ $t('month') }}</span>
                                    *
                                </strong>
                            </span>
                        </div>
                    </div>
                    <div class="subscription-tiles__border"></div>
                    <div class="subscription-tiles__sub-pricing">
                        <p>
                            {{ $t('engagement') }}
                            <strong
                                >{{ offers[this.id].commitment }}
                                <span v-if="offers[this.id].commitment > 1">{{
                                    $t('months')
                                }}</span>
                                <span v-else>{{ $t('month') }}</span>
                            </strong>
                        </p>
                        <p class="subscription-tiles__sub-pricing-small">
                            {{ $t('subscription_explanation') }}
                            <strong>{{ offers[this.id].carryover_days }} {{ $t('days') }}</strong>
                            <span class="word-mobile">{{ $t('included') }}</span>
                        </p>
                        <p v-if="reducedPriceOffer">
                            {{ $t('pa') }} :
                            <span
                                class="subscription-tiles__line-through"
                                v-if="priceOffer.value() > 0"
                            >
                                <strong>{{ priceOffer | toEUR }}{{ $t('devise') }}</strong>
                            </span>
                            <span class="subscription-tiles__no-line">
                                {{ reducedPriceOffer | toEUR }}<sub>{{ $t('devise') }}</sub> </span
                            >**
                        </p>
                    </div>
                    <div class="subscription-tiles__tunnel">
                        <div class="btn-offer-round">
                            <input
                                type="radio"
                                name="radio"
                                :value="offers[this.id].id"
                                :id="'radio' + offers[this.id].id"
                                :checked="isChecked"
                            />
                            <label :for="'radio' + offers[this.id].id"></label>
                        </div>
                    </div>
                    <a
                        v-if="subscriptionUrl"
                        :href="subscriptionUrl"
                        @click="callSubscriptionEvent"
                        class="btn btn--bg-orange btn--lg btn--t-white subscription__btn js-tag-commander-abo-list-club-page"
                    >
                        {{ $t('cta') }}
                    </a>
                    <a
                        v-else
                        data-toggle="modal"
                        :data-target="'#basicModal' + clubId"
                        href="/"
                        class="btn btn--bg-orange btn--lg btn--t-white subscription__btn"
                        >{{ $t('cta') }}
                    </a>
                </div>
            </div>
        </div>
        <div v-if="totalPrice" class="cta-cash">
            <div>{{ $t('cash_payment') }}</div>
            <div>{{totalPrice}}</div>
        </div>
    </div>
</template>

<script>
let numeral = require('numeral');
require('numeral/locales/fr');
numeral.defaultFormat('0,0[.]00');

export default {
    props: {
        id: {
            require: true,
        },
        clubId: 0,
        subscriptionUrl: {
            type: String,
            default: null,
        },
        totalPrice: {
            default: null,
        },
        locale: {
            type: String,
            default: 'fr',
        },
    },
    created() {
        this.$store.dispatch('loadOffers', this.clubId ? this.clubId : false);
        window.i18n.locale = this.locale;
    },
    methods: {
        select() {
            this.$store.commit('setSelectedId', this.id);
        },
        callSubscriptionEvent() {
            var callback = window['commanderAboClubPage' + this.id];
            if (callback) {
                callback();
            }
        },
    },
    computed: {
        isChecked: function() {
            return this.id == this.selectedId;
        },
        isStudent: {
            get() {
                return this.$store.state.user.isStudent;
            },
        },
        selectedId: {
            get() {
                return this.$store.state.select.selectedId;
            },
        },
        offers: {
            get() {
                return this.$store.state.offers.offers;
            },
        },
        price: function() {
            let result = numeral(0);
            if (this.offers[this.id]) {
                result = numeral(this.offers[this.id].price).divide(100);
            }
            return result;
        },
        reducedPrice: function() {
            let result = numeral(0);
            if (this.offers[this.id]) {
                result = numeral(this.offers[this.id].reduced_price).divide(100);
            }
            return result;
        },
        mainPrice: function() {
            let price = numeral(0);
            if (this.offers[this.id]) {
                if (this.offers[this.id].reduced_commitment) {
                    price = this.reducedPrice;
                } else {
                    price = this.price;
                }
            }
            return price;
        },
        priceOffer: function() {
            let result = numeral(0);
            if (this.offers[this.id]) {
                result = numeral(this.offers[this.id].price_offer).divide(100);
            }
            return result;
        },
        reducedPriceOffer: function() {
            let result = numeral(0);
            if (this.offers[this.id]) {
                result = numeral(this.offers[this.id].reduced_price_offer).divide(100);
            }
            return result;
        },
        commitmentLeft: function() {
            return this.offers[this.id].commitment - this.offers[this.id].reduced_commitment;
        },
        minCommitment: function() {
            if (this.offers[this.id]) {
                if (this.offers[this.id].reduced_commitment) {
                    return this.offers[this.id].reduced_commitment;
                } else {
                    return this.offers[this.id].commitment;
                }
            }
            return '';
        },
        displayMoney: function(price) {
            if (!price) return;
            return price.format();
        },
    },

    filters: {
        toEUR(value) {
            return numeral(value).format();
        },
    },
};
</script>
