.recruitment__header {
    position: relative;
    background-image: url('/images/lorangebleuerecrute-banniere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
    background-position-x: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.recruitment__header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: PaintCans;
    font-size: 65px;
    font-weight: 300;
    line-height: 135%;

    @media screen and (max-width: 576px) {
        font-size: 40px;
    }
}

.recruitment_picture__blue {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #004589;
    opacity: 0.7;
    top: 0;
}

.recruitment__header_center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.recruitment-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.recruitment-menu__item {
    max-width: 385px;
    width: 100%;
    height: 57px;
    color: #fff;
    background-color: #f36c21;
    border-radius: 0;
    display: flex;
    justify-content: center;
    margin: 15px;
    line-height: 57px;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #fd8f51;
    }
    &.active {
        background-color: #fd8f51;
    }
}

.recruitment-tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.recruitment-tiles__desc {
    margin-bottom: 50px;
}

.recruitment-tiles__descp--text {
    width: 50%;
    margin: 0 auto;
}

.recruitment {
    .owl-carousel {
        display: flex;
        justify-content: center;
    }
}

.recruitment-tiles__item-container {
    border: 1px solid #bcbec0;
    padding: 0;

    &:hover {
        box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.19);

        .recruitment-tiles__title {
            color: #005b98;
            margin-left: 7px;
            text-decoration: none;

        }

        .recruitment-tiles__metadatas {
            padding: 20px 20px 0 30px;
        }
    }

    .recruitment-tiles__lnk {
        display: inline-block;
        visibility: visible;
        margin-left: 7px;
        text-decoration: none;
        border-bottom: 1px solid #005b98;;
    }
}

.recruitment-tiles__image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.recruitment-tiles__metadatas-header {
    height: 230px;

    a {
        display: block;
        height: 100%;
        object-fit: cover;

        .recruitment-tiles__image, img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .recruitment-tiles__image, img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recruitment-tiles__metadatas {
    padding: 20px 30px;
    height: 100px;
}

.recruitment-tiles__metadatas-footer {
    padding: 0 30px 20px 30px;
    margin-top: auto;
}

.recruitment-tiles__category {
    margin: 0;
    color: #bcbec0;
    font-size: 12px;
}

.recruitment-tiles__title {
    margin: 0;
    display: block;
    color: #005b98;
    font-size: 20px;
    line-height: 26px;
}

.recruitment-tiles__date {
    margin: 0;
    color: #bcbec0;
    font-size: 13px;
}

.recruitment-tiles__lnk {
    @extend .lnk ;
    visibility: hidden;
    margin-top: 20px;
}

.recruitment-tiles__button {
    margin: 40px auto;

    a {
        margin: 0 auto;
    }
}

.recruitment__title {
    @extend .subscription__title ;
}

.recruitment__text {
    @extend .subscription__text ;
}

.recruitment__outer-title {
    @extend .plan__outer-title ;
}

.recruitment-container {
    position: relative;
    max-width: 1170px;
    width: 100%;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recruitment-sidebar__map-container{
    position: sticky;
    top: 100px;
    height: 347px;
}

.recruitment-sidebar__marker-text{
    position: absolute;
    bottom: -6px;
    left: 10px;
    color: $blue-main;
    font-weight: bold;
}

.recruitment__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ebebec;
    padding: 10px 0 0 0;
    height: 100px;
    margin-bottom: 40px;
}

.recruitment__content-title {
    color: #004589;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-right: 15px;
}

.recruitment__content-subtitle {
    font-size: 13px;
    color: #757575;
    font-style: italic;
    font-weight: 700;
    margin: 0;
}

.recruitment__content-description {
    font-size: 12px;
    max-height: 50px;
    overflow-y: hidden;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.recruitment__action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recruitment__action-date {
    font-size: 12px;
    color: #848484;
    font-weight: 700;
}

.recruitment__action-btn {
    width: 90px;
    height: 22px;
    text-align: center;
    border: 1px solid transparent;
    background-color: #004589;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    align-self: flex-end;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #49a6d7;
    }
}

.recruitment-sidebar {
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 50px 0;
}

.recruitment-home-container {
    @extend .recruitment-container;
    min-height: auto;
}

.recruitment-tiles {
    &.home-tab {
        margin: 0 auto;
    }
}

.jobs-tab__menu {
    width: 100%;
    height: 104px;
    background-color: #989898;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;
}

.jobs-tab__menu__item {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#filter-offers {
    display: flex;
    align-items: center;
    height: 100%;
}

.jobs-tab__input {
    background-color: #ffffff;
    border: 1px solid #989898;
    padding-left: 8px;
    &.input-job {
        width: 230px;
        height: 36px;
    }
}

.jobs-tab__country-select {
    width: 228px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    color: #717171;
    appearance: none;
    background: #e2e2e2 url("/images/arrow_down.svg") 96% no-repeat;
    border: 1px solid #989898;
}

.jobs-tab__search-btn {
    color: #000;
    background-color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 16.26px;
    padding: 8px 25px;
    max-width: 230px;
}

.jobs-tab__search-btn__icon {
    display: inline;
    width: 24px;
    height: 24px;
    margin: 3px;
}

.jobs-tab__title {
    color: #989898;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}

.recruitment-header__categorie {
    color: #8f8e8f;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.recruitment-header__title {
    color: #005b98;
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.recruitment-header__else {
    color: #8f8e8f;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
}

.recruitment-img {
    width: 100%;
    margin-bottom: 50px;
    img {
        width: 100%;
        max-height: 310px;
        object-fit: cover;
        object-position: 0 0;
    }
}

.recruitment-text {
    color: #005b98;
    font-weight: 400;
    margin-bottom: 50px;
}

.recruitment-text__part {
    margin: 25px 0;
}

.recruitment-text__title {
    font-weight: 700;
    font-size: 16px;
}

.recruitment-text__table {
    width: 70%;
    font-size: 14px;
    tr td:first-child {
        font-weight: 600;
    }
}

.btn--centered {
    margin: 0 auto;
}

.btn-apply {
    width: 365px;
    height: 40px;
    font-size: 14px;
    max-width: 365px;
}

.recruitment-form {
    form {
        display: flex;
        flex-direction: column;
    }
    margin-bottom: 80px;
    width: 100%;
}

.recruitment-form form {
    input, select {
        color: #005b98;
        width: 538px;
        height: 35px;
        background-color: #fafafa;
        border: none;
    }

    input {
        padding: 12px;
    }

    select {
        position: relative;
        appearance: none;
        padding: 0 12px;
        background: #fafafa url("/images/arrow_down.svg") 96% no-repeat;
    }

    .select2-selection--multiple {
        border: 1px solid #eee !important;
        background-color: #fafafa !important;
        box-shadow: 2px 2px 2px #eee !important;
        margin-bottom: 12px;

        select {
            height: 30px;
            margin: 0;
        }
    }
}

.recruitment-infos {
    margin-bottom: 70px;
}

.recruitment-infos__title {
    width: 148px;
    height: 14px;
    color: #005b98;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.recruitment-infos__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;

    label {
        font-size: 14px;
        font-weight: 500;
        color: #005b98;
    }
}


.recruitment-infos__field__file {
    display: none;
}

.recruitment-infos__field__file-label {
    color: #005b98;
    width: 538px;
    height: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #fafafa url("/images/download-icon.svg") 96% no-repeat;

    span {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }
}
.recruitment-infos__field__file-label-button {
    border: 1px solid #eee;
    cursor: pointer;
    box-shadow: 1px 1px 1px #eee;
}

.recruitment-infos__field__file-label__icon {
    margin-right: 10px;
}

.recruitment-infos__field .select2
{
    width: 538px !important;
}

.recruitment-infos__field .select2-selection{
    height: unset !important;
}

#recruitment_map {
    .gm-style-iw {
        max-width: none !important;
        width: auto;
    }

    .gm-style-iw-d {
        min-width: 100% !important;
        max-width: none !important;
    }
}

.form-field__help {
    font-size: 11px;
    font-style: italic;
    color: grey;
    margin: 0;
}

@media screen and (max-width: 992px){
    .recruitment-menu {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    .recruitment-menu__item {
        height: 57px;
        margin: 15px auto;
    }

    .recruitment-container {
        width: 90%;
        margin: auto;
    }

    .recruitment__item {
        height: auto;
        width: auto;
    }

    .recruitment-sidebar {
        display: none;
    }

    .jobs-tab__menu {
        min-height: 220px;
        width: 100%;
        padding: 8px 15px;
        flex-direction: column;
    }

    .jobs-tab__menu__item {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-bottom: 25px;
    }

    .jobs-tab__filter-town {
        display: flex;
        flex-direction: row;
    }
}

// Pagination //

div.pager {
    text-align: center;
    margin: 2rem 0;
    align-self: center;
}

div.pager span {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    color: #8e8e8e;
    margin-right: 0.5em;
    transition: all .3s;
    border-radius: 2px;
}

div.pager span.next, div.pager span.previous {
    color: #004589;
}

div.pager span.active {
    color: #ffffff;
    background: #004589;
}

// End Pagination //

@media screen and (max-width: 420px) {
    [data-tab] {
        padding-top: 0;
    }

    .recruitment {
        padding-top: 75px;

        .recruitment-tiles__button {
            margin: 20px auto 40px auto;

            a {
                width: 249px;
                margin: 0 auto;
            }
        }
    }

    .recruitment-container {
        padding: 0 15px;
    }

    .recruitment-tiles__title {
        font-size: 16px;
        line-height: 20px;

        &:hover {
            margin: 0;
        }
    }
    .recruitment-tiles__metadatas {
        padding: 15px;
    }
    .recruitment__text {
        width: 100%;
        margin: 0;
    }

    .recruitment-tiles__desc {
        padding: 0;
        margin-bottom: 15px;
    }

    .jobs-tab__menu {
        padding: 25px 8px;
        height: 220px;
        div {
            margin-bottom: 15px;
        }
    }

    .jobs-tab__menu__item {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    button[type="submit"].jobs-tab__search-btn {
        margin-top: 15px;
        max-width: 230px;
    }

    .recruitment-text__table {
        width: 100%;
    }

    .btn-apply {
        width: auto;
        font-size: 11px;
    }

    .recruitment-form form {
        input, select {
            max-width: 100%;
        }
    }

    .recruitment-infos__field {
        flex-direction: column;
        label {
            font-size: 12px;
        }
    }

    .recruitment-infos__field__file-label {
        max-width: 100%;
        span {
            max-height: 30px;
        }
    }

    .recruitment-infos__field .select2{
        width: 100% !important;
    }
}
