.container-faq__header{
    padding: 50px 0;
    background-color: $grey;
}

.list-faq-list-container{
    margin: 50px auto 84px;
}

.list-faq-item-container{
    margin-bottom: 15px;
}

.list-faq-item-question{
    font-size: 18px;
    font-weight: 700;
    padding: 29px 45px;
    background-color: $blue-main;
    color: $light-grey-faq;
    &.collapsed{
        background-color: $light-grey-faq;
        color: $blue-main;
    }
    &:hover{
        cursor: pointer;
    }
}

.list-faq-item-answer{
    font-size: 16px;
    background-color: $light-grey-faq;
    span{
        display: block;
        padding: 17px 30px 30px;
    }
}

.faq__text{
    font-size: 28px;
    color: $blue-main;
}

@media(max-width: 900px) {
    .faq__text{
        font-size: 20px;
    }
}

@media(max-width: 575px) {
    .list-faq-item-question{
        padding: 24px 25px;
        font-size: 16px;
    }

    .list-faq-item-answer{
        font-size: 14px;
        span{
            padding: 12px 20px 20px;
        }
    }

    .list-faq-list-container{
        padding: 0;
    }
}

@media(max-width: 380px) {
    .list-faq-item-question{
        font-size: 14px;
    }

    .list-faq-item-answer{
        font-size: 14px;
    }
}
