.club__parent {
  position:relative;
}
.club__container {
  .club__text {
    width:50%;
    margin: 0 auto;
  }
}
.find_club__item {
  display: flex;
  padding: 20px 30px;
  width: 770px;
  margin: 0 auto;

  .club-in_search {
    margin-right:10px;
  }
  form {
    width: 100%;
  }

}

.club__overlay {
  position:absolute;
  background:url('../images/ORANGE_BLEU_MAP_height_357.jpg') no-repeat center bottom;
  height:357px;
  width: 100%;
  max-width: 100%;
  filter:grayscale(100%);
}

@media (max-width: 768px) {
  .find_club__item {
    width: inherit;
  }

}

@media (max-width: 575px) {

  .club__container {
    .club__text {
      width:100%;
      margin: 0 auto;
    }
  }
    .find_club__item {
      width: auto;
      padding: 0;
      form {
        flex-wrap: wrap;

        .club-in_search {
          margin-bottom: 10px;
        }

        button {
          width: 100%;
          max-width: 100%;
        }
      }

    }
}
