.container-tunnel__footer {
  padding:20px 0;

  p {
    margin:0;
    padding:0;
    margin-top:10px;

  }

  img {
    margin-right: 10px;
  }

  .tunnel__footer__secure {
    border-right: 1px solid #ebebec;
    padding-right:20px;
    margin-right: 20px;
  }

  .tunnel__footer__lnk {
    a {
      color: #bcbec0;
      font-size: 12px;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        padding-right:10px;
        color:#bcbec0;
      }
    }
  }
}


@media(max-width: 575px) {
  .container-tunnel__footer {
    .tunnel__footer__secure {
      border-right:0;
    }

    .tunnel__footer__secure {
      width: 100%;
      text-align: center;
      justify-content: center;
      padding:0;
      margin-right: 0;
      margin-bottom:15px;
    }

    img {
      margin-right: 5px;
    }

    .tunnel__footer__lnk {
      margin-top:30px;
      width: 100%;

      a {
        text-align: center;
      }
    }

    .tunnel__footer__img {
      width: 100%;
      text-align: center;
    }
  }
}

@media(max-width: 320px) {
  .tunnel__footer__img {
    text-align: inherit;
   img {
     margin-right: 1px;
   }
  }
}
