.landing-page__header {
  width: 100%;
  position: relative;
}

.landing-page-cms {
  .cms-h2.not-underlined {
    margin-bottom: 0;
    &::after {
      content: unset;
    }
  }

  .cms-content {
    h3 {
      color: $blue-main;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      position: relative;
      margin-bottom: 50px;

      &::after {
        background-color: #007ac1;
        content: "";
        position: absolute;
        display: block;
        height: 6px;
        width: 100px;
        bottom: -25px;
        left: 0;
      }
    }
  }
}

.--bold {
  font-weight: bold;
  font-size: 1.2em;
}

.landing-page__colored-header {
  background: #16508B;
}

.landing-page__header__inside-text {
  width: 55%;
  min-width: 320px;
  padding: 55px 65px 55px 15px;

  .h1 {
    font-size: 35px;
  }

  .price, strong {
    font-size: 1.4em;
    font-weight: bold;
  }
}

.landing-page__header__outside-text {
  ul {
    li {
      color: $blue-main;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

.landing-page__form {
  position: absolute;
  top: 9%;
  right: 6%;
  background: #ffffff;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 15px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1;

  .landing-page__form__title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
    width: 80%;
  }

  .landing-page__form-row {
    margin: 0 0 18px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .in_text {
      max-width: inherit;
      input {
        width: 220px;
      }
      margin: 0 12px;
    }
  }

  .landing-page__form__in_text {
    position: relative;
    width: 100%;
    margin: 0 3.5%;

    select {
      border-radius: 0;
      appearance: none;

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #ced4da;
      }
    }

    .landing-page__form__in_text__label {
      position: absolute;
      left: 10px;
      top: -25%;
      font-size: 12px;
      background: white;
      color: $blue-main;
    }
  }

  .landing-page__form__mentions {
    padding: 25px 45px 0;
    font-size: 12px;
    line-height: 12px;
  }

  .landing-page__form__chevron-select {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    color: #8f8e8f;
  }
}

.address-block {
  position: relative;
  height: 50px;
  max-width: 95vw;
  overflow: hidden;
  i {
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.club__infos--opening-hour {
  font-weight: bold;
}

.club__infos__free-access {
  color: #636467;
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: bold;
}

.club__infos__text {
  display: flex;
  flex-direction: column;
  color: #8f8e8f;
  font-size: 14px;
  line-height: 18px;
}

.address-block--is-hover {
  &:hover {
    cursor: pointer;
  }
}

.landing-page__body {
  display: flex;
  flex-direction: row;

  .subtitle {
    color: #004589;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  .club__infos {
    width: 35%;
    margin-right: 65px;
    padding-left: 18px;

    .club__info {
      .club__info__name {
        color: #004589;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
      }

      .club__info__subtitle {
        &:before {
          content: '';
          width: 100%;
          height: 1px;
          background-color: #bcbec0;
          display: inline-block;
          margin: 15px 0px;
        }
      }
    }

    .club__infos__badges {
      display: flex;
      flex-direction: row;
      margin: 12px 0;
      justify-content: space-between;

      .club__infos__badge {
        width: 70px;
        height: 70px;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .map-container {
    position: relative;
    width: 65%;
    height: 320px;
  }
}

.block-img {
  background: #004887;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;

  img {
    width: auto;
    max-height: 500px;
  }

  .text-container {
    background: white;
    position: absolute;
    width: 470px;
    height: 290px;
    padding: 40px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2 {
      font-size: 30px;
    }

    p {
      color: $blue-main;
    }
  }
}

.landing-page__youtube-text {
  max-width: 370px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 30px;
  }
}

.landing-page__youtube-vid {
  height: 435px;
}

.three-quaters {
  width: 75%;
}

@media screen and (max-width: 1200px){
  .landing-page__header__outside-text {
    padding-left: 35px;
    width: 55%;
    margin: 0;

    ul {
      li {
        line-height: 1.2em;
        font-size: 1.2em;
      }
    }
  }

  .landing-page__form {
    right: 3%;
    min-width: 30%;
    width: auto;
  }
}

@media screen and (max-width: 992px) {

  .landing-page__header__inside-text {
    padding: 55px 15px;
    width: auto;

    .h1 {
      font-size: 22px;
      line-height: 24px;
    }

    .main-header__description {
      font-size: 17px;
    }
  }

  .landing-page__header__outside-text {
    padding: 25px;
    width: auto;

    ul {
      li {
        line-height: 1.4em;
      }
    }
  }

  .landing-page__form {
    position: inherit;
    width: 95%;
    top: 0;
    right: 0;
    box-shadow: none;
    border: 1px solid #636467;
    margin: 10px auto;

    .landing-page__form__title {
      text-align: center;
      margin-bottom: 25px;
      font-size: 21px;
      width: 95%;
    }

    .landing-page__form-row {
      margin: 5px 0;

      .in_text {
        width: 92%;
        margin: 10px auto;

        .in_popover__span {
          left: 90%;
          bottom: 25%;
        }

        input {
          width: 100%;
        }
      }
    }

    .landing-page__form__mentions {
      padding: 25px 20px 0;
      font-size: 12px;
      line-height: 12px;
    }
  }

  .landing-page__body {
    flex-direction: column;
    align-items: center;

    .club__infos {
      width: 100%;
      padding: 0 18px;
      margin-right: 0;
    }

    .map-container {
      width: 94%;
      padding: 0 10px;
      margin-top: 25px;
      height: 400px;
    }
  }

  .block-img {
    .text-container {
      width: 360px;
      height: 240px;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .club__infos__text {
    font-size: 0.8em;
  }

  .block-img {
    min-height: 570px;

    img {
      width: auto;
      min-height: 400px;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }

    .text-container {
      width: 310px;
      height: 215px;
      right: 50%;
      transform: translateX(50%);
      bottom: 50px;
      padding: 25px;

      h2.main-header__title {
        width: auto;
      }

      & > * {
        margin-bottom: 5px;
      }
    }
  }

  .landing-page__youtube-vid__container {
    height: 0;
    width: 100%;
    padding-top: 75%;
    position: relative;

    .landing-page__youtube-vid {
      top: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 100%;
    }
  }
}