/* ------------ */
/* Tile network */
/* ------------ */
.network-desc {
  //max-width: 290px;
}

.network-desc__title {
  margin-bottom: 50px;

}

.network-desc-container {
  ///max-width: 290px;
}

.network-tiles {
  display: flex;
  //padding-left: 15px;
}

.network-tile__item {
  width: 370px;
  margin-right: 50px;
  display: block;
  position: relative;
}

.network-tile__image {
  max-width: 100%;
  height: auto;
}

.network-tile__caption {
  opacity: 1;
  position: absolute;
  bottom: -15px;
  left: 15px;
  width: 330px;
  padding: 20px 20px 30px;
  min-height: 165px;
  &:before {
    display: block;
    mix-blend-mode: multiply;
    content: '';
    background: #004589;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a:hover {
    text-decoration:none;
  }

}

.network-tile__title {
  color: white;
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  position: relative;
  z-index: 5;
  display: block;
}

.network-tile__title--small {
  font-size: 20px;
  display: block;
}

.network-tiles__lnk {
  @extend .lnk ;
  font-weight: 500;
  display: none;
  font-size: 14px;
  position: relative;
  z-index: 5;

  &:hover {
    color:$white;
  }
}

@media (max-width: 1200px) {
  .network-tiles {
    .network-desc-container {
      text-align: center;
      h2 {
        &:after {
          left: 50%;
        }
      }
    }
    figure {
      .network-tile__caption {
        left: 10%;
      }
    }
  }
}

@media (max-width: 992px) {
  .network-tiles {
    figure {
      .network-tile__caption {
        left: 5%;
      }
    }
  }
}

@media (max-width: 768px) {
  .network-tiles {
    figure {
      margin-right: inherit;
      .network-tile__caption {
        left: 0%;
      }
    }
  }

  .network-tile__title {
   z-index: 1;
  }

  .figure-container {
    flex-wrap: wrap;
  }

  .network-tile__item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 420px) {
  .network {
    padding-top: 40px;
    margin-top: 30px;
  }
  .network__title {
    width: 100%;
  }
  .network__text {
    width: 100%;
  }
  .figure-container {
    width: 95%;
  }
  .network-tiles {
    figure {
      .network-tile__caption {
        width: 270px;
        padding: 10px 10px 20px;
        left: 5%;
        min-height: inherit;
      }

    }
  }
  .network-tile__caption:before {
    width: 352px;
    bottom: 3px;
  }
  .network-tile__title {
    font-size: 24px;
    line-height: 28px;
  }
  .network-tile__title--small {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .network-tile__caption:before {
    width: 325px;
    bottom: 3px;
  }
}


@media screen and (max-width: 320px) {
  .network-tile__caption:before {
    width: 275px;
    bottom: 3px;
  }
}