.plan {
    height: 526px;
    margin: 0px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-position-y: 33% !important;
    .row {
        width: 60%;
    }
}

.plan__container {
    @extend .club__container ;
}

.plan__content {
    background: $white;
    max-width: 600px;
    padding: 40px 45px;

    @media screen and (max-width: 576px) {
        padding: 20px;
    }
}

.plan--margin-b-50 {
    @extend .subscription--margin-b-50 ;
}
.plan__title {
    @extend .subscription__title ;
}
.plan__text {
    @extend .subscription__text ; 
    margin: 0;
    width: 100%;

    p {
        color: $grey;
        font-weight: 400;
    }
}

@media screen and (max-width: 1200px) {
    .plan {
        .row {
            width: 80%;
        }

        .plan__text {
            width: 100%;
        }
    }
}
@media screen and (max-width: 420px){
    .plan {
        margin: 0;
        //background: none !important; //TODO to refactor waiting for BO admin image

        .row {
            //background-color: #f7f7f7;
            width: 100%;
            padding-top: 50px;
        }
        .plan__container {
            padding-left: 0;
            padding-right: 0;
            padding-top: 15px;
            max-width: 100%;
            //background-image: url('/images/home_good_plans_banner.png') !important; //TODO to refactor waiting for BO admin image
            background-size: cover; //TODO to refactor waiting for BO admin image
            button {
                width: 249px;
                margin: 0 auto;
            }
        }
        .plan__mobile-bg {
            //height: 392px;
        }
        .plan__text {
            width: 95%;
            margin: 0 auto;
            p {
                font-size: 16px;
            }
        }
        .plan__outer-title {
            margin: 0 auto;
            padding-bottom:30px;
        }
        .plan__title {
            text-align: center;
        }
        .plan__title:after {
            left: 50%;
            transform: translateX(-50%);
        }

        .plan__btn {
            margin: 0 auto;
            width: 249px;
        }

    }
}