.presentation-container {
  padding-bottom: 80px;
  padding-left:0px;
}

.presentation--container__desc {
  padding-left: 5px;
  margin: 0;
  width: 80%;
}

.presentation--container__title {
  padding-left: 0px;
}

.presentation-container_content {
  img {
    width: 100%;
    max-height: 600px;
  }
}


img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .presentation-container {
    padding: 0px 15px 80px 15px;
  }

  .presentation--container__desc {
    width: 100%;
    padding-top:80px;
  }

  .presentation-container {

    .presentation-container_content {
    }
    img {
      padding: 0;
    }

    .presentation__title {
      text-align: center;
    }

    .presentation--container__desc {
      max-width: inherit;
      padding-left:0px;
    }

    .presentation__title {
      &:after {
        left: 50%;
      }
    }
  }

}

@media (max-width: 768px) {
  .presentation-container {
    .presentation-container_content {
      flex-direction: column;
      display: flex;
      .row {
        flex-direction: column;
      }
      .presentation--container__title {
        width: 100%;
        margin: 0 auto;
      }
      img {
        max-width: 100%;
        height: auto;
        padding: 0;
      }
    }
  }
}

.presentation__title {
  @extend .subscription__title ;
}


@media screen and (max-width: 420px) {
  .presentation-container_content .presentation__title {
    margin-bottom: 30px;
  }

  .presentation--container__desc {
    width: inherit;
  }

  .presentation-container .presentation-container_content .row {
    flex-direction: column-reverse;
  }

  .presentation--container__desc {
    padding-top: 30px;
  }

  .concepts-tiles__body {
    margin: 15px 0 18px 0;
  }
  .concepts-tiles__body p {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
  .concepts-tiles__figcaption {
    padding: 20px 15px;
  }
  .concepts-tiles__header {
    padding-bottom: 15px;
    img {
      width: 105px;
      height: 41px;
    }
  }
  .concepts-tiles__header--bd-btm-orange {
    border-bottom: 2px solid #F37021;
  }

}
