/**
 **** Subscription band V2
 */
.subscription-band-v2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: 200px;
  padding: 10px 35px;
  background: $blue-main url('/images/home_special_offer_banner.png') no-repeat;
  background-size: cover;
  background-position-x: 20%;
  color: $white;
  text-transform: uppercase;

  @media screen and (max-width: 991px) {
    background-position-x: 35%;
  }

  @media screen and (max-width: 767px) {
    height: inherit;
    flex-wrap: wrap;
    padding: 30px 15px;
    justify-content: center;
    background: $blue-main url('/images/home_special_offer_banner_mobile.png') no-repeat 100% 100%;
  }

  @media screen and (max-width: 575px) {
    flex-direction: column;
    padding: 20px 15px;
  }
}

// Title
.subscription-band-v2__title {
  font-family: $helv-com-hv;
  font-size: 50px;
  line-height: 44px;
  max-width: 220px;
  
  @media screen and (max-width: 991px) {
    max-width: 170px;

    font-size: 40px;
  }

  @media screen and (max-width: 767px) {
    max-width: inherit;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  @media screen and (max-width: 575px) {
    font-size: 30px;
    margin-bottom: 18px;
    line-height: 30px;
  }
}

// Pricing
.subscription-band-v2__princing-container {
  display: flex;

  flex-direction: row;
  align-items: center;

  margin-left: 40px;

  @media screen and (max-width: 991px) {
    font-size: 25px;
  }

  @media screen and (max-width: 767px) {
    margin: 0;
  }

  @media screen and (max-width: 575px) {
    margin: 0 0 30px;
    flex-direction: column;
    align-items: center;
  }
}

// -- per month
.subscription-band-v2__princing-offer {
  background: $orange-main;
  padding: 20px 20px 8px;
}

.subscription-band-v2__start-from {
  font-family: $helv-com-lt;
  font-size: 18px;
}

.subscription-band-v2__offer-price {
  display: flex;
  margin-top: 4px;
}

.subscription-band-v2__euros {
  font-family: $helv-com-bd;
  font-size: 100px;
  line-height: 92px;
  letter-spacing: -10px;
  margin-right: 12px;

  @media screen and (max-width: 991px) {
    font-size: 85px;
  }

  @media screen and (max-width: 575px) {
    font-size: 70px;
    line-height: 70px;
  }
}

.subscription-band-v2__next-to-euros {
  display: flex;
  flex-direction: column;
}

.subscription-band-v2__cents {
  font-family: $helv-com-bd;
  font-size: 58px;
  line-height: 56px;

  @media screen and (max-width: 991px) {
    font-size: 35px;
  }

  @media screen and (max-width: 575px) {
    line-height: 40px;
  }
}

.subscription-band-v2__per-month {
  display: block;
  font-family: $helv-com-ro;
  font-size: 20px;
  line-height: 19px;

  @media screen and (max-width: 991px) {
    font-size: 18px;
  }
}

// -- discount
.subscription-band-v2__princing-discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  margin-left: 10px;
  padding: 15px 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-left: 20px;
  }

  @media screen and (max-width: 575px) {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.subscription-band-v2__discount-price {
  font-family: $helv-com-bd;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1px;
  color: $orange-main;
  margin-bottom: -10px;

  sup {
    font-size: 45px;

    @media screen and (max-width: 991px) {
      font-size: 35px;
    }
  }

  @media screen and (max-width: 991px) {
    font-size: 65px;
  }
}

.subscription-band-v2__discount-text {
  font-family: $helv-com-lt;
  font-size: 17px;
  line-height: 20px;
  padding: 0 10px;

  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
}

// Subscribe button
.subscription-band-v2__button {
  margin: 10px auto;

  a {
    padding: 11px 40px;
    font-size: 20px;
    border-radius: 34px;
    max-height: inherit;

    @media screen and (max-width: 991px) {
      padding: 11px 15px;
      font-size: 14px;
    }
  }
}

// Display the subscription band V2 as on mobile device
.subscription-band-v2--aside {
  height: inherit;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 15px;
  justify-content: center;
  background: $blue-main url('/images/home_special_offer_banner_mobile.png') no-repeat 100% 100%;

  // Title
  .subscription-band-v2__title {
    max-width: inherit;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 18px;
    line-height: 30px;
  }

  // Pricing
  // -- per month
  .subscription-band-v2__princing-container {
    margin: 0 0 30px;
  }

  .subscription-band-v2__euros {
    font-size: 70px;
    line-height: 70px;
  }

  .subscription-band-v2__cents {
    font-size: 35px;
    line-height: 40px;
  }

  .subscription-band-v2__per-month {
    font-size: 18px;
  }

  // -- discount
  .subscription-band-v2__princing-discount {
    margin-left: 7px;
  }

  .subscription-band-v2__discount-price {
    font-size: 65px;

    sup {
      font-size: 35px;
    }
  }

  .subscription-band-v2__discount-text {
    font-size: 14px;
  }

  // Subscribe button
  .subscription-band-v2__button {
    a {
      padding: 11px 15px;
      font-size: 14px;
    }
  }
}

//**** End subscription band V2

.subscription--margin-b-50 {
  margin-bottom: 50px;
}

.subscription-tiles {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .owl-carousel {
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }

  .single-offer {
    min-width: 330px;
    max-width: 375px;
    padding: 15px;
    @media screen and (max-width: 575px) {
      width: 100%;
      max-width: 575px;
      padding: 5px;
    }
    @media screen and (max-width: 350px) {
      min-width: 295px;
    }
  }

}

.subscription__text {
  width: 50%;
  margin: 0 auto;
}

.subscription--flex {
  @extend .container--flex ;
}

.subscription--flex-between {
  @extend .container--flex-between ;
}

.subscription--flex-around {
  @extend .container--flex-around ;
}

.subscription--flex-column {
  flex-direction: column;
}

.subscription__mention {
  margin-top: 40px;
}

.subscription__mention_body {
  display: block;
}

.subscription__mention_lnk {
  cursor: pointer;
}

.subscription__mention {
  .subscription__mention_up {
    display: none;
  }
}

.subscription__mention--active {
  .subscription__mention_up {
    display: inline-block;
  }

  .subscription__mention_down {
    display: none;
  }
}

.subscription__band {
  height: 175px;
  margin: 50px 0;
  background-position-y: 15% !important;
  padding: 10px;
  @media screen and (max-width: 1150px) {
    justify-content: space-between;
  }
}

.subscription__band--v2 {
  display: flex;
  align-items: center;
}

.subscription__band__title {
  color: $white;
  font-family: $helvetica-neue;
  font-size: 53px;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
  padding-left: 25px;
  @media screen and (max-width: 1150px) {
    padding-left: 20px;
    font-size: 45px;
    line-height: 50px;
  }
}

.subscription__band__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}

.subscription__band__infos .subscription__price {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background: $orange-fitness;
  color: $white;
  padding: 10px 20px;
}

.subscription__band__infos .subscription__price .subscription__start {
  color: $white;
  font-family: $gotham;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

.subscription__band__infos .subscription__price .subscription__euros {
  font-weight: 400;
  height: 85px;
  font-size: 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.subscription__band__infos .subscription__price .subscription__euros .subscription__euro {
  font-family: $gotham;
  font-size: 98px;
  font-weight: 900;
}

.subscription__band__infos .subscription__price .subscription__euros .subscription__cent {
  font-family: $gotham;
  font-weight: 500;
}

.subscription__band__infos .subscription__price .subscription__euros .subscription__star {
  font-family: $gotham;
  font-weight: 300;
}

.subscription__inner_price {
  line-height: 30px;
}

.subscription__month {
  color: $white;
  font-family: $gotham;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}

.subscription__offer {
  width: 126px;
  height: 126px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  margin-left: 15px;
}

.subscription__offer .subscription__percent {
  color: $orange-main;
  font-family: $gotham;
  font-weight: 900;
  font-size: 49px;
  line-height: 40.54px;
  margin-bottom: 8px;

  sup {
    font-size: 50%;
    font-weight: 500;
  }
}

.subscription__offer .subscription__discount {
  width: 100px;
  color: $white;
  font-family: $gotham;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.29px;
  line-height: 12.12px;
}

.subscription-tiles.row {
  margin: 0;
}

.subscription-tiles__item {
  transition: all .2s ease-in-out;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.subscription-tiles__item {
  border: 1px solid #ebebeb;
  padding: 0;

  @media screen and (min-width: 576px) {
    &-hover {
      border: 1px solid #bcbec0;
      transform: scale(1.1);
      z-index: 1;
      position: relative;
      box-shadow: 4px 5px 18px 3px rgba(13, 9, 8, 0.2);
    }
  }

}


.subscription-tiles__item-container {
  background-color: #ffffff;

  .subscription__btn {
    margin-top: auto;
  }
}

.subscription-tiles__metadatas {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  height: 370px;

  button {
    margin-top: 10px;
  }
}

.subscription-tiles__title {
  font-size: 30px;
  line-height: 32px;
  color: $blue-main;
  font-family: $montserrat;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.logo-offer {
  width: 100px !important;
  margin-left: auto;
  margin-right: auto;
}

.subscription-tiles__pricing {
  font-size: 48px;
  color: $orange-main;
  font-family: $montserrat;
  font-weight: bold;
  text-align: center;

  sub {
    bottom: 0;
    font-size: 60%;
  }

}
.subscription-tiles__pricing-devise {
    font-size: 40px;
}

.subscription-tiles__month {
  font-size: 14px;
  line-height: 26px;
  color: $grey;
  font-family: $montserrat;
  font-weight: normal;
  text-align: center;

  strong {
    font-weight: bold;
  }
}

.subscription-tiles__sub-pricing {
  font-size: 12px;
  color: $grey;
  font-family: $montserrat;
  font-weight: 300;
  text-align: center;
  min-height: 32px;
}

.subscription-tiles__sub-price {
  font-size: 26px;
  line-height: 19px;
  color: $orange-main;
  font-family: $montserrat;
  font-weight: bold;
  text-align: center;

  sub {
    bottom: 0;
    font-size: 60%;
  }
}

.subscription-tiles__tunnel {
  display: none;
}

.tunnel__content {
  .subscription-tiles__tunnel {
    display: block;
  }
}

.subscription__btn {
  margin: 0 auto;
}

.subscription-tiles__sub-month {
  strong {
    font-weight: bold;
  }
}

.subscription-tiles__border {
  width: 41px;
  min-height: 2px;
  background-color: #bbbdc0;
  margin: 10px auto;
}

.subscription-tiles__sub-pricing {
  p {
    font-size: 14px;
    line-height: 20px;
    color: $grey;
    font-family: $montserrat;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5px;

    strong {
      font-weight: bold;
      font-size: 18px;
    }
    &.subscription-tiles__sub-pricing-small{
      font-size: 12px;
    }
  }
}

.subscription-tiles__line-through {
  text-decoration: line-through;
}

.subscription-tiles__no-line {
  font-size: 20px;
  font-family: $montserrat;
  font-weight: bold;
  color: $orange-main;

  sub {
    bottom: 0;
    font-size: 60%;
  }
}

.subscription__description {
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 18px;
    line-height: 26px;
    color: $grey;
    font-family: $montserrat;
    font-weight: bold;
  }

  ul {
    padding-left: 20px;

    li:first-of-type {
      margin-top: 20px;
    }

    li {
      font-size: 14px;
      line-height: 14px;
      color: $grey;
      font-family: $montserrat;
      font-weight: normal;
      margin-bottom: 30px;
      list-style-image: url('/images/check.png');
    }
  }
}

.subscription__switch {
  margin: 50px 0;
}


@media(max-width: 768px) {
  .subscription__band__infos .subscription__price {
    color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  .switch {
    width: initial;
    justify-content: center;
  }

  .subscription__description {
    align-self: center;
  }
  .subscription__band {
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
  }
  .subscription__band__infos {
    align-items: flex-end;
    padding-right: 0;
    justify-content: flex-end;
    padding-left: 0;
    width: 350px;
  }
  .subscription__band__title {
    width: 302px;
    font-size: 42px;
    line-height: 43.29px;
  }
}

@media screen and (max-width: 769px) {
  .switch {
    width: initial;
    justify-content: center;
  }

}

@media screen and (max-width: 768px) {
  .subscription__btn, .subscription__description {
    margin: 0 auto;
  }
  .subscription__band {
    background: url('/images/home_special_offer_banner.png') no-repeat top center !important;
    background-size: cover !important;
    width: 100%;
    height: 320px;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
  }
  .subscription__band__infos {
    flex-direction: column;
    width: 220px;
  }
  .subscription__start {
    color: $grey;
  }
  .subscription__band__title {
    width: 250px;
    font-size: 30px;
    line-height: 46.29px;
  }
  .subscription__band__infos .subscription__price {
    margin-bottom: 25px;
  }
}


@media screen and (max-width: 550px) {
  .subscription__band {
    background: url('/images/home_special_offer_banner.png') no-repeat center !important;
    background-size: cover !important;
    width: 100%;
    height: 392px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: flex-end;
    flex-direction: column;
  }
  .subscription__band__title {
    width: 300px;
    font-size: 42px;
    line-height: 42.29px;
    margin-bottom: 10px;
    margin-top: 0;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .subscription__band__infos {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .subscription__band__infos .subscription__price {
    margin-bottom: 25px;
  }
  .subscription__band__infos .subscription__price .subscription__euros {
    font-size: 26px;
    height: 58px;
  }
  .subscription__band__infos .subscription__price .subscription__euros .subscription__euro {
    font-size: 80px;
  }
}

@media screen and (max-width: 420px) {

  .subscription__band__infos .subscription__price .subscription__start {
    color: $grey;
  }

  .subscription__title {
    font-size: 24px;
  }

  .subscription-tiles {
    flex-wrap: wrap;
  }

  .subscription__title:after {
    content: '';
    width: 70px;
    height: 4px;
    bottom: -15px;
    background-color: #007ac1;
  }
  .subscription__text {
    width: 95%;

    p {
      font-size: 14px;
      text-align: left;
    }
  }
  .subscription__band {
    background: url('/images/home_special_offer_banner.png') no-repeat top center !important;
    background-size: cover !important;
    width: 100%;
    height: 419px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .subscription__band__title {
    width: 222px;
    font-family: $helvetica-neue;
    font-size: 30px;
    line-height: 39.29px;
    padding-left: 0;
    margin-right: 30px;
    text-align: left;
    padding-right: 0;
  }
  .subscription__band__infos {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0;
  }
  .subscription__band__infos .subscription__price {
    margin-bottom: 25px;
  }
  .subscription__band__infos .subscription__price .subscription__euros {
    font-size: 26px;
    height: 58px;
  }
  .subscription__band__infos .subscription__price .subscription__euros .subscription__euro {
    font-size: 80px;
  }
  .btn__price {
    padding: 11px 25px;
    margin-top: 20px;
    margin-right: 0;
  }
  .subscription__start {
    font-size: 16px;
  }
  .subscription__month {
    font-size: 23px;
  }
  .subscription__offer {
    margin-right: 18px;
    margin-bottom: 15px;
  }

  .subscription__switch {
    margin: 25px auto;
    width: 90%;
  }
  .switch {
    width: initial;
    justify-content: center;
  }

  .subscription-tiles__metadatas {
    padding: 20px 15px 30px 15px;

    .subscription-tiles__title {
      font-size: 22px;
      line-height: 31.76px;
      margin-bottom: 20px;
    }
  }

  .subscription-tiles__pricing {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .subscription-tiles__month {
    font-size: 13px;
  }
  .subscription-tiles__sub-price {
    font-size: 18px;
  }
  .subscription-tiles__sub-pricing {
    p {
      font-size: 13px;
      margin-bottom: 2px;

      strong {
        font-size: inherit;
      }
    }
  }
  .word-mobile {
    display: none;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #636467 !important;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    width: 17px;
    height: 17px;
    margin: 5px 5px;
  }

  .subscription__description {
    padding: 20px 0 0 0;
    width: 93%;
    margin: 0 auto;
  }
  .subscription__description p {
    font-size: 16px;
  }
  .subscription__description ul li {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .subscription__mention {
    padding: 20px 0 0 0;
    width: 93%;
    margin: 0 auto;
  }
}
