.container__wellness_title {
  color: $blue-main;
  font-size: 20px;
  font-weight: 700;
}

.wellness-presentation__title {
  color: #77c3ed;
  margin-bottom: 15px;
}

.wellness-lnk {
  display:inline;
  max-width: 310px;
}

.wellness-illustration {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 249px;
    height: 98px;
    background: url("/images/logo-ob-mcw-fondblanc.svg") no-repeat center right;
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}

.wellness-illustration__image {
  box-shadow: 4px 6px 18px 3px rgba(13, 9, 8, 0.19);
}

.wellness-list {
  list-style: none;
  padding-left:0px;
}

.wellness-list__item {
  color: $grey;
  padding-bottom:20px;

  img {
    width: 25px;
    height: 25px;
    margin-right:10px;
  }
}

.container__wellness {
  padding-top:50px;
}

.wellness-content {
  height: 100%;
}

@media screen and (max-width: 991px) {
  .wellness-illustration {
    text-align: center;
    max-width: 570px;
    margin: 0 auto 30px;
  }

  .wellness-content {
    margin: 0 auto;
    max-width: 570px;
  }
}

@media(max-width: 768px) {
  .wellness-presentation__title {
    padding: 20px 0;
    width: 100%;
  }

  .wellness-illustration {
    text-align: center;
  }
}

@media(max-width: 575px) {
  .wellness-lnk {
    display: inline-block;
    max-width: inherit;
    font-size:12px;
    text-align: center;
  }

  .wellness-list__item {
    font-size: 12px;
  }

  .wellness-presentation__desc {
    font-size: 14px;
  }

  .container__wellness {
    padding-top:20px;
  }
}
