.list-header--content {
    background: url("/images/teamclub.png") no-repeat;
    background-size: cover;
    background-position: 23% 23%;
    width: 100%;
    height: 400px;
    position: relative;
}

.title--overlay--centered {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.content {
    padding: 10px;
}

.content__text {
    color: #004589;
    font-size: 24px;
    font-weight: 700;
}

.contact_field {
    margin: 15px auto;
    max-width: 100%;
    padding: 0;
}

.contact_field__input {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    height: 50px;
    border: 1px solid #707070;
    background: #ffffff;
    appearance: none;
    @media screen and (max-width: 720px) {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

.contact_field__input--lg {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid #707070;
    background: #ffffff;
    appearance: none;
}

select.contact_field__input--lg {
    background: #ffffff url("/images/arrow_down.svg") 98% no-repeat;
}

textarea.contact_field__input--lg {
    height: 150px;
}

.contact-btn {
    float: right;
    width: 200px;
    margin-bottom: 30px;
}
