.open-club {
    height: 720px;
    position: relative;

    @media screen and (max-width: 1196px) {
        height: 965px;
    }
    @media screen and (max-width: 410px) {
        height: 1024px;
    }

    .cms-row {
        position: absolute;
        bottom: -30px;
        z-index: 2;
        width: 100%;
        left: 0;
    }
}
.open-club__form {
    display: flex;
    justify-content: center;


    .modal-content {
        width: 770px;
        border: none;
        border-radius: 0;
        box-shadow: 4px 6px 21px rgba(13, 9, 8, 0.19);

        .mt-modal {
            .in_text__label, .in_popover .in_popover__label {
                left: 15px;
            }
            .in_textarea {
                padding-top: 10px;
                padding-left: 5px;
                .in_textarea__input {
                    padding-top: 15px;
                }
                .in_textarea__input:focus ~ .in_text__label {
                    top: 0;

                    @media screen and (max-width: 1196px) {
                        top: 15%;
                    }
                }
                .in_textarea__input:valid:not(.is-empty) ~ .in_text__label {
                    top: 0;

                    @media screen and (max-width: 1196px) {
                        top: 15%;
                    }
                }
                .in_text__label {
                    left: 30px;
                    top: 15%;

                    @media screen and (max-width: 1196px) {
                        top: 25%;
                    }
                }
            }
        }

        .modal-title {
            font-size: 24px;
            color: $grey-dark;
        }
    }

    .content-button {
        margin-top: 20px;
    }
    
    .content-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .content-button .file-upload .file-select {
        position: relative;
    }
    .content-button .button-file-select {
        display: flex;
        align-items: center;
    }
    .content-button .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .file-select .custom-file-input {
        display: initial;
    }

    .file-upload {
        width: 100%;
    }

    .col-spe {
        border: 1px solid #005b98;
        position: relative;

        @media screen and (max-width: 1196px) {
            margin-bottom: 20px;
            padding: 20px 0;
        }

    }

    .over-label {
        top: -9px;
        font-size: 12px;
        color: #005b98;
        background-color: white;
        padding: 0px 5px;
        left: 15px;
        position: absolute;
    }

    @media screen and (max-width: 1196px) {
        .button-file-select {
            flex-direction: column;
        }
        .open-clu__btn {
            max-width: 100%;
        }
    }

    .open-club__lnk {
        font-size: 13px;
        position: relative;
        font-weight: normal;

        &::before {
          content: "";
          display: block;
          height: 6px;
          width: 13px;
          background: url("/images/arrowblue.png") no-repeat center center;
          position: absolute;
          right: -18px;
          top: 50%;
          transform: translateY(-50%);
        }
    }

    .lnk-flex {
        @media screen and (max-width: 1196px) {
            justify-content: center;
        }
    }

    .in_checkbox__label--2 {
        color: #8f8e8f;
        width: 90%;
        text-align: left;
        padding-left: 26px;

        &:before {
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
        }
    }

    button[type="submit"] {
        min-width: 290px;
        font-weight: 400;
    }
}
