<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Lens : Fitness et Musculation | L'Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Lens ? Retrouvez tous les clubs L'Orange Bleue à Lens et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Lens</p>

<p>Trouvez votre salle de sport à Lens</p>

<p>Vous êtes à la recherche d’une <strong>salle de sport à Lens</strong> ? L’Orange Bleue vous accueille, que vous soyez à la recherche d’un club proche du centre-ville ou de la périphérie. Venez vous dépenser quand bon vous semble, grâce nos horaires étendus vous permettant d’adapter votre pratique sportive à votre emploi du temps.</p>

<p>L’Orange Bleue, c’est une <strong>salle de musculation à Lens</strong> basée sur 3 concepts complémentaires : cardio training, cours collectifs et musculation. De quoi vous aider à atteindre vos objectifs en un rien de temps ! Le tout, dans une ambiance conviviale et chaleureuse. Parce que faire du sport dans une bonne ambiance, c’est important !</p>

<p>De plus, bénéficiez d’un suivi inégalé dans vos <strong>salles de sport à Lens</strong>. Nos coachs, diplômés d’État, sont à votre disposition pour vous aider. Que vous ayez besoin de conseils ou d’un programme personnalisé, vos coachs vous permettent d’atteindre vos objectifs en toute sécurité.</p>

<p>Envie de découvrir L’Orange Bleue, son concept et son ambiance unique ? Profitez d’une séance gratuite dans votre <strong>salle de fitness à Lens</strong>. Pour cela, rien de plus simple, rendez-vous dans votre club !</p>


<table>
<tbody>
<tr class="odd">
<td></td>
<td><p><em><strong>Votre interlocuteur</strong></em></p>
<p><em><strong>David Gestin-Hamonic</strong></em></p>
<p><em><strong>Rédacteur web</strong></em></p>
<p><em><strong>dgestin-hamonic@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

