<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Poitiers : Fitness et Musculation | L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Poitiers ? Retrouvez tous les clubs L'Orange Bleue à Poitiers et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Poitiers</p>

<p>Trouvez votre salle de sport à Poitiers</p>

<p>Vous êtes perdu parmi les nombreuses <strong>salles de sport de Poitiers</strong> ? Ne cherchez plus et découvrez L’Orange Bleue : un club où vous pouvez pratiquer votre activité sportive favorite dans une ambiance chaleureuse. <strong>Salle de musculation à Poitiers</strong>, L’Orange Bleue dispose également de tous les services et équipements d’une salle de fitness.</p>

<p>Le club s’articule en trois espaces bien définis : un plateau de musculation, un espace cardio et une pièce pour les cours collectifs. Encadrées par des coachs diplômés d’État, les séances en groupe sont un bon moyen de se motiver et de relever des challenges. Véritable <strong>salle de fitness à Poitiers</strong>, L’Orange Bleue propose des cours d’abdos fessiers, step, stretching… Les cours collectifs appelés les Yako sont renouvelés tous les 2 mois et près de 50 cours collectifs hebdomadaires sont proposés.</p>

<p>Autres avantages de L’Orange Bleue : la possibilité d’être accompagné de manière personnalisée par les coachs diplômés d’État et de profiter du sauna, le bonus réconfort si appréciable après l’effort ! Pour découvrir le club L’Orange Bleue et tester son fonctionnement, rien de mieux que de profiter de la séance de découverte gratuite.</p>



<table>
<tbody>
<tr class="odd">
<td><img src="media/image1.jpeg" style="width:2in;height:2in" /></td>
<td><p><em><strong>Votre interlocutrice</strong></em></p>
<p><em><strong>Gwenaël Cohignac</strong></em></p>
<p><em><strong>Rédactrice web</strong></em></p>
<p><em><strong>gcohignac@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

