<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Dijon : Fitness et Musculation | L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Dijon ? Retrouvez tous les clubs L'Orange Bleue à Dijon et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Dijon</p>

<p>Trouvez votre salle de sport à Dijon</p>

<p>Vous êtes à la recherche d’une <strong>salle de sport à Dijon</strong> ? Vous souhaitez pratiquer une activité physique régulière ? Que vous soyez en centre-ville ou en périphérie, quel que soit votre âge, du débutant à l’expert, vous êtes le bienvenu dans nos <strong>salles de sport à Dijon</strong>. Profitez des nombreuses activités de remise en forme proposées !</p>

<p>Vous êtes adepte de la musculation ? Votre <strong>salle de fitness à Dijon</strong> vous propose de nombreuses activités. L’espace cardio permet de s’échauffer, travailler son endurance, ou encore sa perte de poids. L’espace musculation permet de travailler l’ensemble du corps avec des mouvements sollicitant toutes les chaînes musculaires. L’espace cours collectifs permet de profiter de cours avec des coachs diplômés d’État, pour un accompagnement personnalisé de qualité.</p>

<p>Profitez de votre programme personnalisé préparé par votre coach certifié en fonction de votre motivation, fragilités et disponibilités. Quel que soit votre objectif, votre coach aura la méthode d’entraînement vous permettant de le réaliser. Une séance découverte vous est offerte dans votre <strong>salle de musculation à Dijon</strong>.</p>







<table>
<tbody>
<tr class="odd">
<td></td>
<td><p><em><strong>Votre interlocutrice</strong></em></p>
<p><em><strong>Laurie Kerleroux</strong></em></p>
<p><em><strong>Chargée de contenu web</strong></em></p>
<p><em><strong>lkerleroux@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>


