<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Lorient : Fitness et Musculation | L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Lorient ? Retrouvez tous les clubs L'Orange Bleue à Lorient et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots-clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Lorient</p>

<p>Trouvez votre salle de sport à Lorient</p>

<p>À la recherche d’une <strong>salle de sport à Lorient</strong> pour vous muscler, vous affiner, vous tonifier ? Avec un plateau complet tout équipé, L’Orange Bleue est une véritable <strong>salle de musculation à Lorient</strong>, mais c’est aussi une <strong>salle de fitness de Lorient</strong>. Pour optimiser un entraînement en vue d’une compétition ou pour une remise en forme : le club s’adapte aux sportifs de tous les âges et de tous les niveaux.</p>

<p>En vous inscrivant à L’Orange Bleue, vous pourrez profiter des trois espaces dédiés : cardio, musculation et cours collectifs. Très complet, le plateau de musculation est idéal pour gagner en masse musculaire et vous faire progresser. Conviviales et motivantes, les séances de sport en groupe sont renouvelées régulièrement et encadrées par des coachs diplômés d’État. Du gainage à la relaxation, le panel de cours collectifs est assez varié pour répondre à tous les objectifs. En bonus : l’accès au sauna pour la détente après l’effort.</p>

<p>L’atout de L’Orange Bleue parmi les <strong>salles de sport de Lorient</strong> : le coaching personnalisé et le suivi des adhérents par des professeurs agréés. Attentifs aux besoins et aux attentes de chacun, ils peuvent définir avec vous un programme sportif sur mesure.</p>




<table>
<tbody>
<tr class="odd">
<td><img src="media/image1.jpeg" style="width:2in;height:2in" /></td>
<td><p><em><strong>Votre interlocutrice</strong></em></p>
<p><em><strong>Gwenaël Cohignac</strong></em></p>
<p><em><strong>Rédactrice web</strong></em></p>
<p><em><strong>gcohignac@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

