<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Royan : Fitness et Musculation | L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description</strong></td>
<td>Vous cherchez une salle de sport à Royan ? Retrouvez tous les clubs L'Orange Bleue à Royan et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Royan</p>

<p>Trouvez votre salle de sport à Royan</p>

<p>Vous avez envie de vous remettre au sport et cherchez une <strong>salle de sport à Royan</strong> ? Découvrez L’Orange Bleue, un club où chacun peut venir pratiquer une activité sportive dans une ambiance chaleureuse, quel que soit son niveau. Leader des salles de fitness en France, L’Orange Bleue dispose aussi d’une <strong>salle de musculation à Royan</strong>.</p>

<p>Dans chaque club L’Orange Bleue, vous pourrez accéder à trois espaces dédiés à un type d’activité spécifique : le cardio, le plateau de musculation et la salle réservée aux cours collectifs. L’espace destiné à la musculation est équipé de machines s’adaptant à tous les niveaux pour tonifier l’ensemble du corps ou travailler une partie ciblée. Véritable <strong>salle de fitness à Royan</strong>, L’Orange Bleue dispense une cinquantaine de cours hebdomadaires, encadrés par des coachs diplômés d’État.</p>

<p>Ne cherchez plus parmi les <strong>salles de sport de Royan</strong> et poussez la porte de L’Orange Bleue. Profitez de la séance de découverte gratuite pour tester un cours et discuter de vos objectifs avec l’équipe de L’Orange Bleue. Tous les coachs sont en mesure de concevoir un programme personnalisé adapté à votre niveau, vos objectifs et votre condition physique.</p>


<table>
<tbody>
<tr class="odd">
<td><img src="media/image1.jpeg" style="width:2in;height:2in" /></td>
<td><p><em><strong>Votre interlocutrice</strong></em></p>
<p><em><strong>Gwenaël Cohignac</strong></em></p>
<p><em><strong>Rédactrice web</strong></em></p>
<p><em><strong>gcohignac@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

