<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salle de sport à Chambéry : fitness et musculation| L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Chambéry ? Retrouvez tous les clubs l'Orange Bleue à Chambéry et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots-clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p><strong>salle de sport + %ville% </strong></p>
<p><strong>salles de sport + %ville% </strong></p>
<p><strong>salle de fitness + %ville% </strong></p>
<p><strong>salle de musculation + %ville%</strong></p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Chambéry</p>

<p>Trouvez votre salle de sport à Chambéry</p>

<p>Vous êtes à la recherche d’une <strong>salle de fitness à Chambéry</strong> pour reprendre une activité physique ou pour travailler en complément d’un sport de compétition ? L’Orange Bleue vous ouvre les portes de ses clubs. Quel que soit votre rapport au sport, vous trouverez dans nos <strong>salles de sport à Chambéry</strong> le matériel nécessaire et les coachs qui s’adapteront à vos envies. Reprise du sport en douceur, volonté d’atteindre un objectif personnel, prise de masse musculaire… Tous les profils de sportifs sont les bienvenus à L’Orange Bleue.</p>

<p>Comme tous les clubs L’Orange Bleue, la <strong>salle de sport de Chambéry</strong> est équipée de trois espaces distincts pour vous offrir une complémentarité dans votre pratique sportive. Pour gagner en endurance et transpirer, la salle de cardio est à votre disposition. Si vous n’aimez pas faire du sport seul, participez aux cours collectifs. Votre objectif est de sculpter votre corps, <strong>la salle de musculation de Chambéry</strong> vous attend.</p>

<p>Venez tenter l’expérience L’Orange Bleue en profitant d’une première séance d’essai gratuite. Elle sera animée par un vrai coach, diplômé d’État, à l’écoute de vos objectifs au quotidien.</p>

<table>
<tbody>
<tr class="odd">
<td><img src="media/image1.jpeg" style="width:1.83333in;height:1.83333in" /></td>
<td><p><em><strong>Votre interlocuteur</strong></em></p>
<p><em><strong>Marc Durel</strong></em></p>
<p><em><strong>Rédacteur web</strong></em></p>
<p><em><strong>mdurel@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

