<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Auray : Fitness et Musculation | L'Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Auray ? Retrouvez tous les clubs L'Orange Bleue à Auray et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Auray</p>

<p>Trouvez votre salle de sport à Auray</p>

<p>Vous êtes à la recherche d’une <strong>salle de fitness à Auray</strong> ? L’Orange Bleue vous propose, grâce à un concept unique, le lieu idéal pour votre pratique sportive. Bénéficiez d’un accès privilégié à votre club grâce à des horaires pensés pour s’adapter à votre emploi du temps et à un emplacement toujours plus proche de vous.</p>

<p>Vous êtes adepte de la musculation, fan de cardio trainings ou vous adorez vous dépenser en groupe lors de cours collectifs ? L’Orange Bleue, votre <strong>salle de musculation à Auray</strong>, vous propose tout le matériel nécessaire pour atteindre vos objectifs sportifs. En prime, nos espaces de détente sauront vous apporter une dose de réconfort après l’effort.</p>

<p>Parmi les <strong>salles de sport à Auray</strong>, L’Orange Bleue vous offre un accompagnement inégalé. Nos coachs sportifs, diplômés d’État, vous offrent conseils, programmes personnalisés et cours collectifs, le tout dans une bonne ambiance !</p>

<p>N’hésitez plus, venez découvrir L’Orange Bleue, votre <strong>salle de fitness à Auray</strong> lors d’une séance d’essai entièrement gratuite. Rendez-vous dans votre club !</p>




<table>
<tbody>
<tr class="odd">
<td></td>
<td><p><em><strong>Votre interlocuteur</strong></em></p>
<p><em><strong>David Gestin-Hamonic</strong></em></p>
<p><em><strong>Rédacteur web</strong></em></p>
<p><em><strong>dgestin-hamonic@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

