<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Vitrolles : Fitness et Musculation | L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description </strong></td>
<td>Vous cherchez une salle de sport à Vitrolles ? Retrouvez tous les clubs L'Orange Bleue à Vitrolles et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots-clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Vitrolles</p>

<p>Trouvez votre salle de sport à Vitrolles</p>

<p>Envie d’entretenir votre capital santé en pratiquant une activité physique régulière ? Parmi les <strong>salles de sport à Vitrolles</strong>, le club L’Orange Bleue vous propose un large choix d’activités sportives, de la plus tonique à la plus relaxante. Idéalement localisée, cette <strong>salle de sport de Vitrolles</strong> reste accessible à ses adhérents sur une large amplitude horaire. L’idéal pour organiser ses séances de sport dans son emploi du temps.</p>

<p>Faire de chaque effort physique un réel plaisir est la promesse des clubs L’Orange Bleue. Ils sont tous conçus pour un maximum de praticité et de confort. La salle est divisée en trois espaces distincts dédiés à une activité précise : cardio, musculation et cours collectifs. Véritable <strong>salle de musculation à Vitrolles</strong>, le club est équipé d’un plateau complet de musculation avec des machines permettant de travailler des parties du corps ciblées. Pour se motiver en groupe, près de 50 cours collectifs sont dispensés au sein du club par des coachs diplômés d’État.</p>

<p>Ne cherchez plus votre <strong>salle de fitness à Vitrolles</strong> et venez tester l’Orange Bleue grâce à la séance de découverte gratuite. Dans une ambiance chaleureuse et dynamique, faites le plein d’énergie !</p>

<table>
<tbody>
<tr class="odd">
<td><img src="media/image1.jpeg" style="width:2in;height:2in" /></td>
<td><p><em><strong>Votre interlocutrice</strong></em></p>
<p><em><strong>Gwenaël Cohignac</strong></em></p>
<p><em><strong>Rédactrice web</strong></em></p>
<p><em><strong>gcohignac@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

