<table>
<thead>
<tr class="header">
<th><strong>Title </strong></th>
<th>Salles de sport à Chartres : Fitness et Musculation | L’Orange Bleue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Meta description</strong></td>
<td>Vous cherchez une salle de sport à Chartres ? Retrouvez tous les clubs L'Orange Bleue à Chartres et pratiquez l'activité sportive de votre choix : Fitness, Musculation, Cardio…</td>
</tr>
<tr class="even">
<td><strong>Mots clés à intégrer (à ne pas insérer dans le code source)</strong></td>
<td><p>salle de sport + %ville%</p>
<p>salles de sport + %ville%</p>
<p>salle de fitness + %ville%</p>
<p>salle de musculation + %ville%</p></td>
</tr>
</tbody>
</table>

<p>XX salles de sport à : Chartres</p>

<p>Trouvez votre salle de sport à Chartres</p>

<p>Envie de vous inscrire dans une <strong>salle de sport à Chartres</strong> ? Le club L’Orange Bleue vous permet de profiter librement des installations, équipements et cours collectifs. Un vrai avantage pour ceux qui veulent organiser leurs séances sportives comme ils le souhaitent. <strong>Salle de musculation à Chartres</strong>, L’Orange Bleue est aussi une salle de fitness.</p>

<p>Découvrez une nouvelle façon de faire du sport avec L’Orange Bleue ! Le club vous accueille dans un espace intégralement dédié au sport. Pour plus de confort, le club est divisé en trois parties : un espace cardio avec des appareils destinés à tonifier, entretenir ou améliorer votre endurance, un plateau de musculation et une salle réservée aux cours collectifs. <strong>Salle de fitness à Chartres</strong>, L’Orange Bleue propose plus de 50 cours collectifs hebdomadaires animés par des coachs diplômés d’État, professionnels et dynamiques.</p>

<p>Sport intensif en vue d’une compétition, sport plaisir, sport pour se remettre en forme : à L’Orange Bleue, l’équipe s’adapte à vos objectifs à travers un programme personnalisé. Optez pour la plus conviviale des <strong>salles de sport de Chartres</strong>, L’Orange Bleue !</p>


<table>
<tbody>
<tr class="odd">
<td><img src="media/image1.jpeg" style="width:2in;height:2in" /></td>
<td><p><em><strong>Votre interlocutrice</strong></em></p>
<p><em><strong>Gwenaël Cohignac</strong></em></p>
<p><em><strong>Rédactrice web</strong></em></p>
<p><em><strong>gcohignac@mediaveille.com</strong></em></p></td>
</tr>
</tbody>
</table>

